!
!
!
! This file contains the resource text strings for the IBM Network Station 3270 and 5250
! emulators, in particular the color mapping program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5ColM.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with ColorMap* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

ColorMap*title: 			Definição das Cores

! icons
ColorMap*iname3270:                     Definição das Cores de 3270
ColorMap*iname5250:                     Definição das Cores de 5250


ColorMap*corrupt:               O ficheiro de cores foi danificado

ColorMap*lowMemMsgDialog.messageString:  Memória insuficiente para iniciar Visualizador da Ajuda.

ColorMap*okLabelString: OK

ColorMap*cancelLabelString: Cancelar

!*******************************************************************************
!**     Preferences area resources (top of window)                            **
!*******************************************************************************
ColorMap*modeInstructions.labelString:  Seleccione a função de definição das cores:

ColorMap*Basic.labelString:             Básica

ColorMap*Advanced.labelString:          Avançada


!*************************************************************
!**   Basic and advanced action bar area resources          **
!*************************************************************
ColorMap*actionForm.saveButton.labelString:  	Guardar

ColorMap*actionForm.deleteButton.labelString:   Eliminar

ColorMap*actionForm.applyButton.labelString:    Aplicar Alterações à Sessão

ColorMap*actionForm.quitButton.labelString:     Sair

ColorMap*actionForm.helpButton.labelString:     Ajuda


!************************************************
!**  Basic and advanced color savebox          **
!************************************************
ColorMap*saveBoxLabel.labelString:         Seleccione uma opção de guardar:

ColorMap*saveBoxToggle1.labelString:       Guardar como valor assumido para todas as sessões

ColorMap*saveBoxToggle2.labelString:       Guardar apenas para esta sessão

ColorMap*saveBoxSaveBtn.labelString:  	   Guardar

ColorMap*saveBoxCancelBtn.labelString:     Cancelar

ColorMap*advancedSaveBoxLabel.labelString: Introduza o nome de um ficheiro de cores avançadas:

! Characters in file names must be 819 (ISO8859-1)
ColorMap*invalidFileName.value:            O carácter que introduziu não é válido num nome de ficheiro.

ColorMap*invalidFileNameOkbutton.labelString:  OK

!****************************************
!**  Overwrite existing file dialog    **
!****************************************
ColorMap*fileWarningDialog.dialogTitle:        Aviso de Definição das Cores

ColorMap*fileWarningDialog.messageString:      O ficheiro já existe. Pode ser substituído?

ColorMap*fileWarningDialog.okLabelString:      Sim

ColorMap*fileWarningDialog.cancelLabelString:  Não



!***************************************
!**  Basic color work area            **
!***************************************
ColorMap*basicListLabel.labelString:        Escolha um esquema de cores:

! The following two resource lines are a late addition to the color mapping resource file (March 12, 1998).  These indicate color map files that came from a system level or user created color map files.
ColorMap*systemLabel:                       Sistema:

ColorMap*userLabel:                         Utilizador:

ColorMap*ibmBlack:                          IBM: Fundo preto

ColorMap*ibmDarkGrey:                       IBM: Fundo cinzento escuro

ColorMap*ibmLightGrey:                      IBM: Fundo cinzento claro

ColorMap*ibmLight:                          IBM: Fundo claro

ColorMap*ibmLightBlue:                      IBM: Fundo azul claro



!******************************************
!**  Advanced color work area            **
!******************************************
ColorMap*advancedListLabel.labelString:     Seleccione um elemento a alterar:

! The following 22 *adv type resources are limited in size; they should not exceed 28 characters.
ColorMap*advMenuBarBack:                    Fundo da barra de menus

ColorMap*advMenuBarFore:                    Primeiro plano da barra de menus

ColorMap*advMainSess:                       Fundo da sessão principal

ColorMap*advPushbut:                        Fundo do botão de pressão

ColorMap*advBlue:                           Texto azul

ColorMap*advGreen:                          Texto verde

ColorMap*advPink:                           Texto rosa

ColorMap*advRed:                            Texto vermelho

ColorMap*advTurq:                           Texto turquesa

ColorMap*advWhite:                          Texto branco

ColorMap*advYellow:                         Texto amarelo

ColorMap*advCursor:                         Cursor

ColorMap*advMouse:                          Ponteiro do Rato

ColorMap*advRule:                           Linha da Régua

ColorMap*advStatLineBack:                   Fundo da linha de estado

ColorMap*advStatLineFore:                   Primeiro plano da linha de estado

ColorMap*advMonoImageBack:                  Fundo de imagem monocromático

ColorMap*advMonoImageFore:                  Primeiro plano de imagem monocromático

! Nota: cor de primeiro plano usada para janelas de programas auxiliares
ColorMap*advAssistFore:                     Primeiro plano de programa auxiliar

! Nota: fundo de botão para janelas de programa auxiliar
ColorMap*advAssistForm:                     Botão de programa auxiliar

! Nota: cor principal de fundo para janelas de programa auxiliar
ColorMap*advAssistPrimary:                  Primário de programa auxiliar

! Nota: cor de fundo da área de entrada para as janelas de programa auxiliar
ColorMap*advAssistEntry:                    Entrada de programa auxiliar


ColorMap*red.titleString:                   VERMELHO

ColorMap*green.titleString:                 VERDE

ColorMap*blue.titleString:                  AZUL

ColorMap*currentColorLabel.labelString:     Cor Actual

ColorMap*applyCurrentColor.labelString:     Aplicar Cor Actual


!************************************
!**  Delete file dialog            **
!************************************
ColorMap*deleteDialog.deleteBoxDeleteBtn.labelString:  Eliminar

ColorMap*deleteDialog.deleteBoxCancelBtn.labelString:  Cancelar

! title of delete dialog
ColorMap*deleteDialog.dialogTitle:                     Eliminar Ficheiro de Definição de Cores

ColorMap*deleteDialog.deleteBoxLabel.labelString:      Seleccione o(s) ficheiro(s) a eliminar:

ColorMap*deleteDialog.deleteBoxLabelAlt.labelString:   Nenhum ficheiro para eliminar.
! message at bottom of primary window
ColorMap*selectedDeleted:                              Ficheiro(s) de definição das cores seleccionado(s) eliminado(s).


!*****************************************************
!**  Delete file verification dialog box            **
!*****************************************************
ColorMap*deleteVerifyDialog.dialogTitle:        Verificar Eliminar

ColorMap*deleteVerifyDialog.okLabelString:      OK

ColorMap*deleteVerifyDialog.cancelLabelString:  Cancelar

! this cannot be much longer
ColorMap*noUndoDelete:                          Impossível anular eliminação de ficheiros. Pretende continuar?

ColorMap*noFilesDelete:                         Nenhum ficheiro seleccionado. Eliminação inválida.


!****************************************************
!**  Emulator preference in construct list         **
!**						   **
!**  MAX:  text should be less than 15 characters  **
!****************************************************
ColorMap*emuPrefMenuLabel.labelString:       Barra de Menus

ColorMap*emuPrefBlueText.labelString:        Texto azul

ColorMap*emuPrefGreenText.labelString:       Texto verde

ColorMap*emuPrefPinkText.labelString:        Texto rosa

ColorMap*emuPrefRedText.labelString:         Texto vermelho

ColorMap*emuPrefTurquoiseText.labelString:   Texto turquesa

ColorMap*emuPrefWhiteText.labelString:       Texto branco

ColorMap*emuPrefYellowText.labelString:      Texto amarelo

ColorMap*emuPrefPbBackground.labelString:    Botão

ColorMap*emuPrefStatusLine.labelString:      Linha de Estado

ColorMap*groupBoxLabel.labelString:          Prog. de Ajuda

ColorMap*entryAreaLabel.labelString:         Área de Entrada

ColorMap*helperFormLabel.labelString:        Botão


!**************************
!**  Error dialog boxes  **
!**************************
ColorMap*noColorCellsMsgText.value: Impossível atribuir os recursos de cores necessários para iniciar o programa de definição das cores. Feche uma aplicação que utilize muitas cores e tente novamente.

ColorMap*setColorMsgText.value:      Nem todas as cores foram aplicadas à sessão de emulação. Contudo, as cores correctas serão guardadas se for seleccionado Guardar.

ColorMap*setColorFailureCancelBtn.labelString:        Cancelar


!**********************************
!**  General Error dialog boxes  **
!**********************************
ColorMap*noAdvanced.value:            Impossível atribuir recursos de cor por forma a proporcionar uma definição das cores completamente funcional.

ColorMap*noAdvancedOkbutton.labelString:  OK


!*******************************************************************************
!**  quitDialog resources                                                     **
!*******************************************************************************
ColorMap*quitDialog.dialogTitle:           Aviso de Saída

ColorMap*quitDialog1:                      As cores do emulador foram modificadas, mas não foram aplicadas ou guardadas.

ColorMap*quitDialog2:                      As cores do emulador foram modificadas e aplicadas, mas não foram guardadas.

ColorMap*quitDialog3:                      As cores do emulador foram modificadas e guardadas, mas não foram aplicadas.

ColorMap*quitDialog*exitBox.labelString:   Sair

ColorMap*quitDialog*cancelBox.labelString: Cancelar

ColorMap*quit1Tog1:                        Sair sem aplicar ou guardar alterações.

ColorMap*quit2Tog1:                        Sair sem guardar alterações.

ColorMap*quitDialog*quitTog2.labelString:  Aplicar e Guardar alterações antes de sair.

ColorMap*quit3Tog1:                        Sair sem aplicar alterações.

ColorMap*quitTog3.labelString:             Aplicar alterações a esta sessão antes de sair.

ColorMap*quitDialog*quitTog4.labelString:  Guardar alterações antes de sair.


!*******************************************************************************
!**  Informational Messages                                                   **
!*******************************************************************************
ColorMap*InfoMsgColorsSaved:    Cores guardadas no ficheiro:

ColorMap*tempApp:               Cores temporariamente aplicadas à sessão de emulação.

ColorMap*notLoaded:             Impossível carregar ficheiro de cores. Verifique se o ficheiro ainda existe.

ColorMap*errorLoad:             O formato do ficheiro de cores estava incorrecto.


! this resource should contain one black space character; do not translate.
ColorMap*blank:  

ColorMap*chooseApply:           Seleccione Aplicar para que as cores tenham efeito na sessão.

ColorMap*noAccessDir:           Impossível aceder ao directório.

! this cannot be made any longer during translation
ColorMap*noOpenFile:            Impossível abrir Fich Def Cor:

ColorMap*noMakeDir:             Impossível criar directório.

ColorMap*noDeterminePath:       Impossível determinar o caminho do ficheiro.

