!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250 and
! VTxxx emulators, in particular the help viewer text; for example pushbutton text. This file
! does not contain the emulator on-line help text; help text is in a different file.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5HlpV.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with HelpView* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!*******************************************************************************
!*******                                                             ***********
!*******                 Help Viewer Resources                       ***********
!*******                                                             ***********
!*******************************************************************************

! title above list of topics
HelpView*topicTitle:   Emner

HelpView*okLabelString: OK

HelpView*cancelLabelString: Avbryt

!************************************************
!*              Action bar buttons
!*
!* MAX:  When in largest font, button length 
!*       must be less than 13 characters
!************************************************
HelpView*searchFwd.labelString:    Søk fremover

HelpView*searchBack.labelString:   Søk bakover

HelpView*searchNew.labelString:    Nytt søk

HelpView*goFwdButton.labelString:  Neste emne

HelpView*goBackButton.labelString: Forrige emne

HelpView*exitHelp.labelString:     Avslutt

HelpView*optionMenu.labelString:   Font

HelpView*helpTextPrint.labelString:  Skriv ut

HelpView*printDialogCancelButton.labelString: Avbryt

HelpView*printDialogBoxLabel.labelString: Velg alternativ for å skrive ut

HelpView*printDialogPrintCommandLabel.labelString: Utskriftskommando:

HelpView*printDialogSelectPrinter.labelString: Velg en skriver:

HelpView*PrinterSelectServerDelineator: @

HelpView*PrintOptionTopicSelectionLabel.labelString:  Hva skal skrives ut:

HelpView*PrintOptionTopicSelectionTopic.labelString:  Bare dette emnet

HelpView*PrintOptionTopicSelectionAll.labelString:  Alle emnene

HelpView*PrinterSelectLocalDesignator: (Lokal)

HelpView*printDialogPrinterSelectControls_popup.title:   Velg skriver

HelpView*printDialogPrintInProgress.labelString: Skriver ut...

HelpView*printDialogPrinterTypeLabel.labelString:  Skrivertype:

HelpView*printDialogPrinterTypeMenu*postscript.labelString:  PostScript

HelpView*printDialogPrinterTypeMenu*ascii.labelString:  ASCII

HelpView*printDialogPrinterTypeMenu*pcl.labelString:  PCL

!*******************
!* Dialog boxes
!*******************
! title of dialog boxes
HelpView*searchDialog*dialogTitle: Søk etter

HelpView*Cancel*labelString: Avbryt

HelpView.searchForward: Søk fremover etter...

HelpView.searchReverse: Søk bakover etter...

HelpView*searchDialog*okLabelString: OK

HelpView*searchDialog*cancelLabelString: Avbryt


!**********************************************
!* Messages at bottom of the screen
!**********************************************

HelpView.located:       ble lastet inn...

HelpView.notLocated:    ble IKKE funnet...

HelpView.noSearchValue: Gjeldende søkeverdi er ikke definert

HelpView.fileError:     Kunne ikke åpne filen:

!**************************************************
!*
!*        Printing translations 
!*
!*      Added by AJMEYER for V310.nc
!*
!**************************************************

HelpView*printSelectDialogOKButton.labelString:  OK

HelpView*printSelectDialogCancelButton.labelString:  Avbryt
