!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250, and
! VTxxx emulators, in particular the miscellaneous preferences program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5MscP.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to all emulators. Some is specific to one emulator.
!    Miscpref = Resources used by both 3270 and 5250 emulators.
!    Miscpr32 = Resources used by the 3270 emulator.
!    Miscpr52 = Resources used by the 5250 emulator.
!    MiscprVT = Resources used by the VT emulator.
! 4. Resource format: 
!    - A resource line starts with Miscpref*, Miscpr32*, Miscpr52*,or MiscprVT*, followed by 
!      a resource name and a ":".  Do NOT make any changes to the text to the left
!      of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!*******************************************************************
!*******   Miscellaneous Preferences Resources           ***********
!*******************************************************************
Miscpr52*title:     Diverse 5250-innstillinger

Miscpr32*title:     Diverse 3270-innstillinger

MiscprVT*title:     Diverse innstillinger for VT-emulator

Miscpref*iconName:  Diverse innstillinger

Miscpref*okLabelString: OK

Miscpref*cancelLabelString: Avbryt


!***********************************************
!**     Action Bar Area Resources             **
!***********************************************
Miscpref*saveButton.labelString: Lagre

Miscpref*exitButton.labelString: Avslutt

Miscpref*setDefaultsButton.labelString: Standardverdier

Miscpref*helpButton.labelString: Hjelp


!*********************************************************
!**     Preference Buttons Area Resources               **
!**							**
!*********************************************************
Miscpref*preferencesListInstructions.labelString: Velg en innstilling

Miscpref*CursorStyleItem:                         Markørform

Miscpr52*EnterKeyLocationItem:                    Enter/Field Exit

Miscpr32*EnterKeyLocationItem:                    Enter-tast
	
Miscpr52*AutomaticHelpItem:                       Automatisk hjelp

Miscpr52*BlueUnderscoreItem:                      Blå understreking

Miscpref*RowColumnIndicatorItem:                  Indikator for rad/kolonne

Miscpref*DestructiveBackspaceItem:                Slett bakover

Miscpref*RuleLineEnableItem:                      Aktiver streklinje

Miscpref*RuleLineStyleItem:                       Strektype

Miscpref*PasteStartLocationItem:                  Startposisjon for Lim inn

Miscpref*CursorBlinkItem:                         Markørblinking

Miscpr52*LargeScreenBehaviorItem:                 Virkemåte for utvidet skjerm

Miscpref*PrintKeyLocationItem:                    Print

Miscpr32*BracketItem:                             Hakeparentes

Miscpr32*AutomaticReconnectItem:                  Koble til på nytt automatisk

Miscpref*HotspotsItem:                            Hotspot

Miscpref*TypeAheadItem:                           Tasttrykkbufring

Miscpr52*ErrorResetKeys:                          Reset

Miscpref*HotspotHighlight:                        Hotspot-utheving

Miscpref*DefaultCopyType:                         Standard kopieringstype

Miscpref*InsertMode:                              Innskytingsmodus

Miscpref*InputOnlyCursorMovement:                 Bare inndatamarkør

Miscpref*AudioAlarm:                              Lydsignal

MiscprVT*CursorBlinkItem:           Markørblinking

MiscprVT*ApplicationCursor:         Modus for applikasjonsmarkør

MiscprVT*ApplicationKeypad:         Modus for applikasjonstastgruppe

MiscprVT*AutoLineFeed:              Automatisk linjemating

MiscprVT*AutoResize:                Automatisk endring av størrelse

MiscprVT*AutoWrapAround:            Automatisk markørflytting

MiscprVT*ClearScreenWithBlanks:     Klargjør skjermen med blankfelt

MiscprVT*ExitOnDisconnect:          Avslutt ved frakobling

MiscprVT*JumpScroll:                Hoppeblaing

MiscprVT*MarginBell:                Margklokke

MiscprVT*MarginBellColumn:          Margklokkekolonne

MiscprVT*ReverseWrapAround:         Omvendt markørflytting

MiscprVT*VisibleStatusLine:         Synlig statuslinje

MiscprVT*VisualBell:                Visuell klokke
	
!*************************************************************
!**     Preference Text Area Resources (Explanation Box)    **
!*************************************************************
Miscpref*CursorStyleText.value: De mulige markørformene omfatter understreking og blokk. Du kan definere at markørformen alltid skal være understreking eller blokk. Du kan også definere en kombinasjon av understreking og blokk, avhengig av om markøren er satt til innskytingsmodus.

MiscprVT*CursorStyleText.value: Markørformen kan settes til alltid understreking eller alltid blokk.

MiscprVT*CursorBlinkText.value: Du kan aktivere eller deaktivere markørblinking. Hvis markørblinking er aktivert, vil den bare blinke når vinduet er valgt.

MiscprVT*ApplicationCursorText.value: Piltastene kan til å begynne med være i applikasjonsmodus eller  markørmodus. I applikasjonsmodus blir det generert ANSI-skiftesekvenser i stedet for markørflytting når du bruker piltastene.

MiscprVT*ApplicationKeypadText.value: Tastgruppetastene kan til å begynne med være i applikasjonsmodus eller numerisk modus. I applikasjonsmodus blir det generert kontrollfunksjoner i stedet for numeriske tegn når du bruker tastgruppen.

Miscpr52*EnterKeyLocationText.value: Du kan endre standarddefinisjonene for funksjonstastene Enter, Newline og Field Exit, som du ser nedenfor. Det finnes ulike kombinasjoner av disse funksjonene på Enter-tasten og høyre Ctrl-tast.

Miscpr32*EnterKeyLocationText.value: Du kan endre standarddefinisjonene for funksjonstastene Enter og Newline som du ser nedenfor. Det finnes ulike kombinasjoner av disse funksjonene på Enter-tasten og høyre Ctrl-tast.

Miscpr52*AutomaticHelpText.value: Hjelpetasten kan bli trykt på automatisk hvis du gjør en tastbordfeil. En automatisk hjelpetast viser vanligvis en linje med hjelp på første nivå, som forklarer brukerfeilen. Hvis du deaktiverer den automatiske hjelpetasten, blir de firesifrede feilmeldingene vist. I så fall kan du fortsatt trykke på Help-tasten manuelt hvis du vil ha hjelp på første nivå.

Miscpr52*BlueUnderscoreText.value: Standard understrekingsfarge kan endres til blå.

Miscpref*RowColumnIndicatorText.value: Indikatoren for rad/kolonne viser raden og kolonnen til markørposisjonen, som blir vist på høyre side av statuslinjen. Du kan vise eller fjerne indikatoren for rad/kolonne. Hvis markøren ikke blir vist, blir heller ikke indikatoren for rad/kolonne vist, uavhengig av denne innstillingen.

Miscpref*DestructiveBackspaceText.value: Tilbaketastfunksjonen kan slette bakover eller gå bakover uten å slette. Hvis den sletter bakover, sletter tilbaketasten data når markøren flyttes bakover i skrivefelt. Hvis den ikke sletter bakover, sletter ikke tilbaketasten data når markøren flyttes bakover i skrivefelt.

Miscpref*RuleLineEnableText.value: Streklinjen viser hvor markøren står eller hvor den har stått. Du kan deaktivere den helt, alltid ha den aktivert eller den kan bli styrt av streklinjetasten. Når den blir styrt av streklinjetasten, forblir den der den er, eller følger markøren.

Miscpref*RuleLineStyleText.value: Når streklinjen blir vist, kan den ha tre formater: en horisontal linje, en vertikal linje eller både horisontale og vertikale linjer.

Miscpref*PasteStartLocationText.value: Du kan definere Lim inn-operasjonen som er knyttet til et trykk på høyre museknapp i skiftmodus, til å finne sted der markøren er, eller der musepekeren er. Denne innstillingen påvirker ikke innliming fra menyen. Hvis du velger Lim inn fra menyen, blir innlimingen alltid utført der markøren står.

Miscpr52*CursorBlinkText.value: Du kan aktivere eller deaktivere markørblinkingen. Når markørblinkingen er aktivert, blir den styrt av applikasjonene. Når den er deaktivert, blinker markøren aldri.

Miscpr32*CursorBlinkText.value: Du kan aktivere eller deaktivere markørblinkingen. Når den er aktivert, blinker markøren alltid. Når den er deaktivert, blinker markøren aldri.

Miscpr52*LargeScreenBehaviorText.value: Du kan konfigurere 5250-emulatoren til å automatisk flytte vinduet og/eller redusere fontstørrelsen om nødvendig når du bruker utvidet skjermbildestørrelse. Dette skjer når den nye vindusstørrelsen ikke passer på skjermen i gjeldende posisjon og/eller med gjeldende fontstørrelse.

Miscpr52*PrintKeyLocationText.value: Med mindre standarddefinisjonen for Print-tasten blir overstyrt av en tastborddefinisjon, skriver Print-tasten ut fra systemet, mens Print-tasten i skiftmodus skriver ut skjermbildet fra den lokale skjermen. Det kan hende at noen brukere foretrekker at Print-tasten skriver ut fra den lokale skjermen, og at den i skiftmodus skriver ut fra systemet. 
Miscpr32*PrintKeyLocationText.value: Med mindre standarddefinisjonen for Print-tasten blir overstyrt av en tastborddefinisjon, er Print-tastdefinisjonen PA1-funksjonen, mens Print-tastdefinisjonen i skiftmodus er utskrift fra den lokale skjermen. Det kan hende at noen brukere foretrekker at Print-tastfunksjonen er utskrift fra den lokale skjermen, og at Print-tastfunksjonen i skiftmodus utgjør PA1-funksjonen.

Miscpr32*BracketText.value: Hvis du aktiverer alternativet Hakeparentes, blir konverteringen av hakeparentestegn utført riktig.

Miscpr32*AutomaticReconnectText.value: Du kan enten fjerne 3270-emuleringsvinduet eller la det stå på skjermen når du logger deg av. Hvis du lar emuleringsvinduet stå, prøver emulatoren automatisk å koble seg til vertssystemet på nytt.

Miscpref*HotspotsText.value: En hotspot er en skjermposisjon som utfører handlinger når du klikker på den med musepekeren. Hvis musepekeren for eksempel står på 'PF1' eller 'F1' og hotspot er aktivert, blir et klikk behandlet på samme måte som om du hadde trykt på F1-tasten. Du kan deaktivere Hotspot eller aktivere den ved hjelp av ett eller to klikk på venstre museknapp. 
Miscpref*TypeAheadText.value: Tasttrykkbufring lagrer tasttrykkene du utfører mens tastbordet er låst (ingen inntasting). Disse tastene blir senere behandlet når tastbordet blir låst opp.Hvis du aktiverer tasttrykkbufringen, er den alltid på. Hvis du deaktiverer tasttrykkbufringen, er den alltid av.

Miscpr52*ErrorResetKeysText.value: Nedenfor kan du konfigurere 5250-emulatortastene til å tilbakestille feil. Tilbakestillingstasten og et klikk på venstre museknapp på feillinjen tilbakestiller alltid feilene. Du kan i tillegg velge at trykk på piltaster (tabulatortasten, ny linje-tasten, piltastene, tilbaketasten) og andre klikk på musen skal tilbakestille feil.

Miscpref*HotspotHighlightText.value: Du kan konfigurere emulatoren slik at den uthever hotspots. Hvis du aktiverer både Hotspot og Hotspot-utheving, blir alle Hotspots på et skjermbilde uthevet. 
Miscpref*DefaultCopyTypeText.value: Standard kopieringstype er den typen kopieringsområde som er knyttet til trykk-og-dra-operasjonen på den primære museknappen. Det er også kopieringstypen knyttet til tastbordets merking for kopiering av område.

Miscpr52*InsertModeText.value: Standardverdien for innskytingsmodus er at den er slått av, og i tillegg til innskytingstasten, blir den noen ganger automatisk tilbakestilt av applikasjoner og tilbakestillingstasten. Denne automatiske tilbakestillingen av innskytingsmodus kan deaktiveres, og standardverdien for innskytingsmodusen kan være at den settes på eller av.

Miscpr32*InsertModeText.value: Standardverdien for innskytingsmodus er at den er slått av, og i tillegg til innskytingstasten, blir den automatisk tilbakestilt av interaksjon med applikasjoner, som med Enter-tasten, og noen ganger av tilbakestillingstasten. Denne automatiske tilbakestillingen av innskytingsmodus kan deaktiveres, og standardverdien for innskytingsmodusen kan være at den settes på eller av.

Miscpref*InputOnlyCursorMovementText.value: Piltastene kan konfigureres slik at de bare flyttes til skrivefelt. Hvis du velger dette, vil piltastene alltid flytte markøren til et sted der du kan skrive inn noe. Hvis det ikke finnes noen slike posisjoner, flyttes markøren til første posisjon på skjermen.

Miscpref*AudioAlarmText.value: Du kan aktivere eller deaktivere lydsignalet. Når det er slått av, vil du aldri høre lydsignalet.

MiscprVT*AutoLineFeedText.value: Du kan aktivere eller deaktivere automatisk linjemating. Når du aktiverer automatisk linjeskift, vil VT-emulatoren utføre et linjeskift i tillegg til linjemating når applikasjonen sender linjemating, vertikal tabulator eller papirmatingstegn.  I tillegg vil alle taster som genererer en ny linje (for eksempel Enter-tasten) sende linjeskift og linjemating til applikasjonen. Når den er deaktivert, blir bare linjematingsfunksjonen utført når linjemating, vertikal tabulator eller papirmating blir mottatt. Når den er deaktivert og du trykker på Enter-tasten, blir det bare sendt linjemating til applikasjonen.

MiscprVT*AutoResizeText.value: Du kan aktivere eller deaktivere automatisk endring av størrelse.

MiscprVT*AutoWrapAroundText.value: Du kan aktivere eller deaktivere automatisk linjeskift. Når automatisk linjeskift er aktivert, blir tegnet du skriver etter at markøren har skjermmargen, automatisk flyttet til neste linje. Hvis automatisk linjeskift er deaktivert, vil tegn du skriver etter at markøren har nådd margen, erstatte siste tegn på linjen.

MiscprVT*ClearScreenWithBlanksText.value: Du kan velge å tømme skjermen med blanktegn.

MiscprVT*ExitOnDisconnectText.value: Terminalen kan konfigureres slik at den avsluttes når du kobler deg fra vertssystemet.

MiscprVT*JumpScrollText.value: Terminalen kan konfigureres slik at den utfører hoppeblaing.  Med hoppeblaing kan du bla flere linjer om gangen. Dette gir den raskeste form for skjermoppdatering hvis det blir sendt flere tekstlinjer til terminalen. Største antall linjer der det kan utføres hoppeblaing, er begrenset til antall linjer i VT-emulatorvinduet.

MiscprVT*MarginBellText.value: Terminalen kan konfigureres slik at det ringer en klokke når brukeren skriver ved høyremargen.

MiscprVT*MarginBellColumnText.value: Oppgi kolonne for margklokken.

MiscprVT*ReverseWrapAroundText.value: Du kan aktivere eller deaktivere omvendt markørflytting. Med omvendt markørflytting kan markøren gå fra første posisjon på linjen til siste kolonne på forrige linje, slik at brukeren kan flytte markøren tilbake til forrige linje med tilbaketasten. Automatisk markørflytting må også være aktivert for at omvendt markørflytting skal virke.

MiscprVT*VisibleStatusLineText.value: Statuslinjen kan være synlig eller usynlig. Hvis statuslinje er synlig, blir det vist en 25. linje nederst i VT-emulatorvinduet. Applikasjonene kan bruke denne linjen til å vise statusinformasjon. Når den ikke blir brukt av en applikasjon, blir det vist en rad/kolonne-indikator.

MiscprVT*VisualBellText.value: En visuell klokke (skjermblinking) kan erstatte skjermklokken.

!*************************************************************
!**     Preference Text Area Resources (Options area)       **
!**							    **
!*************************************************************

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton1.labelString:  Understrekmarkør

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton2.labelString: Blokkmarkør

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton3.labelString: Blokkmarkør i innskytingsmodus, understrekmarkør i erstatningsmodus

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton4.labelString:  Understrekmarkør i innskytingsmodus, blokkmarkør i erstatningsmodus

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton1.labelString: Bruk standard tastdefinisjoner for Enter-tasten og høyre Ctrl-tast

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton2.labelString:  Enter-tast = enter, høyre Ctrl-tast = ny linje

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton3.labelString:  Enter-tast = ny linje, høyre Ctrl-tast = enter

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton4.labelString:  Enter-tast = enter, høyre Ctrl-tast = Field exit/ny linje

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton5.labelString:  Enter-tast = Field exit/ny linje, høyre Ctrl-tast = enter

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton1.labelString: Aktiver den automatiske hjelpetasten for brukerfeil

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton2.labelString: Deaktiver den automatiske hjelpetasten for brukerfeil

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton1.labelString: Aktiver blå understreking

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton2.labelString: Deaktiver blå understreking

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton1.labelString: Vis indikatoren for rad/kolonne

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton2.labelString: Ikke vis indikatoren for rad/kolonne

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton1.labelString:  Aktiver Slett bakover

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton2.labelString:  Deaktiver Slett bakover

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton1.labelString: Aktiver streklinje

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton2.labelString: Vis alltid streklinjen på markøren

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton3.labelString: Aktiver streklinjetasten (streklinjen skal ikke følge markøren)

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton4.labelString: Aktiver streklinjetasten (streklinjen skal følge markøren)

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton1.labelString: Både horisontale og vertikale streklinjer

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton2.labelString: Bare horisontal streklinje

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton3.labelString: Bare vertikal streklinje

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton1.labelString: Lim inn ved markøren

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton2.labelString: Lim inn ved musepekeren

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: Deaktiver markørblinking

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: Aktiver markørblinking

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton1.labelString: Ikke flytt vinduet eller reduser fontstørrelsen

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton2.labelString: Flytt vinduet og reduser fontstørrelsen om nødvendig

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton3.labelString: Bare reduser fontstørrelsen

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton4.labelString:  Bruk/Husk stor skjermfont

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton5.labelString:  Reduser fontstørrelsen og flytt vinduet om nødvendig

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: Bruk standarddefinisjonene for Print-tasten

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString:  Print-tast = systemutskrift, Print-tast i skiftmodus  = lokal utskrift

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString:  Print-tast = lokal utskrift, Print-tast i skiftmodus = systemutskrift

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: Bruk standarddefinisjonene for Print-tasten

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString:  Print-tast = PA1, Print-tast i skiftmodus  = lokal utskrift

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString:  Print-tast = lokal utskrift, Print-tast i skiftmodus = PA1

Miscpr32*PreferenceTextFormForBracket*ToggleButton1.labelString: Deaktiver hakeparenteskonvertering

Miscpr32*PreferenceTextFormForBracket*ToggleButton2.labelString: Aktiver hakeparenteskonvertering

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton1.labelString:  Vinduet blir fjernet etter avlogging

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton2.labelString:  Vinduet forblir på etter avlogging

Miscpref*PreferenceTextFormForHotspots*ToggleButton1.labelString: Deaktiver hotspot

Miscpref*PreferenceTextFormForHotspots*ToggleButton2.labelString: Aktiver hotspot ved et klikk med venstre museknapp

Miscpref*PreferenceTextFormForHotspots*ToggleButton3.labelString: Aktiver hotspot ved et dobbeltklikk med venstre museknapp

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton1.labelString: Deaktiver tasttrykkbufring

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton2.labelString: Aktiver tasttrykkbufring

Miscpr52*PreferenceTextFormForTypeAhead*ToggleButton3.labelString: Bruk AS/400-innstillingen

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton1.labelString:  Tilbakestill tast eller venstre museknapp bare på feillinjen

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton2.labelString: Piltastene og alle museknappene i tillegg

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton3.labelString: De fleste tastene og alle museknappene

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton1.labelString:  Deaktiver Hotspot-utheving

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton2.labelString: Aktiver Hotspot-utheving

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton1.labelString: Lineær kopiering

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton2.labelString:  Blokkopiering

Miscpref*PreferenceTextFormForInsertMode*ToggleButton1.labelString:  Standardverdien er at innskytingsmodus er deaktivert og automatisk tilbakestilling er aktivert

Miscpref*PreferenceTextFormForInsertMode*ToggleButton2.labelString:  Standardverdien er at innskytingsmodus er deaktivert og automatisk tilbakestilling er deaktivert

Miscpref*PreferenceTextFormForInsertMode*ToggleButton3.labelString:  Standardverdien er at innskytingsmodus er aktivert og automatisk tilbakestilling er deaktivert

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton1.labelString:  Deaktiver markørflytting som bare tillater innskriving

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton2.labelString:   Aktiver markørflytting som bare tillater innskriving

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton1.labelString: Deaktiver lydsignalet

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton2.labelString: Aktiver lydsignalet

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: Deaktiver markørblinking

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: Aktiver markørblinking

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton1.labelString:  Deaktiver modus for applikasjonsmarkør

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton2.labelString: Aktiver modus for applikasjonsmarkør

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton1.labelString:  Deaktiver modus for applikasjonstastgruppe

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton2.labelString: Aktiver modus for applikasjonstastgruppe

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton1.labelString: Deaktiver automatisk linjemating

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton2.labelString: Aktiver automatisk linjemating

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton1.labelString: Deaktiver automatisk endring av størrelse

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton2.labelString: Aktiver automatisk endring av størrelse

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton1.labelString: Deaktiver automatisk linjeskift

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton2.labelString: Aktiver automatisk linjeskift

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton1.labelString:  Deaktiver tømming av skjermen med blanktegn

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton2.labelString:  Aktiver tømming av skjermen med blanktegn

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton1.labelString:  Deaktiver avslutning ved frakobling

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton2.labelString: Aktiver avslutning ved frakobling

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton1.labelString: Deaktiver hoppeblaing

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton2.labelString: Aktiver hoppeblaing

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton1.labelString: Deaktiver margklokken

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton2.labelString: Aktiver margklokken

MiscprVT*PreferenceTextFormForMarginBellColumn*textFieldLabel.labelString:  Kolonner fra slutten på raden

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton1.labelString: Deaktiver omvendt markørflytting

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton2.labelString: Aktiver omvendt markørflytting

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton1.labelString: Deaktiver statuslinjen

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton2.labelString: Aktiver statuslinjen

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton1.labelString: Deaktiver den visuelle klokken

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton2.labelString: Aktiver den visuelle klokken



!**************************************
!**   Messages at bottom of window   **
!**************************************

Miscpr52*MiscprefMsgHelpRequested:     Det ble forespurt om hjelp fra 5250-sesjonen.

Miscpr32*MiscprefMsgHelpRequested:     Det ble forespurt om hjelp fra 3270-sesjonen.

MiscprVT*MiscprefMsgHelpRequested:     Det ble bedt om hjelp fra VT-emuleringssesjonen.

Miscpref*MiscprefMsgPreferenceApplied: Innstillingen ble midlertidig tatt i bruk.

Miscpref*MiscprefMsgPreferencesSaved:  Innstillingene ble lagret.

Miscpref*MiscprefMsgDefaultsApplied:   Standardinnstillingene ble midlertidig tatt i bruk.

Miscpref*MiscprefMsgDefaultsNotSet:    Standardinnstillingene er ikke definert.

Miscpref*MiscprefMsgNoAccess:          Fikk ikke tilgang til katalogen.


Miscpref*MiscprefMsgNoMake:            Kan ikke opprette katalog.

Miscpref*MiscprefMsgFileOpenError:     Feil under lagring:  Kunne ikke åpne filen.

Miscpref*MiscprefMsgFileWriteError:    Feil under lagring:  Kunne ikke skrive til filen.



!********************************
!**  Dialog Box Resources      **
!********************************
Miscpref*exitDialog.dialogTitle:              Advarsel

Miscpref*exitDialog.okLabelString:            Lagre

Miscpref*exitDialog.cancelLabelString:        Ikke lagre

! this cannot be much longer
Miscpref*exitDialog.messageString:            Det finnes endringer i Diverse innstillinger som ikke er lagret.

Miscpref*setDefaultsDialog.dialogTitle:       Advarsel

Miscpref*setDefaultsDialog.okLabelString:     Ja

Miscpref*setDefaultsDialog.cancelLabelString: Nei

! this cannot be much longer
Miscpref*setDefaultsDialog.messageString:     Skal alle innstillingene virkelig bli satt til standardverdiene?
/*******************************************************************************
**  saveDialog resource
*******************************************************************************/
MiscprVT*saveDialog.dialogTitle: Lagringsvalg

MiscprVT*saveDialog*saveDialogTitle.labelString: Velg et lagringsvalg.

MiscprVT*saveDialog*saveChangedOnly.labelString: Lagre bare endrede innstillinger

MiscprVT*saveDialog*saveAll.labelString: Lagre alle innstillinger

MiscprVT*saveDialog*saveButton.labelString: Lagre

MiscprVT*saveDialog*cancelButton.labelString: Avbryt

