!
!
!
! This file contains the resource text strings for the IBM Network Station 3270 and 5250
! emulators, in particular the main emulator windows.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5Resc.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to both emulators. Some is specific to one emulator.
!    IBM9999 = Resources used by both 3270 and 5250 emulators.
!    IBM3270 = Resources used by the 3270 emulator.
!    IBM5250 = Resources used by the 5250 emulator.
! 4. Resource format: 
!    - A resource line starts with IBM3270*, IBM5250*, or IBM9999*, followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


IBM5250*MainWindow.title: 5250
IBM3270*MainWindow.title: 3270

IBM5250*errorMsgDialog_popup.title: 5250-feil
IBM3270*errorMsgDialog_popup.title: 3270-feil

IBM5250*warningMsgDialog_popup.title: 5250-informasjon
IBM3270*warningMsgDialog_popup.title: 3270-informasjon

IBM5250*hostNameDialog_popup.title: Ny 5250-sesjon
IBM3270*hostNameDialog_popup.title: Ny 3270-sesjon

IBM5250*hostNameDialog.selectionLabelString: Oppgi et nytt 5250-vertsnavn.
IBM3270*hostNameDialog.selectionLabelString: Oppgi et nytt 3270-vertsnavn.

IBM5250*hostNameDialog.iconName: Ny 5250-sesjon
IBM3270*hostNameDialog.iconName: Ny 3270-sesjon

IBM5250*lowMemoryDialog_popup.title: For lite 5250-minne
IBM3270*lowMemoryDialog_popup.title: For lite 3270-minne

IBM5250*new5250Button.labelString: Ny 5250...

IBM5250*quitButton.labelString: Avslutt 5250
IBM3270*quitButton.labelString: Avslutt 3270

IBM5250*localPrintControls_popup.title: Utskrift av 5250-skjermbilde
IBM3270*localPrintControls_popup.title: Utskrift av 3270-skjermbilde


!**************************************************************************************
!** Resources in both 5250 and 3270 that do not need separate translations
!**************************************************************************************

!***********************
!**  Various Dialogs  **
!***********************
IBM9999*lowMemoryDialog.messageString: Ikke nok minne til å fullføre operasjonen.

IBM9999*ErrorMsgMaxSessions: Sesjonen er ikke tillatt. Det maksimale antall sesjoner er overskredet.

! -DISPLAY_NAME is not translated.
IBM9999*ErrorMsgInvalidName: Ugyldig spesifisering av parameteren -DISPLAY_NAME.

! \n in the following resource string allows text following \n to appear on a new line.
! \n is not translated. You can move, add, or remove the \n as needed.
IBM9999*ErrorMsgNameInUse: Navn som ble oppgitt i parameteren -DISPLAY_NAME er allerede i bruk.\nDen systemansvarlige har begrenset ditt antall sesjoner.

IBM9999*ErrorMsgTelnetUndefined: Telnet er ikke definert i servicefilen...

IBM9999*ErrorMsgUnknownHost: Vertssystemet er ukjent.

IBM9999*ErrorMsgUnableToConnect: Kunne ikke starte tilkobling.

IBM9999*ErrorMsgTelnetNegoFailed: Telnet-forhandlingene mislyktes.

IBM9999*ErrorMsgRetryButton: Prøv igjen

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoHostData: Mistet tilkoblingen til vertsmaskinen.\n Prøv å starte emuleringssesjonen på nytt.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoHostData2: Mistet tilkoblingen til vertsmaskinen.\n Vil du prøve å starte emuleringssesjonen på nytt?

IBM9999*ErrorMsgFatalTelnetError: Det oppstod en alvorlig Telnet-feil.

IBM9999*ErrorMsgColorMapActive: Definer farger er allerede aktiv i en annen sesjon.

IBM9999*ErrorMsgColorMapLowMemory: Ikke nok minne til å starte Definer farger.

IBM9999*ErrorMsgKeyMapActive: Omdefinering av tastbord er allerede aktiv i en annen sesjon.

! this cannot be made much longer during translation.
IBM9999*ErrorMsgKeypadActive:  Tastgruppetilpasser er allerede aktiv i en annen sesjon.

IBM9999*ErrorMsgKeyMapLowMemory: Ikke nok minne til å starte Omdefinering av tastbord.

IBM9999*ErrorMsgKeypadLowMemory:   Ikke nok minne til å starte Tastgruppetilpasser.

IBM9999*ErrorMsgHelpViewLowMemory: Ikke nok minne til å starte hjelpen.

IBM9999*ErrorMsgMiscellaneousLowMemory: Ikke nok minne til å starte Diverse innstillinger.

! this cannot be made any longer during translation.
IBM9999*ErrorMsgNSMServerDownLevel:   Kan ikke registrere. IBM Network Station Manager-tjeneren er nede.

IBM9999*ErrorMsgNoPrinters:           Ingen skrivere er konfigurert. Kontakt den systemansvarlige.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoKeypadSelected: Ingen fil ble valgt. \n Velg en fil eller velg Avbryt. 

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoKeypads: Ingen tastgruppefil ble funnet. Velg alternativet 'Tilpass tastgruppe...' \nfra menyen Alternativer hvis du vil opprette en brukertastgruppe.

IBM9999*ErrorMsgTooManyKeypads: Du kan bare ha 10 tastgrupper aktiv samtidig.
	
IBM9999*ErrorMsgFileNameChars: Tegnet som du oppgav, er ikke gyldig i et filnavn.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*WarningMsgColorNotAvailable: Noen emulatorfarger er ikke tilgjengelige.\nDisse fargene er justert for sesjonen.

IBM9999*WarningMsgColorFileCorrupt: Det finnes feil i fargefilen. Standardfargene blir brukt.

IBM9999*hostNameDialog*startupPlaybackChoice.labelString: Bruk oppstartingsmakrofilen

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog_popup.title: ECL Java-applett

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog.selectionLabelString: Oppgi klassenavn.

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog.iconName: ECL Java-applett

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog: Oppgi klassenavn.

! java ECL that is not supported yet but please translate
IBM9999*ErrorMsgUnableToRunApplet: Kan ikke laste inn klasse


!*******************************
!**  Menu items in emulators  **
!*******************************
IBM9999*cmdCascade.labelString: Kommando

IBM9999*editCascade.labelString: Rediger

IBM9999*pasteButton.labelString: Lim inn

IBM9999*copyButton.labelString: Kopier

IBM9999*cutButton.labelString: Klipp ut

IBM9999*optCascade.labelString: Alternativer

IBM9999*fontMenuCascade.labelString: Fonter

IBM9999*pfkeysButton.labelString: Tastgruppe...

IBM9999*keypadCascade.labelString: Tastgruppe

IBM9999*customizeButton.labelString: Tilpass tastgruppe...

IBM9999*recordButton.labelString: Registrer...

IBM9999*playbackButton.labelString: Makro...

IBM9999*miscButton.labelString: Diverse innstillinger...

IBM9999*colormapButton.labelString: Definer farger...

IBM9999*keymapButton.labelString: Omdefinering av tastbord...

! java ECL that is not supported yet but please translate
IBM9999*runAppletButton.labelString: Kjør applett...

IBM9999*ctlCascade.labelString: Kontroll

IBM9999*resetButton.labelString: Reset

IBM9999*sysreqButton.labelString: SysReq

IBM9999*attentionButton.labelString: Attn

IBM9999*helpkeyButton.labelString: Help

IBM9999*enterkeyButton.labelString: Enter

IBM9999*prtCascade.labelString: Skriv ut

IBM9999*systemButton.labelString: System

IBM9999*localButton.labelString: Skjermbildeutskrift...

IBM9999*helpCascade.labelString: Hjelp

! message on IBM5250 on status line, cannot be made any longer, you can remove some periods.
IBM9999*msgWaitingMsg.labelString: Melding venter.....

IBM9999*cursorRowCol.labelString:  01/001

IBM9999*okLabelString: OK

IBM9999*cancelLabelString: Avbryt

!****************************
!** Local Print Resources
!****************************

IBM9999*localPrintPrinterSelectButton.labelString: Velg en skriver:

IBM9999*localPrintPrinterSelectControls_popup.title: Velg skriver

IBM9999*localPrintPrinterSelectServerDelineator: @

IBM9999*localPrintPrinterSelectLocalDesignator: (Lokal)

IBM9999*localPrintPDTLabel.labelString: Skriverdefinisjonstabell:

IBM9999*localPrintOtherOptions.labelString: Andre utskriftsvalg:

IBM9999*localPrintFormFeedLabel.labelString: Papirmating:

IBM9999*localPrintFormFeedYesButton.labelString: Ja

IBM9999*localPrintFormFeedNoButton.labelString: Nei

IBM9999*localPrintOrientationLabel.labelString: Papirretning:

IBM9999*localPrintOrientationPortraitButton.labelString: Stående

IBM9999*localPrintOrientationLandscapeButton.labelString: Liggende

IBM9999*localPrintControls*startBtn.labelString: Skriv ut

IBM9999*localPrintControls*cancelBtn.labelString: Avbryt

IBM9999*localPrintControls*selectOptions.labelString: Velg alternativ for å skrive ut

IBM9999*localPrintControls*printing.labelString: Skriver ut...


!********************************************************
!**                  Record Resources
!**
!** MAX:  Push buttons should not exceed 8 characters
!********************************************************
IBM9999*recordControl_popup.title: Kontrollknapper for registrering

IBM9999*recordControl*startBtn.labelString: Start

IBM9999*recordControl*cancelBtn.labelString: Avbryt

IBM9999*recordControl*pauseBtn.labelString: Pause

IBM9999*recordControl*stopBtn.labelString: Stopp

IBM9999*recordControl*recordControlLabelRecording.labelString: Registrerer.

IBM9999*recordControl*recordControlLabelPaused.labelString: Midlertidig stoppet.

IBM9999*recordControl*recordControlKeysRemaingLabel.labelString: Plass som gjenstår:

IBM9999*recordPauseControls_popup.title: Alternativer for registreringspause

! this cannot be made much longer during translation. 
IBM9999*recordPauseControls*recordPauseChoicesInstructions.labelString:  Registreringen er midlertidig stoppet. Velg et alternativ som skal utføres\nmens makroen blir utført.

IBM9999*recordPauseControls*recordPauseRecordBtn.labelString: Ta en pause i utføringen av makroen

IBM9999*recordPauseControls*recordPauseUseridBtn.labelString: Sett inn bruker-ID

IBM9999*recordPauseControls*recordPausePasswordBtn.labelString: Sett inn passord

IBM9999*recordPauseControls*recordPauseNoneBtn.labelString: Ingen

IBM9999*recordPauseControls*continueBtn.labelString:   Fortsett registreringen

IBM9999*recordPauseControls*pauseStopBtn.labelString: Stopp registreringen

IBM9999*recordFileControl_popup.title: Kontrollknapper for lagring av makrofil

IBM9999*recordFileControl*recordFileListLabel.labelString: Velg en makrofil som skal erstattes.

IBM9999*recordFileControl*acceleratorBtn.labelString: Tildel valgfri hurtigtast

IBM9999*recordFileControl*accButton0.labelString: Ingen

! Function keys for accelerators.
IBM9999*recordFileControl*accButton1.labelString:  F1

IBM9999*recordFileControl*accButton2.labelString:  F2

IBM9999*recordFileControl*accButton3.labelString:  F3

IBM9999*recordFileControl*accButton4.labelString:  F4

IBM9999*recordFileControl*accButton5.labelString:  F5

IBM9999*recordFileControl*accButton6.labelString:  F6

IBM9999*recordFileControl*accButton7.labelString:  F7

IBM9999*recordFileControl*accButton8.labelString:  F8

IBM9999*recordFileControl*accButton9.labelString:  F9

IBM9999*recordFileControl*accButton10.labelString:  F10

IBM9999*recordFileControl*accButton11.labelString:  F11

IBM9999*recordFileControl*accButton12.labelString:  F12

IBM9999*recordFileControl*accButton13.labelString:  F13

IBM9999*recordFileControl*accButton14.labelString:  F14

IBM9999*recordFileControl*accButton15.labelString:  F15

IBM9999*recordFileControl*accButton16.labelString:  F16

IBM9999*recordFileControl*accButton17.labelString:  F17

IBM9999*recordFileControl*accButton18.labelString:  F18

IBM9999*recordFileControl*accButton19.labelString:  F19

IBM9999*recordFileControl*accButton20.labelString:  F20

IBM9999*recordFileControl*accButton21.labelString:  F21

IBM9999*recordFileControl*accButton22.labelString:  F22

IBM9999*recordFileControl*accButton23.labelString:  F23

IBM9999*recordFileControl*accButton24.labelString:  F24

IBM9999*recordFileControl*recordFileTextLabel.labelString: Oppgi et nytt navn på makrofilen.

IBM9999*recordFileControl*saveBtn.labelString: Lagre

IBM9999*recordFileControl*doNotSaveBtn.labelString: Ikke lagre

IBM9999*recordFileControl*recordFileReplaceWarningDialog_popup.title: Advarsel

IBM9999*recordFileControl*recordFileReplaceWarningDialog.messageString: Filen finnes allerede. Vil du overskrive den?

IBM9999*recordFileControl*recordFileMsgDialog_popup.title: Feilmelding

IBM9999*RecordFileMsgNoOpen: Kan ikke åpne filen. Tasttrykkene er ikke lagret.

IBM9999*RecordFileMsgNoAccess: Fikk ikke tilgang til katalogen.

IBM9999*RecordFileMsgNoMake: Kunne ikke opprette katalogen.


!****************************
!** Playback Resources
!****************************
IBM9999*playbackControl_popup.title: Kontrollknapper for makroer

IBM9999*playbackControl*playbackControlLabelSelectFile.labelString: Velg hvilken makrofil som skal utføres.

IBM9999*playbackControl*playbackFileListLabel.labelString: Brukermakrofiler

IBM9999*playbackControl*playbackDefaultFileListLabel.labelString: Standard makrofiler

IBM9999*scaleBtn.titleString: Makrohastighet

IBM9999*playbackControl*startBtn.labelString: Start

IBM9999*playbackControl*cancelBtn.labelString: Avbryt

IBM9999*playbackControl*deleteBtn.labelString: Slett

IBM9999*playbackControl*editBtn.labelString: Rediger

IBM9999*playbackControl*pauseBtn.labelString: Pause

IBM9999*playbackControl*continueBtn.labelString: Fortsett

IBM9999*playbackControl*stopBtn.labelString: Stopp

IBM9999*playbackControl*playbackControlLabelStopped.labelString: Stoppet.

IBM9999*playbackControl*playbackControlLabelPlaying.labelString: Utføres.

IBM9999*playbackControl*playbackControlLabelPaused.labelString:  Midlertidig stoppet.

IBM9999*playbackControl*playbackControlLabelDone.labelString: Fullført.

IBM9999*playbackControl*playbackKeysRemainingLabel.labelString:  Data som gjenstår:

IBM9999*playbackControl*playbackDeleteWarningDialog_popup.title: Advarsel

IBM9999*playbackControl*playbackDeleteWarningDialog.messageString: Vil du slette de valgte filene?

IBM9999*playbackControl*playbackMsgDialog_popup.title: Feilmelding

IBM9999*playbackControl*playbackPauseDialog_popup.title: Pause i utføring av makro

IBM9999*playbackControl*playbackPauseDialog.okLabelString:        Fortsett

IBM9999*playbackControl*playbackPauseDialog.cancelLabelString:    Stopp

IBM9999*playbackPauseDialogMsg1: Makroen er midlertidig stoppet. Oppgi data og fortsett.

IBM9999*playbackPauseDialogMsg2: Makroen er midlertidig stoppet. Skriv inn passord og fortsett.

IBM9999*playbackPauseDialogMsg3: Brukeren stoppet makroen midlertidig.

IBM9999*PlaybackMsgNoStartup: Oppstartingsmakrofilen er ikke på makrolisten.

IBM9999*PlaybackMsgFileNotInList:  Makrofilen er ikke på makrolisten.

IBM9999*PlaybackMsgFileCorrupt: Makrofilen er ikke opprettet ved hjelp av registrering.

IBM9999*PlaybackMsgFileNoRead: Kan ikke lese nøkkelmakrofilen. Kan ikke starte makroen.

IBM9999*PlaybackMsgFileNoOpen: Kan ikke åpne makrofilen. Kan ikke starte makroen.

IBM9999*PlaybackMsgIncompatible:  Makrofilen er ikke kompatibel med gjeldende skjerm.

IBM9999*PlaybackMsgPasswordLocation:  Kan ikke utføre passordet ved markøren.


!*****************************
! Keypad Resources
!*****************************
IBM9999*keypadfilechangebox_popup.title:   Tastgruppevindu

IBM9999*keypadfilechangeboxlabel.labelString:   Velg en tastgruppefil:

IBM9999*userKeypads.labelString:  Brukertastgrupper

IBM9999*defaultKeypads.labelString:  Standard tastgrupper	

IBM9999*cancelkeypad.labelString:   Avbryt

IBM9999*keypadOKbox.labelString:   OK

!*****************************************************************************
! This menubar resource is used for double byte languages, but DOES need to be
! translated into all MRI languages (because users can have a different MRI
! language than their emulator session language).
!*****************************************************************************
IBM9999*altviewButton.labelString:  Alternativt utsnitt

!***********************************************************
! The resources below are used to prompt the user to choose between two types 
! of Japanese.  These resources should be translated into all languages.
!***********************************************************
IBM9999*hostNameDialog.helpLabelString:  Avansert...
IBM9999*katawidget.title:   Kodesett for Japansk vertssystem
IBM9999*labelw.labelString:  Velg kodesett for vertssystem
IBM9999*button_two.labelString:  Katakana utvidet (5026)
IBM9999*button_one.labelString:  Latin utvidet (5035)
IBM9999*okw.labelString:  OK
IBM9999*cancelw.labelString:  AVBRYT


!***********************************
!* Shared Emulator Print Resources *
!***********************************

IBM9999*localPrintPrintSelectionLabel.labelString:       Utskriftsvalg:

IBM9999*localPrintPrintSelectionTextButton.labelString:  Tekst

IBM9999*localPrintPrintSelectionImageButton.labelString: Bilde

IBM9999*localPrintImageColorSupportLabel.labelString: Fargeutskrift:

IBM9999*localPrintImageColorSupportFalseButton.labelString: Nei

IBM9999*localPrintImageColorSupportTrueButton.labelString: Ja

IBM9999*localPrintPageSizeMenuLabel.labelString:  Sidestørrelse:

! The following are printer page sizes.
IBM9999*localPrintPageSizeMenu*pageSize1.labelString:  Letter (8,5 x 11 tommer)

IBM9999*localPrintPageSizeMenu*pageSize2.labelString:  Legal (8,5 x 14 tommer)

IBM9999*localPrintPageSizeMenu*pageSize3.labelString:  A4 (210 x 297 mm)

IBM9999*localPrintPageSizeMenu*pageSize4.labelString:  A5 (148 x 210 mm)

IBM9999*localPrintPageSizeMenu*pageSize5.labelString:  B5 ISO (176 x 250 mm)

IBM9999*localPrintPageSizeMenu*pageSize6.labelString:  B5 JIS (182 X 257 mm)

IBM9999*localPrintPageSizeMenu*pageSize7.labelString:  Executive (7,25 x 10,5 tommer)

IBM9999*localPrintPageSizeMenu*pageSize8.labelString:  Statement (8,5 x 5,5 tommer)

IBM9999*localPrintDPIMenuLabel.labelString:  Oppløsning (ppt):

IBM9999*localPrintDPIMenu*DPI1.labelString:  75

IBM9999*localPrintDPIMenu*DPI2.labelString:  100

IBM9999*localPrintDPIMenu*DPI3.labelString:  150

IBM9999*localPrintDPIMenu*DPI4.labelString:  200

IBM9999*localPrintDPIMenu*DPI5.labelString:  300

IBM9999*localPrintDPIMenu*DPI6.labelString:  600

IBM9999*ErrorMsgBrowserLowMemory:  Ikke nok minne til å fullføre operasjonen.

IBM9999*userKeypads.labelString: Brukertastgrupper

IBM9999*defaultKeypads.labelString: Standard tastgrupper

IBM9999*playbackControl*playbackDeleteWarningDialog.cancelLabelString: Avbryt

IBM9999*playbackControl*playbackDeleteWarningDialog.okLabelString: OK

!***********************************
!**  Resources only used by 3270  **
!***********************************
! 'Command' menu
IBM3270*sessMenuCascade.labelString: Ny 3270-sesjon

IBM3270*new_sessionButton.labelString: Ny 3270-sesjon

IBM3270*new_mod2Button.labelString: Ny 24x80-sesjon

IBM3270*new_mod3Button.labelString: Ny 32x80-sesjon

IBM3270*new_mod4Button.labelString: Ny 43x80-sesjon

IBM3270*new_mod5Button.labelString: Ny 27x132-sesjon

IBM3270*graphicsMsg.labelString: Grafikk

IBM3270*font0Button.labelString: Standard

IBM3270*printTelnetFailure: Skriv ut\nTelnet-forhandlingene mislyktes.

!**************************************************
!*
!*        Printing translations 
!*
!*      Added by AJMEYER for V310.nc
!*
!**************************************************

IBM9999*printDialogPrinterTypeLabel.labelString:  Skrivertype:

IBM9999*printDialogPrinterTypeMenu*postscript.labelString:  PostScript

IBM9999*printDialogPrinterTypeMenu*ascii.labelString:  ASCII

IBM9999*printDialogPrinterTypeMenu*pcl.labelString:  PCL

IBM9999*printDialogPrinterSelectControls_popup.title:   Velg skriver

IBM9999*printSelectDialogOKButton.labelString:  OK

IBM9999*printSelectDialogCancelButton.labelString:  Avbryt

IBM9999*printDialogSelectPrinter.labelString: Velg en skriver:

IBM5250*hostNameDialog*useridLabel.labelString: Bruker-ID:

IBM5250*hostNameDialog*passwordLabel.labelString: Passord:
