!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250, and
! VTxxx emulators, in particular the miscellaneous preferences program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to all emulators. Some is specific to one emulator.
!    Miscpref = Resources used by both 3270 and 5250 emulators.
!    Miscpr32 = Resources used by the 3270 emulator.
!    Miscpr52 = Resources used by the 5250 emulator.
!    MiscprVT = Resources used by the VT emulator.
! 4. Resource format: 
!    - A resource line starts with Miscpref*, Miscpr32*, Miscpr52*,or MiscprVT*, followed by 
!      a resource name and a ":".  Do NOT make any changes to the text to the left
!      of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Miscpref*large_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
Miscpref*small_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-24-*-*-*-c-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal-*-16-*-*-*-c-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-16-*-*-*-c-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal-*-16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************

!*******************************************************************
!*******   Miscellaneous Preferences Resources           ***********
!*******************************************************************
Miscpr52*title:     5250 其他首选项

Miscpr32*title:     3270 其他首选项

MiscprVT*title:     VT 仿真器其他首选项

Miscpref*iconName:  其他首选项

Miscpref*okLabelString: 确定

Miscpref*cancelLabelString: 取消


!***********************************************
!**     Action Bar Area Resources             **
!***********************************************
Miscpref*saveButton.labelString: 保存

Miscpref*exitButton.labelString: 退出

Miscpref*setDefaultsButton.labelString: 设置缺省值

Miscpref*helpButton.labelString: 帮助


!*********************************************************
!**     Preference Buttons Area Resources               **
!**							**
!*********************************************************
Miscpref*preferencesListInstructions.labelString: 选择首选项

Miscpref*CursorStyleItem:                         光标样式

Miscpr52*EnterKeyLocationItem:                    输入／字段退出键

Miscpr32*EnterKeyLocationItem:                    Enter 键
	
Miscpr52*AutomaticHelpItem:                       自动帮助

Miscpr52*BlueUnderscoreItem:                      蓝色下划线

Miscpref*RowColumnIndicatorItem:                  行列指示器

Miscpref*DestructiveBackspaceItem:                破坏性退格

Miscpref*RuleLineEnableItem:                      标尺线启用

Miscpref*RuleLineStyleItem:                       标尺线样式

Miscpref*PasteStartLocationItem:                  粘贴开始位置

Miscpref*CursorBlinkItem:                         光标闪烁

Miscpr52*LargeScreenBehaviorItem:                 大屏幕行为

Miscpref*PrintKeyLocationItem:                    打印键

Miscpr32*BracketItem:                             括号

Miscpr32*AutomaticReconnectItem:                  自动重新连接

Miscpref*HotspotsItem:                            热点

Miscpref*TypeAheadItem:                           键盘缓冲

Miscpr52*ErrorResetKeys:                          错误复位键

Miscpref*HotspotHighlight:                        热点突出显示

Miscpref*DefaultCopyType:                         缺省复制类型

Miscpref*TextType:                                文本类型

Miscpref*TextOrientation:                         文本方向

Miscpref*NumeralShape:                            数字形状

Miscpref*InsertMode:                              插入方式

Miscpref*InputOnlyCursorMovement:                 仅光标移动输入

Miscpref*AudioAlarm:                              音频警报

MiscprVT*CursorBlinkItem:           光标闪烁

MiscprVT*ApplicationCursor:         应用程序光标方式

MiscprVT*ApplicationKeypad:         应用程序小键盘方式

MiscprVT*AutoLineFeed:              自动换行

MiscprVT*AutoResize:                自动调整大小

MiscprVT*AutoWrapAround:            自动回绕

MiscprVT*ClearScreenWithBlanks:     用空格清除屏幕

MiscprVT*ExitOnDisconnect:          断开连接时退出

MiscprVT*JumpScroll:                跳转滚动

MiscprVT*MarginBell:                边界铃

MiscprVT*MarginBellColumn:          边界铃列

MiscprVT*ReverseWrapAround:         逆向回绕

MiscprVT*VisibleStatusLine:         可视状态行

MiscprVT*VisualBell:                可视铃
	
!*************************************************************
!**     Preference Text Area Resources (Explanation Box)    **
!*************************************************************
Miscpref*CursorStyleText.value: 可能的光标样式包括下划线和块光标。可以将光标样式设置为始终是下划线、始终是块或者是下划线与块的组合（视是否设置了插入方式而定）。

MiscprVT*CursorStyleText.value: 可以将光标样式设置为始终是下划线或始终是块。

MiscprVT*CursorBlinkText.value: 可以启用或禁用光标闪烁。如果启用闪烁光标，则仅当窗口带有焦点时光标才会闪烁。

MiscprVT*ApplicationCursorText.value: 最初，光标键可以处于应用方式或光标方式。当处于应用方式时，使用方向键时将生成 ANSI 转义序列而不是标准光标移动。

MiscprVT*ApplicationKeypadText.value: 最初，小键盘键可以处于应用方式或数字方式。当处于应用方式时，使用小键盘时将生成控制功能而不是数字字符。

Miscpr52*EnterKeyLocationText.value: 可以通过下面的缺省映射来更改用于输入、换行和字段退出功能的键。提供了这些功能在 Enter 键和右 Ctrl 键上的各种组合。

Miscpr32*EnterKeyLocationText.value: 可以通过下面的缺省映射来更改用于输入和换行功能的键。提供了这些功能在 Enter 键和右 Ctrl 键上的各种组合。

Miscpr52*AutomaticHelpText.value: 如果键盘操作员操作出现错误，则其结果是系统可以自动按下 Help 键。通常，自动 Help 键显示一行第一级帮助文本，该文本对操作员错误作了说明。禁用自动 Help 键将导致显示 4 位数字的操作员错误。在该情况下，用户仍可手动按下 Help 键以获取第一级帮助文本。

Miscpr52*BlueUnderscoreText.value: 可以将缺省下划线颜色更改为蓝色。

Miscpref*RowColumnIndicatorText.value: 行列指示器是光标位置的行和列，它显示在状态行右侧。可以显示也可以不显示行列指示器。注，如果不显示光标，则不管此设置如何，行列指示器也不会显示。

Miscpref*DestructiveBackspaceText.value: 退格功能既可以是破坏性的也可以是非破坏性的。如果是破坏性的，则当光标在输入字段中回退时，退格功能将擦除数据。如果是非破坏性的，则当光标在输入字段中回退时，退格功能不会擦除数据。

Miscpref*RuleLineEnableText.value: 标尺线帮助显示光标的位置或先前位置。可以将其完全禁用、始终启用或由标尺线键控制。当由标尺线键控制时，它可以保持固定或跟随光标。

Miscpref*RuleLineStyleText.value: 当标尺线显示时，它可以采用以下三种形式之一：水平线、垂直线或同时显示水平线和垂直线。

Miscpref*PasteStartLocationText.value: 与换档鼠标辅助按键相关联的粘贴操作可定义为在光标位置或鼠标指针位置发生。注，此首选项不会影响从下拉菜单中执行的粘贴操作。下拉菜单粘贴始终在光标位置处完成。

Miscpr52*CursorBlinkText.value: 可以启用或禁用光标闪烁。当启用时，光标闪烁由应用程序控制。当禁用时，光标不闪烁。

Miscpr32*CursorBlinkText.value: 可以启用或禁用光标闪烁。当启用时，光标始终闪烁。当禁用时，光标不闪烁。

Miscpr52*LargeScreenBehaviorText.value: 可以将 5250 仿真器配置为当输入较大的屏幕大小时根据需要自动移动窗口和／或缩小字体大小。在当前位置和／或字体大小的情况下，如果新窗口大小导致窗口在屏幕上放不下，就会自动执行此操作。

Miscpr52*PrintKeyLocationText.value: 除非由键盘重新映射覆盖，否则 Print 键的缺省映射是系统打印功能，而 Shift + Print 键提供本地屏幕打印功能。某些用户可能需要 Print 键提供本地屏幕打印功能，而让 Shift + Print 键提供系统打印功能。

Miscpr32*PrintKeyLocationText.value: 除非由键盘重新映射覆盖，否则 Print 键的缺省映射是 pa1 功能，而 Shift + Print 键提供本地屏幕打印功能。某些用户可能需要 Print 键提供本地屏幕打印功能，而让 Shift + Print 键提供 pa1 功能。

Miscpr32*BracketText.value: 启用“括号”选项将允许正确地完成方括号字符转换。

Miscpr32*AutomaticReconnectText.value: 当用户注销时，可以将 3270 仿真器窗口从屏幕上除去，也可以将它留在屏幕上。当留在屏幕上时，仿真器会自动尝试重新连接至主机系统。

Miscpref*HotspotsText.value: 热点是屏幕上的某些位置，当用鼠标单击它们时，会执行某些操作。例如，当鼠标指针位于“PF1”或“F1”上并且启用了热点时，单击的效果就象是按下了 F1 键一样。可以通过单击主按键来禁用、启用热点，也可以通过双击主按键来启用热点。当通过单击主按键来禁用、启用热点时，双击主按键效果就象是按下了 Enter 键。

Miscpref*TypeAheadText.value: 键盘缓冲将存储当键盘被锁定时（禁止输入时）输入的击键。并将在键盘解锁后对这些键进行处理。启用键盘缓冲将强制其始终处于打开状态。禁用键盘缓冲将强制其始终处于关闭状态。

Miscpr52*ErrorResetKeysText.value: 可以在下面配置用于复位错误的 5250 仿真器键。复位键和鼠标左键单击错误行始终可以复位错误。另外，用户可以选择让光标移动键（制表符、换行、方向键和退格键）和其他鼠标单击也能够复位错误。

Miscpref*HotspotHighlightText.value: 可以将仿真器配置为突出显示热点。如果启用了热点，并且还启用了热点突出显示，则屏幕上的任何热点都会突出显示。

Miscpref*DefaultCopyTypeText.value: 缺省复制类型是与鼠标主按键的单击和拖动操作相关联的复制区域类型。这也是与键盘复制区域标记相关联的复制类型。

Miscpref*TextTypeText.value:                                复制和粘贴的文本类型

Miscpref*TextOrientationText.value: 复制和粘贴的文本方向。选择您要复制到或从中粘贴的外部应用程序的全局文本方向或段方向。

Miscpref*NumeralShapeText.value: 复制和粘贴的数字形状。如果您要复制到或从中粘贴的外部应用程序使用欧洲数字，则选择“名义”。如果应用程序总是使用阿拉伯数字，请选择“本地”。如果数字的外观取决于它们出现的分段，请选择“上下文”方式。

Miscpr52*InsertModeText.value: 缺省情况下，插入方式处于关闭状态，除了插入键之外，应用程序和复位键有时也会自动将插入方式复位。可以禁用插入方式的这种自动复位，并且无论插入方式在缺省情况下是处于打开状态还是关闭状态都可以执行此操作。

Miscpr32*InsertModeText.value: 缺省情况下，插入方式处于关闭状态，除了插入键之外，与应用程序的交互作用（如 Enter 键）也会自动将插入方式复位，并且复位键有时也有此项作用。可以禁用插入方式的这种自动复位，并且无论插入方式在缺省情况下是处于打开状态还是关闭状态都可以执行此操作。

Miscpref*InputOnlyCursorMovementText.value: 可以将方向键配置为只能移至可输入的位置。如果选择此项，则方向键始终将光标移至可输入的位置。如果不存在这样的位置，则光标移至第一个屏幕位置。

Miscpref*AudioAlarmText.value: 可以启用或禁用音频警报。当禁用时，音频警报不会发出声响。

MiscprVT*AutoLineFeedText.value: 可以启用或禁用自动换行。如果启用自动换行，当应用程序发送换行、垂直制表符或换页字符时，VT 仿真器将执行回车和换行。另外，任何生成换行的键（如 Enter 键）都会将回车符和换行发送给应用程序。如果禁用自动换行，则接收到换行、垂直制表符或换页时只执行换行功能。如果禁用自动换行，当按下 Enter 键时，只将换行发送至应用程序。

MiscprVT*AutoResizeText.value: 可以启用或禁用自动调整大小。

MiscprVT*AutoWrapAroundText.value: 可以启用或禁用自动回绕方式。当启用时，在光标到达屏幕边界后输入的字符会自动出现在下一行上。如果禁用自动回绕，则在光标到达屏幕边界后输入的字符会替换行尾的字符。

MiscprVT*ClearScreenWithBlanksText.value: （可选）可以用空格将屏幕清除。

MiscprVT*ExitOnDisconnectText.value: 可以将终端配置为在与主机断开连接后结束。

MiscprVT*JumpScrollText.value: 可以将终端配置为执行跳转滚动。使用跳转滚动，一次可以将屏幕滚动多行。这可以加快在将多行文本发送至终端时的屏幕更新速度。可跳转滚动的最大行数不能超出 VT 仿真器窗口中的行数。

MiscprVT*MarginBellText.value: 可以将终端配置为当用户在右侧距处输入时响铃。

MiscprVT*MarginBellColumnText.value: 指定发生边界铃的列。

MiscprVT*ReverseWrapAroundText.value: 可以启动或禁用逆向回绕。逆向回绕允许光标从该行第一个位置回绕到上一行的最后一列，从而允许用户退格到上一行。要使逆向回绕能够进行，还必须启用自动回绕。

MiscprVT*VisibleStatusLineText.value: 可以使状态行可视或不可视。如果使状态行可视，则会显示 VT 仿真器窗口底部的第 25 行。应用程序可以使用此行来显示状态信息。当应用程序不使用状态行时，则会显示光标行／列指示器。

MiscprVT*VisualBellText.value: 可视铃（屏幕闪烁）可以取代声音铃。

!*************************************************************
!**     Preference Text Area Resources (Options area)       **
!**							    **
!*************************************************************

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton1.labelString: 下划线光标

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton2.labelString: 块光标

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton3.labelString: 块插入光标，下划线替换光标

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton4.labelString: 下划线插入光标，块替换光标

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton1.labelString: 使用缺省的 Enter 键和右 Ctrl 键映射

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton2.labelString: Enter 键 = 输入，右 Ctrl 键 = 换行

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton3.labelString: Enter 键 = 换行，右 Ctrl 键 = 输入

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton4.labelString: Enter 键 = 输入，右 Ctrl 键 = 字段退出／换行

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton5.labelString: Enter 键 = 字段退出／换行，右 Ctrl 键 = 输入

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton1.labelString: 对操作员错误启用自动帮助键

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton2.labelString: 对操作员错误禁用自动帮助键

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton1.labelString: 启用蓝色下划线

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton2.labelString: 禁用蓝色下划线

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton1.labelString: 显示行列指示器

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton2.labelString: 不显示行列指示器

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton1.labelString: 启用破坏性退格

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton2.labelString: 禁用破坏性退格

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton1.labelString: 禁用标尺线

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton2.labelString: 始终在光标位置处显示标尺线

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton3.labelString: 启用标尺线键（不跟随光标）

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton4.labelString: 启用标尺线键（跟随光标）

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton1.labelString: 同时显示水平和垂直标尺线

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton2.labelString: 仅水平标尺线

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton3.labelString: 仅垂直标尺线

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton1.labelString: 在光标位置处粘贴

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton2.labelString: 在鼠标指针处粘贴

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: 禁用光标闪烁

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: 启用光标闪烁

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton1.labelString: 不移动窗口或缩小字体大小

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton2.labelString: 移动窗口并根据需要缩小字体大小

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton3.labelString: 仅缩小字体大小

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton4.labelString: 使用／记住大屏幕字体

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton5.labelString: 缩小字体大小并根据需要移动窗口

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: 使用 Print 键的缺省映射

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString: Print = 系统打印，Shift + Print = 本地打印

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString: Print = 本地打印，Shift + Print = 系统打印

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: 使用 Print 键的缺省映射

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString: Print = pa1，Shift + Print = 本地打印

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString: Print = 本地打印，Shift + Print = pa1

Miscpr32*PreferenceTextFormForBracket*ToggleButton1.labelString: 禁用括号转换

Miscpr32*PreferenceTextFormForBracket*ToggleButton2.labelString: 启用括号转换

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton1.labelString: 注销后将窗口除去

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton2.labelString: 注销后保留窗口

Miscpref*PreferenceTextFormForHotspots*ToggleButton1.labelString: 禁用热点

Miscpref*PreferenceTextFormForHotspots*ToggleButton2.labelString: 单击主按键启用热点

Miscpref*PreferenceTextFormForHotspots*ToggleButton3.labelString: 双击主按键启用热点

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton1.labelString: 禁用键盘缓冲

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton2.labelString: 启用键盘缓冲

Miscpr52*PreferenceTextFormForTypeAhead*ToggleButton3.labelString: 使用 i5/OS 主机设置

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton1.labelString: 仅错误行上的复位键或鼠标左键

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton2.labelString: 还包括光标移动键和所有鼠标按键

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton3.labelString: 大多数键和所有鼠标按键

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton1.labelString: 禁用热点突出显示

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton2.labelString: 启用热点突出显示

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton1.labelString: 线性复制

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton2.labelString: 块复制

Miscpref*PreferenceTextFormForTextType*ToggleButton1.labelString:         逻辑文本

Miscpref*PreferenceTextFormForTextType*ToggleButton2.labelString:         可视文本

Miscpref*PreferenceTextFormForTextOrientation*ToggleButton1.labelString:  从左至右

Miscpref*PreferenceTextFormForTextOrientation*ToggleButton2.labelString:  从右至左

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton1.labelString:     名义

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton2.labelString:     本地

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton3.labelString:     上下文

Miscpref*PreferenceTextFormForInsertMode*ToggleButton1.labelString: 缺省情况下，插入方式处于关闭状态，并启用自动复位

Miscpref*PreferenceTextFormForInsertMode*ToggleButton2.labelString: 缺省情况下，插入方式处于关闭状态，并禁用自动复位

Miscpref*PreferenceTextFormForInsertMode*ToggleButton3.labelString: 缺省情况下，插入方式处于打开状态，并禁用自动复位

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton1.labelString: 禁用仅光标移动输入方式

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton2.labelString: 启用仅光标移动输入方式

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton1.labelString: 禁用音频警报

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton2.labelString: 启用音频警报

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: 禁用光标闪烁

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: 启用光标闪烁

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton1.labelString: 禁用应用程序光标方式

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton2.labelString: 启用应用程序光标方式

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton1.labelString: 禁用应用程序小键盘方式

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton2.labelString: 启用应用程序小键盘方式

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton1.labelString: 禁用自动换行

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton2.labelString: 启用自动换行

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton1.labelString: 禁用自动调整大小

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton2.labelString: 启用自动调整大小

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton1.labelString: 禁用自动回绕

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton2.labelString: 启用自动回绕

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton1.labelString: 禁用使用空格清除屏幕

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton2.labelString: 启用使用空格清除屏幕

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton1.labelString: 禁用断开连接时退出

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton2.labelString: 启用断开连接时退出

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton1.labelString: 禁用跳转滚动

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton2.labelString: 启用跳转滚动

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton1.labelString: 禁用边界铃

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton2.labelString: 启用边界铃

MiscprVT*PreferenceTextFormForMarginBellColumn*textFieldLabel.labelString: 行尾列

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton1.labelString: 禁用逆向回绕

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton2.labelString: 启用逆向回绕

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton1.labelString: 禁用状态行

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton2.labelString: 启用状态行

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton1.labelString: 禁用可视铃

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton2.labelString: 启用可视铃



!**************************************
!**   Messages at bottom of window   **
!**************************************

Miscpr52*MiscprefMsgHelpRequested:     已从 5250 会话中请求了帮助。

Miscpr32*MiscprefMsgHelpRequested:     已从 3270 会话中请求了帮助。

MiscprVT*MiscprefMsgHelpRequested:     已从 VT 仿真器会话中请求了帮助。

Miscpref*MiscprefMsgPreferenceApplied: 已临时地应用首选项。

Miscpref*MiscprefMsgPreferencesSaved:  已保存首选项。

Miscpref*MiscprefMsgDefaultsApplied:   已临时地应用缺省首选项。

Miscpref*MiscprefMsgDefaultsNotSet:    未设置缺省首选项。

Miscpref*MiscprefMsgNoAccess:          无法访问目录。


Miscpref*MiscprefMsgNoMake:            无法创建目录。

Miscpref*MiscprefMsgFileOpenError:     保存时出错：无法打开文件。

Miscpref*MiscprefMsgFileWriteError:    保存时出错：无法写文件。



!********************************
!**  Dialog Box Resources      **
!********************************
Miscpref*exitDialog.dialogTitle:              退出警告

Miscpref*exitDialog.okLabelString:            保存

Miscpref*exitDialog.cancelLabelString:        不保存

! this cannot be much longer
Miscpref*exitDialog.messageString:            存在未保存的其他首选项更改。

Miscpref*setDefaultsDialog.dialogTitle:       设置缺省值警告

Miscpref*setDefaultsDialog.okLabelString:     是
Miscpref*setDefaultsDialog.cancelLabelString: 否

! this cannot be much longer
Miscpref*setDefaultsDialog.messageString:     确实要将所有首选项都设置为它们的缺省值吗？
/*******************************************************************************
**  saveDialog resource
*******************************************************************************/
MiscprVT*saveDialog.dialogTitle: 保存选项

MiscprVT*saveDialog*saveDialogTitle.labelString: 选择保存选项。

MiscprVT*saveDialog*saveChangedOnly.labelString: 仅保存已更改的首选项

MiscprVT*saveDialog*saveAll.labelString: 保存所有首选项

MiscprVT*saveDialog*saveButton.labelString: 保存

MiscprVT*saveDialog*cancelButton.labelString: 取消
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
