!
!
!
! This file contains the resource text strings for the IBM 3270 and IBM 5250 Emulator 
! Setup programs

! This resource file is stored in locale specific ASCII (code page 819 for Latin1 languages).

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with one of the following strings:
!      SetupXXXX* : for the combined setup program resources
!      Setup3270* : for the 3270 setup program resources
!      Setup5250* : for the 5250 setup program resources  
!      AllShare* : for resources shared by the 5250, 3270 and combined setup programs.
!    - Each string is followed by a resource name and a ":".  
!		Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN )   ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN )     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS ( zh_TW )   ****************
!**************************************************************************
!**** For  zh_TW
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS ( zh_TW )     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************


! ********************************************************************************
! Setup Program Resources
! ********************************************************************************
!
! In general, the following buttons should not be made much longer during translation.
! Buttons have one to four words. Note: Testing is the only way to know for sure if all
! buttons fit on the screen ok.  The emulators have a testing document that will be used
! during testing; this will point out a problem if button text is too long. In many 
! cases, buttons are presented side by side, where the total button text length cannot
! increase significantly.
! Note: \n causes a new line and should not be translated.
! You can move, add, or remove \n within text strings.
!
! Password prompt panel 
Setup5250*passwordPromptDialogWidth:            60
Setup5250*passwordPromptDialogHeight:           10
Setup5250*passwordPanelTitle.labelString:       密码
Setup5250*passwordPanelInstructions.labelString: 您请求的操作需要密码。\n请输入密码。

! Password change panel 
Setup5250*passwordChangeDialogWidth:            60
Setup5250*passwordChangeDialogHeight:           21
Setup5250*passwordChangeDialog2Width:           60
Setup5250*passwordChangeDialog2Height:          17
Setup5250*passwordChangePanelTitle.labelString:       更改密码
Setup5250*passwordChangePanelInstructions.labelString: 请输入当前密码和新密码\n\
以更改密码。
Setup5250*passwordChangePanelInstructions2.labelString: 请输入新密码以设置密码。
Setup5250*currentPassword.labelString:          当前密码：
Setup5250*newPassword.labelString:              新密码：
Setup5250*newPassword2.labelString:             确认新密码：

! menu bar
Setup5250*ConnectionCascade.labelString:        连接
SetupXXXX*NewConnectionCascade.labelString:     新建(N)...
SetupXXXX*New3270ConnectionButton.labelString:     3270...
SetupXXXX*New5250ConnectionButton.labelString:     5250...
Setup5250*NewConnectionButton.labelString:      新建(N)...
Setup5250*NewConnectionCascade.mnemonic:        N
Setup5250*EditConnectionButton.labelString:     编辑(E)...
Setup5250*EditConnectionButton.mnemonic:        E
Setup5250*BrowseConnectionButton.labelString:   浏览(B)...
Setup5250*BrowseConnectionButton.mnemonic:      B
Setup5250*CopyConnectionButton.labelString:     复制(C)...
Setup5250*CopyConnectionButton.mnemonic:        C
Setup5250*Copy:                                 复制
Setup5250*ConnectButton.labelString:            连接
Setup5250*RemoveConnectionButton.labelString:   除去(R)...
Setup5250*RemoveConnectionButton.mnemonic:      R
Setup5250*ExitButton.labelString:               退出(X)
Setup5250*ExitButton.mnemonic:                  X
Setup5250*PreferencesCascade.labelString:       首选项(P)
Setup5250*PreferencesCascade.mnemonic:          P
Setup5250*Prefs3270Button.labelString:          3270...
Setup5250*Prefs3270Button.mnemonic:             3
Setup5250*Prefs5250Button.labelString:          5250...
Setup5250*Prefs5250Button.mnemonic:             5
Setup5250*OptionsCascade.labelString:           选项(O)
Setup5250*OptionsCascade.mnemonic:              O
Setup5250*PasswordButton.labelString:           密码...
Setup5250*HelpCascade.labelString:              帮助(H)
Setup5250*HelpCascade.mnemonic:                 H
Setup5250*HelpAboutButton.labelString:          关于...
Setup5250*HelpContentsButton.labelString:       内容...
Setup5250*Help3270ContentsButton.labelString:   3270 设置内容...
Setup5250*Help5250ContentsButton.labelString:   5250 设置内容...
Setup5250*Help3270EmulatorContentsButton.labelString: 3270 仿真器内容...
Setup5250*Help5250EmulatorContentsButton.labelString: 5250 仿真器内容...
Setup5250*UserConnectionsListlabel.labelString:     用户连接
Setup5250*DefaultConnectionsListlabel.labelString:  缺省连接
Setup5250*ProfileConnectionsListlabel.labelString:  概要文件连接
	
! Command lines
Setup5250*GeometryTitle.labelString:            以像素计的窗口大小和位置（可选）
Setup5250*GeometryTitle2.labelString:           窗口大小和位置（可选）
Setup5250*GeometryTitle3.labelString:           屏幕大小（可选）
Setup5250*GeometryFullScreenLabel.labelString:  全\n\
屏幕
Setup5250*GeometryFullScreenCheckBox.labelString:
Setup5250*GeometryWidthLabel.labelString:       宽度
Setup5250*GeometryHeightLabel.labelString:      高度
Setup5250*GeometryColsLabel.labelString:        列数
Setup5250*GeometryRowsLabel.labelString:        行数
Setup5250*GeometryHorizontalOffsetLabel.labelString: 水平\n\
偏移
Setup5250*GeometryVerticalOffsetLabel.labelString:   垂直\n\
偏移
Setup5250*GeometryCornerLabel.labelString:      偏移\n\
起始角
Setup5250*cornerButton1.labelString:            左上角
Setup5250*cornerButton2.labelString:            右上角
Setup5250*cornerButton3.labelString:            左下角
Setup5250*cornerButton4.labelString:            右下角

! 3270 and 5250 Command Line Editing 
Setup5250*CommandLine5250EditTitle.labelString: 5250 仿真器连接
Setup5250*Advanced5250EditTitle.labelString:    高级 5250 仿真器连接
Setup5250*AS400.labelString:                    i5/OS 主机名或\n\
IP 地址（可选）
Setup5250*CommandLine3270EditTitle.labelString: 3270 仿真器连接
Setup5250*Advanced3270EditTitle.labelString:    高级 3270 仿真器连接
Setup5250*s390.labelString:                     S/390 主机名或\n\
IP 地址（可选）
Setup5250*ConnectionDescription.labelString:    连接描述

Setup5250*sessionTitle.labelString:             会话标题（可选）
Setup5250*userid.labelString:                   仿真器用户标识（可选）
Setup5250*password.labelString:                 仿真器密码（可选）
Setup5250*displayName.labelString:              显示名（可选）
Setup5250*port_string.labelString:              Telnet 端口（空白=缺省=23）
Setup5250*otherParameters.labelString:          其他参数（可选）

Setup5250*OKButton.labelString:                 确定
Setup5250*cancelButton.labelString:             取消
Setup5250*SetToDefaultsButton.labelString:      设置为缺省值
Setup5250*helpButton.labelString:               帮助

Setup5250*advancedButton.labelString:           高级...
Setup5250*advanced5250Button.labelString:       高级 5250 连接...
Setup5250*5250PreferencesButton.labelString:    全局 5250 首选项...
Setup5250*advanced3270Button.labelString:       高级 3270 连接...
Setup5250*3270PreferencesButton.labelString:    全局 3270 首选项...
Setup5250*screenSizeLabel.labelString:          屏幕大小：
Setup5250*24x80.labelString:                    24x80（方式 2，无图形）
Setup5250*32x80.labelString:                    32x80（方式 3）
Setup5250*43x80.labelString:                    43x80（方式 4，无图形）
Setup5250*27x132.labelString:                   27x132（方式 5，无图形）
Setup5250*graphicsLabel.labelString:            图形：
Setup5250*customSize.labelString:               定制（无图形）
Setup5250*tn3270eLabel.labelString:             TN3270E：

! 3270 and 5250 Application Preferences 
Setup5250*panel5250PrefsTitle.labelString: 5250 首选项
Setup5250*panel5250ProfilePrefsTitle.labelString: 5250 概要文件首选项
Setup5250*5250AppPrefsPanelInstructions.labelString: 5250 首选项将应用于所有 5250 连接。
Setup5250*panel3270PrefsTitle.labelString: 3270 首选项
Setup5250*panel3270ProfilePrefsTitle.labelString: 3270 概要文件首选项
Setup5250*3270AppPrefsPanelInstructions.labelString: 3270 首选项将应用于所有 3270 连接。

Setup5250*keymapAreaLabel.labelString: 键盘映射：
Setup5250*keymapLabel.labelString: 键重新映射\n\
功能：

Setup5250*keypadAreaLabel.labelString: 小键盘：
Setup5250*keypadLabel.labelString: 小键盘功能：

Setup5250*recplayAreaLabel.labelString: 录制／回放：
Setup5250*recplayLabel.labelString: 录制／回放\n\
功能：

Setup5250*colorsAreaLabel.labelString: 颜色：
Setup5250*colorsLabel.labelString: 颜色\n\
定制\n\
功能：

Setup5250*appearanceAreaLabel.labelString: 外观：
Setup5250*wideScreenLabel.labelString: 132 列：
Setup5250*columnSepLabel.labelString: 列分隔符：
Setup5250*enterKeyLabel.labelString: 输入功能\n\
的键：

Setup5250*allowUseAreaLabel.labelString: 允许使用：
Setup5250*commandMenuLabel.labelString: 命令菜单：
Setup5250*editLabel.labelString: 编辑菜单：
Setup5250*optionLabel.labelString: 选项菜单：
Setup5250*printLabel.labelString: 打印菜单：
Setup5250*helpLabel.labelString: 帮助菜单：
Setup5250*controlLabel.labelString: 控制菜单：
Setup5250*graphicsLabel.labelString: 图形：
Setup5250*miscPrefLabel.labelString: 其他\n首选项：
Setup5250*fontMenuLabel.labelString: 字体菜单列表：
Setup5250*newSessionLabel.labelString: 新建会话\n\
窗口：
Setup5250*browserLabel.labelString: 浏览器热点：
Setup5250*desktopLabel.labelString: 桌面文件：

Setup5250*authenticationParameters.labelString: 认证参数：
Setup5250*additionalParameters.labelString: 附加参数：

! preference choice values.
Setup5250*prefdefault.labelString: 缺省
Setup5250*prefEnabled.labelString: 已启用
Setup5250*prefDisabled.labelString: 已禁用
Setup5250*prefHidden.labelString: 隐藏
Setup5250*prefBasic.labelString: 基本
Setup5250*prefAdvanced.labelString: 高级
Setup5250*prefPlaybackOnly.labelString: 仅回放
Setup5250*prefNoResizeOrMove.labelString: 不调整大小或移动
Setup5250*prefFixedFontsOnly.labelString: 仅固定字体
Setup5250*prefKeypadOnly.labelString: 仅使用小键盘
Setup5250*prefKeyboardPrintOnly.labelString: 无菜单，仅键盘打印
Setup5250*prefYes.labelString: 是
Setup5250*prefNo.labelString: 否
Setup5250*prefEnterKey.labelString: Enter 键
Setup5250*prefControlKey.labelString: Control 键
Setup5250*pref24x80.labelString: 24x80（无图形）
Setup5250*pref32x80.labelString: 32x80
Setup5250*pref43x80.labelString: 43x80（无图形）
Setup5250*pref27x132.labelString: 27x132（无图形）
Setup5250*prefNoAllowWMClose.labelString: 不，但允许关闭窗口
Setup5250*prefYesReadOnly.labelString: 是，但只读

! 3270 scrolled window sizes.
Setup5250*CommandLine3270SizeWidth:                26
Setup5250*CommandLine3270SizeHeight:               22
Setup5250*CommandLine3270AdvSizeWidth:             68  
Setup5250*CommandLine3270AdvSizeHeight:            33 
Setup5250*AppPrefs3270SizeWidth:                   56 
Setup5250*AppPrefs3270SizeHeight:                  30 

! 5250 scrolled window sizes.
Setup5250*CommandLine5250SizeWidth:             36
Setup5250*CommandLine5250SizeHeight:            22
Setup5250*CommandLine5250AdvSizeWidth:          75
Setup5250*CommandLine5250AdvSizeHeight:         29 
Setup5250*AppPrefs5250SizeWidth:                65 
Setup5250*AppPrefs5250SizeHeight:               30 

! messages
Setup5250*SetNonKioskPrefsDialog.okLabelString:      是
Setup5250*SetNonKioskPrefsDialog.cancelLabelString:  否
Setup5250*SetKioskPrefsDialog.okLabelString:      是
Setup5250*SetKioskPrefsDialog.cancelLabelString:  否
Setup5250*SetKioskPrefsDialog.messageString: 要将所有仿真器首选项都设置为\n\
“单一仿真器”方式的缺省值吗？
Setup5250*SetNonKioskPrefsDialog.messageString: 要将所有仿真器首选项都设置为\n\
“多重应用”方式的缺省值吗？
Setup5250*removeConnectionConfirmation.messageString: 要除去所选连接吗？
Setup5250*Emulator5250Starting: 5250 仿真器正在启动。请稍候。
Setup5250*Emulator3270Starting: 3270 仿真器正在启动。请稍候。
Setup5250*3270PreferencesChanged: 要使已更改的首选项生效，必须将\n\
当前所有的 3270 仿真器会话关闭。
Setup5250*Current3270SessionIsNotForConfiguration.messageString: 在为修改概要文件而启动 3270 会话之前，\n\
将首先关闭所有常规 3270 仿真器会话。
Setup5250*Current3270SessionIsForConfiguration.messageString: 在启动常规 3270 会话之前，将关闭所有\n\
用于修改概要文件的 3270 仿真器会话。
Setup5250*5250PreferencesChanged: 要使已更改的首选项生效，必须将\n\
所有的当前 5250 仿真器会话关闭。
Setup5250*Current5250SessionIsNotForConfiguration.messageString: 在启动用于修改概要文件的 5250 会话之前，\n\
将首先关闭所有常规 5250 仿真器会话。
Setup5250*Current5250SessionIsForConfiguration.messageString: 在启动常规 5250 会话之前，将关闭所有\n\
用于修改概要文件的 5250 仿真器会话。
! error messages
Setup5250*ErrorPasswordIncorrect:               您输入的密码不正确。
Setup5250*ErrorCurrentPasswordIncorrect:        当前密码不正确。
Setup5250*ErrorNewPasswordsDontMatch:           确认新密码与新密码不匹配。
Setup5250*ErrorCantRemoveDefaultPWOnlyOverrideIt:  不能除去缺省密码，\n\
只能用用户密码来替换。
Setup5250*ErrorNoConnectionDescription:         必须指定连接描述。
Setup5250*ErrorConnectionDescriptionExistsAlready:  您输入的连接描述已存在。
Setup5250*ErrorUseUserIDInvalidDisplayName:     显示名 USE_USER_ID 不受支持。
Setup5250*ErrorNonNumericDataNotAllowed:        不允许使用非数字数据。

! misc
Setup5250*okLabelString:                        确定
Setup5250*cancelLabelString:                    取消
SetupXXXX*title:                                仿真器设置
SetupXXXX*iconName:                             仿真器设置
Setup3270*title:                                3270 设置
Setup3270*iconName:                             3270 设置
Setup5250*title:                                5250 设置
Setup5250*iconName:                             5250 设置
Setup5250*keymapFilename.labelString:           键映射文件名（可选）
Setup5250*keypadFilename.labelString:           小键盘文件名（可选）
Setup5250*sslFilename.labelString:              SSL 文件名（可选）

! help dialog.
SetupXXXX*helpAboutTextTitle.labelString: 关于 IBM 仿真器设置
SetupXXXX*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
此设置程序用来配置和启动 IBM 仿真器。
Setup5250*helpAboutTextTitle.labelString: 关于 IBM 5250 仿真器设置
Setup5250*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
此设置程序用来配置和启动 IBM 5250 仿真器。
Setup3270*helpAboutTextTitle.labelString: 关于 IBM 3270 仿真器设置
Setup3270*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
此设置程序用来配置和启动 IBM 3270 仿真器。

!arabic parameters
Setup5250*arabicParametersLabel.labelString: 阿拉伯参数
Setup5250*allocateLamAlefLabel.labelString: 为 LamAlef\n分配空间
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
