!
!
!
! This file contains the resource text strings for the IBM 3270 and IBM 5250 Emulator 
! Setup programs

! This resource file is stored in locale specific ASCII (code page 819 for Latin1 languages).

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with one of the following strings:
!      SetupXXXX* : for the combined setup program resources
!      Setup3270* : for the 3270 setup program resources
!      Setup5250* : for the 5250 setup program resources  
!      AllShare* : for resources shared by the 5250, 3270 and combined setup programs.
!    - Each string is followed by a resource name and a ":".  
!		Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN )   ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN )     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS ( zh_TW )   ****************
!**************************************************************************
!**** For  zh_TW
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS ( zh_TW )     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************


! ********************************************************************************
! Setup Program Resources
! ********************************************************************************
!
! In general, the following buttons should not be made much longer during translation.
! Buttons have one to four words. Note: Testing is the only way to know for sure if all
! buttons fit on the screen ok.  The emulators have a testing document that will be used
! during testing; this will point out a problem if button text is too long. In many 
! cases, buttons are presented side by side, where the total button text length cannot
! increase significantly.
! Note: \n causes a new line and should not be translated.
! You can move, add, or remove \n within text strings.
!
! Password prompt panel 
Setup5250*passwordPromptDialogWidth:            60
Setup5250*passwordPromptDialogHeight:           10
Setup5250*passwordPanelTitle.labelString:       Пароль
Setup5250*passwordPanelInstructions.labelString: Запрошенная операция защищена\n\
паролем. Введите пароль.

! Password change panel 
Setup5250*passwordChangeDialogWidth:            60
Setup5250*passwordChangeDialogHeight:           21
Setup5250*passwordChangeDialog2Width:           60
Setup5250*passwordChangeDialog2Height:          17
Setup5250*passwordChangePanelTitle.labelString:       Изменить пароль
Setup5250*passwordChangePanelInstructions.labelString: Введите текущий пароль, а затем\n\
новый пароль.
Setup5250*passwordChangePanelInstructions2.labelString: Введите новый пароль.
Setup5250*currentPassword.labelString:          Текущий пароль:
Setup5250*newPassword.labelString:              Новый пароль: 
Setup5250*newPassword2.labelString:             Подтверждение нового пароля:

! menu bar
Setup5250*ConnectionCascade.labelString:        Соединение
SetupXXXX*NewConnectionCascade.labelString:     Создать...
SetupXXXX*New3270ConnectionButton.labelString:     3270...
SetupXXXX*New5250ConnectionButton.labelString:     5250...
Setup5250*NewConnectionButton.labelString:      Создать...
Setup5250*NewConnectionCascade.mnemonic:        N
Setup5250*EditConnectionButton.labelString:     Изменить...
Setup5250*EditConnectionButton.mnemonic:        E
Setup5250*BrowseConnectionButton.labelString:   Показать...
Setup5250*BrowseConnectionButton.mnemonic:      B
Setup5250*CopyConnectionButton.labelString:     Копировать...
Setup5250*CopyConnectionButton.mnemonic:        C
Setup5250*Copy:                                 Копировать
Setup5250*ConnectButton.labelString:            Подключиться
Setup5250*RemoveConnectionButton.labelString:   Удалить...
Setup5250*RemoveConnectionButton.mnemonic:      R
Setup5250*ExitButton.labelString:               Выход
Setup5250*ExitButton.mnemonic:                  x
Setup5250*PreferencesCascade.labelString:       Параметры
Setup5250*PreferencesCascade.mnemonic:          P
Setup5250*Prefs3270Button.labelString:          3270...
Setup5250*Prefs3270Button.mnemonic:             3
Setup5250*Prefs5250Button.labelString:          5250...
Setup5250*Prefs5250Button.mnemonic:             5
Setup5250*OptionsCascade.labelString:           Опции
Setup5250*OptionsCascade.mnemonic:              O
Setup5250*PasswordButton.labelString:           Пароль...
Setup5250*HelpCascade.labelString:              Справка
Setup5250*HelpCascade.mnemonic:                 H
Setup5250*HelpAboutButton.labelString:          О программе...
Setup5250*HelpContentsButton.labelString:       Оглавление...
Setup5250*Help3270ContentsButton.labelString:   Оглавление справка по настройке 3270
Setup5250*Help5250ContentsButton.labelString:   Оглавление справки по настройке 5250
Setup5250*Help3270EmulatorContentsButton.labelString: Оглавление справка по эмулятору 3270
Setup5250*Help5250EmulatorContentsButton.labelString: Оглавление справки по эмулятору 5250
Setup5250*UserConnectionsListlabel.labelString:     Соединения пользователя
Setup5250*DefaultConnectionsListlabel.labelString:  Соединения по умолчанию
Setup5250*ProfileConnectionsListlabel.labelString:  Соединения из профайла
	
! Command lines
Setup5250*GeometryTitle.labelString:            Размер и расположение окна в пикселах (необязательно)
Setup5250*GeometryTitle2.labelString:           Размер и расположение окна (необязательно)
Setup5250*GeometryTitle3.labelString:           Размер экрана (необязательно)
Setup5250*GeometryFullScreenLabel.labelString:  Во весь\n\
экран
Setup5250*GeometryFullScreenCheckBox.labelString:
Setup5250*GeometryWidthLabel.labelString:       Ширина
Setup5250*GeometryHeightLabel.labelString:      Высота
Setup5250*GeometryColsLabel.labelString:        Столбцов
Setup5250*GeometryRowsLabel.labelString:        Строк
Setup5250*GeometryHorizontalOffsetLabel.labelString: Смещение по\n\
горизонтали
Setup5250*GeometryVerticalOffsetLabel.labelString:   Смещение по\n\
вертикали
Setup5250*GeometryCornerLabel.labelString:      Угол для отсчета\n\
смещения
Setup5250*cornerButton1.labelString:            Левый верхний
Setup5250*cornerButton2.labelString:            Правый верхний
Setup5250*cornerButton3.labelString:            Левый нижний
Setup5250*cornerButton4.labelString:            Правый нижний

! 3270 and 5250 Command Line Editing 
Setup5250*CommandLine5250EditTitle.labelString: Соединение эмулятора 5250
Setup5250*Advanced5250EditTitle.labelString:    Расширенное соединение эмулятора 5250
Setup5250*AS400.labelString:                    Имя хоста или IP-адрес\n\
i5/OS (необязательно)
Setup5250*CommandLine3270EditTitle.labelString: Соединение эмулятора 3270
Setup5250*Advanced3270EditTitle.labelString:    Расширенное соединение эмулятора 3270
Setup5250*s390.labelString:                     Имя хоста или IP-адрес\n\
S/390 (необязательно)
Setup5250*ConnectionDescription.labelString:    Описание соединения

Setup5250*sessionTitle.labelString:             Заголовок сеанса (необязательно)
Setup5250*userid.labelString:                   ИД пользователя эмулятора (необязательно)
Setup5250*password.labelString:                 Пароль эмулятора (необязательно)
Setup5250*displayName.labelString:              Имя дисплея (необязательно)
Setup5250*port_string.labelString:              Порт Telnet (пусто=порт по умолч.=23)
Setup5250*otherParameters.labelString:          Прочие параметры (необязательно)

Setup5250*OKButton.labelString:                 OK
Setup5250*cancelButton.labelString:             Отмена
Setup5250*SetToDefaultsButton.labelString:      По умолчанию
Setup5250*helpButton.labelString:               Справка

Setup5250*advancedButton.labelString:           Дополнительно...
Setup5250*advanced5250Button.labelString:       Расширенное соединение 5250...
Setup5250*5250PreferencesButton.labelString:    Глобальные параметры 5250...
Setup5250*advanced3270Button.labelString:       Расширенное соединение 3270...
Setup5250*3270PreferencesButton.labelString:    Глобальные параметры 3270...
Setup5250*screenSizeLabel.labelString:          Размер экрана:
Setup5250*24x80.labelString:                    24x80 (Mod 2, без графики)
Setup5250*32x80.labelString:                    32x80 (Mod 3)
Setup5250*43x80.labelString:                    43x80 (Mod 4, без графики)
Setup5250*27x132.labelString:                   27x132 (Mod 5, без графики)
Setup5250*graphicsLabel.labelString:            Графика:
Setup5250*customSize.labelString:               Пользовательский (без графики)
Setup5250*tn3270eLabel.labelString:             TN3270E:

! 3270 and 5250 Application Preferences 
Setup5250*panel5250PrefsTitle.labelString: Параметры 5250
Setup5250*panel5250ProfilePrefsTitle.labelString: Параметры профайла 5250
Setup5250*5250AppPrefsPanelInstructions.labelString: Параметры 5250 применяются для всех соединений 5250.
Setup5250*panel3270PrefsTitle.labelString: Параметры 3270
Setup5250*panel3270ProfilePrefsTitle.labelString: Параметры профайла 3270
Setup5250*3270AppPrefsPanelInstructions.labelString: Параметры 3270 применяются для всех соединений 3270.

Setup5250*keymapAreaLabel.labelString: Раскладка клавиатуры:
Setup5250*keymapLabel.labelString: Изменение раскладки\n\
клавиатуры:

Setup5250*keypadAreaLabel.labelString: Дополнительная клавиатура:
Setup5250*keypadLabel.labelString: Дополнительные клавиатуры:

Setup5250*recplayAreaLabel.labelString: Запись/воспроизведение:
Setup5250*recplayLabel.labelString: Запись/воспроизведение\n\
макрокоманд:

Setup5250*colorsAreaLabel.labelString: Цвета:
Setup5250*colorsLabel.labelString: Функция\n\
настройки\n\
цветов:

Setup5250*appearanceAreaLabel.labelString: Вид:
Setup5250*wideScreenLabel.labelString: 132 столбца:
Setup5250*columnSepLabel.labelString: Разделители столбцов:
Setup5250*enterKeyLabel.labelString: Клавиша для функции\n\
Enter:

Setup5250*allowUseAreaLabel.labelString: Разрешить применение:
Setup5250*commandMenuLabel.labelString: Меню Команда:
Setup5250*editLabel.labelString: Меню Правка:
Setup5250*optionLabel.labelString: Меню Опция:
Setup5250*printLabel.labelString: Меню Печать:
Setup5250*helpLabel.labelString: Меню Справка:
Setup5250*controlLabel.labelString: Меню Управление:
Setup5250*graphicsLabel.labelString: Графика:
Setup5250*miscPrefLabel.labelString: Различные\n\
параметры:
Setup5250*fontMenuLabel.labelString: Пункт меню Шрифт:
Setup5250*newSessionLabel.labelString: Новое окно\n\
сеанса:
Setup5250*browserLabel.labelString: Активная область браузера:
Setup5250*desktopLabel.labelString: Файл рабочего стола:

Setup5250*authenticationParameters.labelString: Параметры идентификации:
Setup5250*additionalParameters.labelString: Дополнительные параметры:

! preference choice values.
Setup5250*prefdefault.labelString: По умолчанию
Setup5250*prefEnabled.labelString: Включить
Setup5250*prefDisabled.labelString: Выключить
Setup5250*prefHidden.labelString: Скрыть
Setup5250*prefBasic.labelString: Базовая
Setup5250*prefAdvanced.labelString: Расширенная
Setup5250*prefPlaybackOnly.labelString: Только воспроизведение
Setup5250*prefNoResizeOrMove.labelString: Нет, не изменять размер и не перемещать
Setup5250*prefFixedFontsOnly.labelString: Только непропорциональные шрифты
Setup5250*prefKeypadOnly.labelString: Только применение доп. клавиатур
Setup5250*prefKeyboardPrintOnly.labelString: Печать только по клавише Print
Setup5250*prefYes.labelString: Да
Setup5250*prefNo.labelString: Нет
Setup5250*prefEnterKey.labelString: Клавиша Enter
Setup5250*prefControlKey.labelString: Клавиша Control
Setup5250*pref24x80.labelString: 24x80 (без графики)
Setup5250*pref32x80.labelString: 32x80
Setup5250*pref43x80.labelString: 43x80 (без графики)
Setup5250*pref27x132.labelString: 27x132 (без графики)
Setup5250*prefNoAllowWMClose.labelString: Нет, разрешить закрывать окно
Setup5250*prefYesReadOnly.labelString: Да, только чтение

! 3270 scrolled window sizes.
Setup5250*CommandLine3270SizeWidth:                26
Setup5250*CommandLine3270SizeHeight:               22
Setup5250*CommandLine3270AdvSizeWidth:             68  
Setup5250*CommandLine3270AdvSizeHeight:            33 
Setup5250*AppPrefs3270SizeWidth:                   56 
Setup5250*AppPrefs3270SizeHeight:                  30 

! 5250 scrolled window sizes.
Setup5250*CommandLine5250SizeWidth:             36
Setup5250*CommandLine5250SizeHeight:            22
Setup5250*CommandLine5250AdvSizeWidth:          75
Setup5250*CommandLine5250AdvSizeHeight:         29 
Setup5250*AppPrefs5250SizeWidth:                65 
Setup5250*AppPrefs5250SizeHeight:               30 

! messages
Setup5250*SetNonKioskPrefsDialog.okLabelString:      Да
Setup5250*SetNonKioskPrefsDialog.cancelLabelString:  Нет
Setup5250*SetKioskPrefsDialog.okLabelString:      Да
Setup5250*SetKioskPrefsDialog.cancelLabelString:  Нет
Setup5250*SetKioskPrefsDialog.messageString: Присвоить всем параметрам эмулятора значения\n\
по умолчанию для режима одного эмулятора?
Setup5250*SetNonKioskPrefsDialog.messageString: Присвоить всем параметрам эмулятора значения\n\
по умолчанию для режима нескольких приложений?
Setup5250*removeConnectionConfirmation.messageString: Удалить выбранное соединение?
Setup5250*Emulator5250Starting: Выполняется запуск эмулятора 5250. Подождите...
Setup5250*Emulator3270Starting: Выполняется запуск эмулятора 3270. Подождите...
Setup5250*3270PreferencesChanged: Для того чтобы изменения параметров вступили в силу,\n\
нужно закрыть все сеансы эмулятора 3270.
Setup5250*Current3270SessionIsNotForConfiguration.messageString: Все обычные сеансы эмулятора 3270 будут закрыты, а затем\n\
будут запущены сеансы 3270 для изменения профайла.
Setup5250*Current3270SessionIsForConfiguration.messageString: Все сеансы эмулятора 3270 для изменения профайла будут закрыты,\n\
а затем будут запущены обычные сеансы 3270.
Setup5250*5250PreferencesChanged: Для того чтобы изменения параметров вступили в силу,\n\
нужно закрыть текущие сеансы эмулятора 5250.
Setup5250*Current5250SessionIsNotForConfiguration.messageString: Все обычные сеансы эмулятора 5250 будут закрыты, а затем\n\
будут запущены сеансы 5250 для изменения профайла.
Setup5250*Current5250SessionIsForConfiguration.messageString: Все сеансы эмулятора 5250 для изменения профайла будут закрыты,\n\
а затем будут запущены обычные сеансы 5250.
! error messages
Setup5250*ErrorPasswordIncorrect:               Введен неправильный пароль.
Setup5250*ErrorCurrentPasswordIncorrect:        Текущий пароль неверен.
Setup5250*ErrorNewPasswordsDontMatch:           Подтверждение нового пароля не совпадает с новым паролем.
Setup5250*ErrorCantRemoveDefaultPWOnlyOverrideIt:  Пароль по умолчанию нельзя удалить, но\n\
можно заменить на пользовательский пароль.
Setup5250*ErrorNoConnectionDescription:         Укажите описание соединения.
Setup5250*ErrorConnectionDescriptionExistsAlready:  Введенное описание соединения уже существует.
Setup5250*ErrorUseUserIDInvalidDisplayName:     Имя дисплея USE_USER_ID не поддерживается.
Setup5250*ErrorNonNumericDataNotAllowed:        Допустимы только числовые данные.

! misc
Setup5250*okLabelString:                        OK
Setup5250*cancelLabelString:                    Отмена
SetupXXXX*title:                                Настройка эмулятора
SetupXXXX*iconName:                             Настройка эмулятора
Setup3270*title:                                Настройка 3270
Setup3270*iconName:                             Настройка 3270
Setup5250*title:                                Настройка 5250
Setup5250*iconName:                             Настройка 5250
Setup5250*keymapFilename.labelString:           Имя файла раскладки клавиатуры (необязательно)
Setup5250*keypadFilename.labelString:           Имя файла раскладки дополнительной клавиатуры (необязательно)
Setup5250*sslFilename.labelString:              Имя файла SSL (необязательно)

! help dialog.
SetupXXXX*helpAboutTextTitle.labelString: О программе настройки эмулятора IBM
SetupXXXX*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation. Все права защищены.\n\
\n\
Эта программа применяется для настройки и запуска эмуляторов IBM.
Setup5250*helpAboutTextTitle.labelString: О программе настройки эмулятора IBM 5250
Setup5250*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation. Все права защищены.\n\
\n\
Эта программа применяется для настройки и запуска эмулятора IBM 5250.
Setup3270*helpAboutTextTitle.labelString: О программе настройки эмулятора IBM 3270
Setup3270*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation. Все права защищены.\n\
\n\
Эта программа применяется для настройки и запуска эмулятора IBM 3270.

!arabic parameters
Setup5250*arabicParametersLabel.labelString: Параметры для арабского
Setup5250*allocateLamAlefLabel.labelString: Добавлять пробел\n\
 для LamAlef
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
