Package: desktop
Version: 2.0-11
Architecture: i386
Maintainer: Steffen Hoenig <s.hoenig@openthinclient.com>
Installed-Size: 1758
Depends: base, tcos-libs (>= 2.0-7)
Conflicts: tcos-branding
Section: unknown
Priority: optional
Description: Customize the TCOS desktop experience.
