!
!
!
! This file contains the resource text strings for the IBM Network Station 3270 and 5250
! emulators, in particular the color mapping program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5ColM.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with ColorMap* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

ColorMap*title: 			Färganpassning

! icons
ColorMap*iname3270:                     3270 - Färger
ColorMap*iname5250:                     5250 - Färger


ColorMap*corrupt:               Färgfilen har skadats

ColorMap*lowMemMsgDialog.messageString:  Minnet räcker inte för att starta visningen av hjälptexten.

ColorMap*okLabelString: OK

ColorMap*cancelLabelString: Avbryt

!*******************************************************************************
!**     Preferences area resources (top of window)                            **
!*******************************************************************************
ColorMap*modeInstructions.labelString:  Välj färganpassning:

ColorMap*Basic.labelString:             Enkel

ColorMap*Advanced.labelString:          Avancerad


!*************************************************************
!**   Basic and advanced action bar area resources          **
!*************************************************************
ColorMap*actionForm.saveButton.labelString:  	Spara

ColorMap*actionForm.deleteButton.labelString:   Ta bort

ColorMap*actionForm.applyButton.labelString:    Använd

ColorMap*actionForm.quitButton.labelString:     Avsluta

ColorMap*actionForm.helpButton.labelString:     Hjälp


!************************************************
!**  Basic and advanced color savebox          **
!************************************************
ColorMap*saveBoxLabel.labelString:         Välj ett alternativ för Spara:

ColorMap*saveBoxToggle1.labelString:       Spara som förinställning för alla sessioner

ColorMap*saveBoxToggle2.labelString:       Spara enbart för den här sessionen

ColorMap*saveBoxSaveBtn.labelString:  	   Spara

ColorMap*saveBoxCancelBtn.labelString:     Avbryt

ColorMap*advancedSaveBoxLabel.labelString: Ange ett filnamn för avancerade färger:

! Characters in file names must be 819 (ISO8859-1)
ColorMap*invalidFileName.value:            Du har skrivit ett ogiltigt tecken i filnamnet.

ColorMap*invalidFileNameOkbutton.labelString:  OK

!****************************************
!**  Overwrite existing file dialog    **
!****************************************
ColorMap*fileWarningDialog.dialogTitle:        Färgfil - Varning

ColorMap*fileWarningDialog.messageString:      Filen finns redan. Vill du skriva över den?

ColorMap*fileWarningDialog.okLabelString:      Ja

ColorMap*fileWarningDialog.cancelLabelString:  Nej



!***************************************
!**  Basic color work area            **
!***************************************
ColorMap*basicListLabel.labelString:        Välj ett färgschema:

! The following two resource lines are a late addition to the color mapping resource file (March 12, 1998).  These indicate color map files that came from a system level or user created color map files.
ColorMap*systemLabel:                       System:

ColorMap*userLabel:                         Användare:

ColorMap*ibmBlack:                          IBM: Svart bakgrund

ColorMap*ibmDarkGrey:                       IBM: Mörkgrå bakgrund

ColorMap*ibmLightGrey:                      IBM: Ljusgrå bakgrund

ColorMap*ibmLight:                          IBM: Ljus bakgrund

ColorMap*ibmLightBlue:                      IBM: Ljusblå bakgrund



!******************************************
!**  Advanced color work area            **
!******************************************
ColorMap*advancedListLabel.labelString:     Välj den komponent som du vill ändra:

! The following 22 *adv type resources are limited in size; they should not exceed 28 characters.
ColorMap*advMenuBarBack:                    Menyradens bakgrund

ColorMap*advMenuBarFore:                    Menyradens förgrund

ColorMap*advMainSess:                       Huvudsessionens bakgrund

ColorMap*advPushbut:                        Knappens bakgrund

ColorMap*advBlue:                           Blå text

ColorMap*advGreen:                          Grön text

ColorMap*advPink:                           Rosa text

ColorMap*advRed:                            Röd text

ColorMap*advTurq:                           Turkos text

ColorMap*advWhite:                          Vit text

ColorMap*advYellow:                         Gul text

ColorMap*advCursor:                         Markör

ColorMap*advMouse:                          Muspekare

ColorMap*advRule:                           Hjälplinje

ColorMap*advStatLineBack:                   Statusradens bakgrund

ColorMap*advStatLineFore:                   Statusradens förgrund

ColorMap*advMonoImageBack:                  Svartvit bildbakgrund

ColorMap*advMonoImageFore:                  Svartvit bildförgrund

! Note: foreground color used for assist program windows
ColorMap*advAssistFore:                     Hjälpprogrammets förgrund

! Note: button background for assist program windows
ColorMap*advAssistForm:                     Hjälpknapparnas bakgrund

! Note: main background color for assist program windows
ColorMap*advAssistPrimary:                  Hjälpprogrammets bakgrund

! Note: entry area background color for assist program windows
ColorMap*advAssistEntry:                    Hjälpprogrammets fält


ColorMap*red.titleString:                   RÖD

ColorMap*green.titleString:                 GRÖN

ColorMap*blue.titleString:                  BLÅ

ColorMap*currentColorLabel.labelString:     Aktuell färg

ColorMap*applyCurrentColor.labelString:     Använd aktuell färg


!************************************
!**  Delete file dialog            **
!************************************
ColorMap*deleteDialog.deleteBoxDeleteBtn.labelString:  Ta bort

ColorMap*deleteDialog.deleteBoxCancelBtn.labelString:  Avbryt

! title of delete dialog
ColorMap*deleteDialog.dialogTitle:                     Ta bort färgfil

ColorMap*deleteDialog.deleteBoxLabel.labelString:      Välj fil(er) att ta bort:

ColorMap*deleteDialog.deleteBoxLabelAlt.labelString:   Det finns inga färgfiler att ta bort.

! message at bottom of primary window
ColorMap*selectedDeleted:                              Vald(a) färgfil(er) har tagits bort.


!*****************************************************
!**  Delete file verification dialog box            **
!*****************************************************
ColorMap*deleteVerifyDialog.dialogTitle:        Bekräfta borttagning

ColorMap*deleteVerifyDialog.okLabelString:      OK

ColorMap*deleteVerifyDialog.cancelLabelString:  Avbryt

! this cannot be much longer
ColorMap*noUndoDelete:                          Borttagning av filer kan inte ångras. Vill du fortsätta?

ColorMap*noFilesDelete:                         Inga filer markerade. Du kan inte välja Ta bort.


!****************************************************
!**  Emulator preference in construct list         **
!**						   **
!**  MAX:  text should be less than 15 characters  **
!****************************************************
ColorMap*emuPrefMenuLabel.labelString:       Menyrad

ColorMap*emuPrefBlueText.labelString:        Blå text

ColorMap*emuPrefGreenText.labelString:       Grön text

ColorMap*emuPrefPinkText.labelString:        Rosa text

ColorMap*emuPrefRedText.labelString:         Röd text

ColorMap*emuPrefTurquoiseText.labelString:   Turkos text

ColorMap*emuPrefWhiteText.labelString:       Vit text

ColorMap*emuPrefYellowText.labelString:      Gul text

ColorMap*emuPrefPbBackground.labelString:    Knapp

ColorMap*emuPrefStatusLine.labelString:      Statusrad

ColorMap*groupBoxLabel.labelString:          Hjälpprogram

ColorMap*entryAreaLabel.labelString:         Textområde

ColorMap*helperFormLabel.labelString:        Knapp


!**************************
!**  Error dialog boxes  **
!**************************
ColorMap*noColorCellsMsgText.value: Det gick inte att tilldela de färgresurser som behövs för att starta färganpassningen. Stäng något program som använder många färger och försök igen.

ColorMap*setColorMsgText.value:      Alla färger används inte i emuleringssessionen, men om du väljer Spara sparas de riktiga färgerna.

ColorMap*setColorFailureCancelBtn.labelString:        Avbryt


!**********************************
!**  General Error dialog boxes  **
!**********************************
ColorMap*noAdvanced.value:            Det går inte att tilldela färgresurser för fullständig färganpassning.

ColorMap*noAdvancedOkbutton.labelString:  OK


!*******************************************************************************
!**  quitDialog resources                                                     **
!*******************************************************************************
ColorMap*quitDialog.dialogTitle:           Avsluta - Varning

ColorMap*quitDialog1:                      Färgerna har ändrats men inte använts eller sparats.

ColorMap*quitDialog2:                      Färgerna har ändrats och använts men inte sparats.

ColorMap*quitDialog3:                      Färgerna har ändrats och sparats men inte använts.

ColorMap*quitDialog*exitBox.labelString:   Avsluta

ColorMap*quitDialog*cancelBox.labelString: Avbryt

ColorMap*quit1Tog1:                        Avsluta utan att använda eller spara ändringarna.

ColorMap*quit2Tog1:                        Avsluta utan att spara ändringarna.

ColorMap*quitDialog*quitTog2.labelString:  Avsluta, men använd och spara ändringarna först.

ColorMap*quit3Tog1:                        Avsluta utan att använda ändringarna.

ColorMap*quitTog3.labelString:             Avsluta, men använd först ändringarna i den här sessionen.

ColorMap*quitDialog*quitTog4.labelString:  Avsluta, men spara ändringarna först.


!*******************************************************************************
!**  Informational Messages                                                   **
!*******************************************************************************
ColorMap*InfoMsgColorsSaved:    Färgerna har sparats i filen 
ColorMap*tempApp:               Färgerna används tillfälligt i emuleringssessionen.

ColorMap*notLoaded:             Färgfilen kunde inte läsas in. Kontrollera att filen finns.

ColorMap*errorLoad:             Färgfilens format är felaktigt.


! this resource should contain one black space character; do not translate.
ColorMap*blank:  

ColorMap*chooseApply:           Välj Använd om du vill använda färgerna i sessionen.

ColorMap*noAccessDir:           Det går inte att accessa katalog.

! this cannot be made any longer during translation
ColorMap*noOpenFile:            Det går inte att öppna färgfilen

ColorMap*noMakeDir:             Det går inte att skapa katalog.

ColorMap*noDeterminePath:       Det går inte att fastställa sökväg.

