!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250 and
! VTxxx emulators, in particular the help viewer text; for example pushbutton text. This file
! does not contain the emulator on-line help text; help text is in a different file.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5HlpV.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with HelpView* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!*******************************************************************************
!*******                                                              ***********
!*******                 Help Viewer Resources                       ***********
!*******                                                              ***********
!*******************************************************************************

! title above list of topics
HelpView*topicTitle:   Tópicos

HelpView*okLabelString: OK

HelpView*cancelLabelString: Cancelar

!************************************************
!*              Action bar buttons
!*
!* MAX:  When in largest font, button length 
!*       must be less than 13 characters
!************************************************
HelpView*searchFwd.labelString:    Procurar para a Frente

HelpView*searchBack.labelString:   Procurar para Trás

HelpView*searchNew.labelString:    Nova Procura

HelpView*goFwdButton.labelString:  Tópico Seguinte

HelpView*goBackButton.labelString: Tópico Anterior

HelpView*exitHelp.labelString:     Sair

HelpView*optionMenu.labelString:   Fonte

HelpView*helpTextPrint.labelString:  Imprimir

HelpView*printDialogCancelButton.labelString: Cancelar

HelpView*printDialogBoxLabel.labelString: Seleccionar opções de impressão

HelpView*printDialogPrintCommandLabel.labelString: Comando de Impressão:

HelpView*printDialogSelectPrinter.labelString: Seleccione uma Impressora:

HelpView*PrinterSelectServerDelineator: @

HelpView*PrintOptionTopicSelectionLabel.labelString:  O que imprimir:

HelpView*PrintOptionTopicSelectionTopic.labelString:  Apenas este tópico

HelpView*PrintOptionTopicSelectionAll.labelString:  Todos os tópicos

HelpView*PrinterSelectLocalDesignator: (Local)

HelpView*printDialogPrinterSelectControls_popup.title:   Selector de Impressora

HelpView*printDialogPrintInProgress.labelString: A imprimir...

HelpView*printDialogPrinterTypeLabel.labelString:  Tipo de Impressora:

HelpView*printDialogPrinterTypeMenu*postscript.labelString:  PostScript

HelpView*printDialogPrinterTypeMenu*ascii.labelString:  ASCII

HelpView*printDialogPrinterTypeMenu*pcl.labelString:  PCL

!*******************
!* Dialog boxes
!*******************
! title of dialog boxes
HelpView*searchDialog*dialogTitle: Caixa de Diálogo Procurar

HelpView*Cancel*labelString: Cancelar

HelpView.searchForward: Procurar para a frente...

HelpView.searchReverse: Procurar para trás...

HelpView*searchDialog*okLabelString: OK

HelpView*searchDialog*cancelLabelString: Cancelar


!**********************************************
!* Messages at bottom of the screen
!**********************************************

HelpView.located:       foi localizado com êxito...

HelpView.notLocated:    NÃO foi possível localizar... 	

HelpView.noSearchValue: O valor actual da procura não está definido  
HelpView.fileError:     Impossível abrir o ficheiro:

!**************************************************
!*
!*        Printing translations 
!*
!*      Added by AJMEYER for V310.nc
!*
!**************************************************

HelpView*printSelectDialogOKButton.labelString:  OK

HelpView*printSelectDialogCancelButton.labelString:  Cancelar
