!
!
!
! This file contains the resource text strings for the IBM Network Station 3270 and 5250
! emulators, in particular the main emulator windows.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5Resc.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to both emulators. Some is specific to one emulator.
!    IBM9999 = Resources used by both 3270 and 5250 emulators.
!    IBM3270 = Resources used by the 3270 emulator.
!    IBM5250 = Resources used by the 5250 emulator.
! 4. Resource format: 
!    - A resource line starts with IBM3270*, IBM5250*, or IBM9999*, followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


IBM5250*MainWindow.title: 5250
IBM3270*MainWindow.title: 3270

IBM5250*errorMsgDialog_popup.title: Erro de 5250
IBM3270*errorMsgDialog_popup.title: Erro de 3270

IBM5250*warningMsgDialog_popup.title: Informações de 5250
IBM3270*warningMsgDialog_popup.title: Informações de 3270

IBM5250*hostNameDialog_popup.title: Nova Sessão 5250
IBM3270*hostNameDialog_popup.title: Nova Sessão 3270

IBM5250*hostNameDialog.selectionLabelString: Introduza novo nome de sistema central 5250.
IBM3270*hostNameDialog.selectionLabelString: Introduza novo nome de sistema central 3270.

IBM5250*hostNameDialog.iconName: Nova Sessão 5250
IBM3270*hostNameDialog.iconName: Nova Sessão 3270

IBM5250*lowMemoryDialog_popup.title: Memória reduzida em 5250
IBM3270*lowMemoryDialog_popup.title: Memória reduzida em 3270

IBM5250*new5250Button.labelString: Novo 5250...

IBM5250*quitButton.labelString: Sair de 5250
IBM3270*quitButton.labelString: Sair de 3270

IBM5250*localPrintControls_popup.title: Impressão de Ecrã 5250
IBM3270*localPrintControls_popup.title: Impressão de Ecrã 3270


!**************************************************************************************
!** Resources in both 5250 and 3270 that do not need separate translations
!**************************************************************************************

!***********************
!**  Various Dialogs  **
!***********************
IBM9999*lowMemoryDialog.messageString: Memória insuficiente para completar a operação.

IBM9999*ErrorMsgMaxSessions: Sessão não permitida. Número máximo de sessões excedido.

! -DISPLAY_NAME is not translated.
IBM9999*ErrorMsgInvalidName: Especificação inválida do parâmetro -DISPLAY_NAME.

! \n in the following resource string allows text following   \n to appear on a new line.
! \n is not translated. You can move, add, or remove the \n as needed.
IBM9999*ErrorMsgNameInUse: Nome(s) especificado(s) para o parâmetro -DISPLAY_NAME já utilizado(s).\n O administrador de sistema limitou o seu número de sessões.

IBM9999*ErrorMsgTelnetUndefined: Telnet não se encontra definido no ficheiro de serviços...

IBM9999*ErrorMsgUnknownHost: O sistema central não é conhecido.

IBM9999*ErrorMsgUnableToConnect: Impossível iniciar ligação.

IBM9999*ErrorMsgTelnetNegoFailed: Falharam as negociações Telnet.

IBM9999*ErrorMsgRetryButton: Repetir

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoHostData: Perdeu-se a ligação ao sistema central.\nTente reiniciar a sessão de emulador.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoHostData2: Perdeu-se a ligação ao sistema central.\nTentar reiniciar a sessão de emulador?

IBM9999*ErrorMsgFatalTelnetError: Ocorreu um erro de Telnet fatal.

IBM9999*ErrorMsgColorMapActive: Aplicação de definição das cores já activa noutra sessão.

IBM9999*ErrorMsgColorMapLowMemory: Memória insuficiente para iniciar a Definição das Cores.

IBM9999*ErrorMsgKeyMapActive: Aplicação de definição das teclas já activa noutra sessão.

! this cannot be made much longer during translation.
IBM9999*ErrorMsgKeypadActive:  Aplicação Personalização do Teclado Auxiliar já activa noutra sessão.

IBM9999*ErrorMsgKeyMapLowMemory: Memória insuficiente para iniciar o Programa de Redefinição do Teclado.

IBM9999*ErrorMsgKeypadLowMemory:   Memória insuficiente para iniciar a Personalização do Teclado Auxiliar.

IBM9999*ErrorMsgHelpViewLowMemory: Memória insuficiente para iniciar o Visualizador da Ajuda.

IBM9999*ErrorMsgMiscellaneousLowMemory: Memória insuficiente para iniciar Preferências Diversas.

! this cannot be made any longer during translation.
IBM9999*ErrorMsgNSMServerDownLevel:   Impossível registar. O Servidor do IBM Network Station Manager está desactualizado. 
IBM9999*ErrorMsgNoPrinters:           Não existem impressoras configuradas. Consulte o seu Administrador de Sistema.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoKeypadSelected: Nenhum Ficheiro Seleccionado. \nSeleccione um ficheiro ou opte por Cancelar.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoKeypads: Não foram encontrados ficheiros de teclado auxiliar. Seleccione a opção 'Personalizar Teclado Auxiliar...' \n no menu de Opção para criar um teclado auxiliar de utilizador.

IBM9999*ErrorMsgTooManyKeypads: Só pode ter apenas 10 blocos de teclas activos num dado momento.
	
IBM9999*ErrorMsgFileNameChars: O carácter que introduziu não é válido num nome de ficheiro.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*WarningMsgColorNotAvailable: Algumas cores do emulador não estão disponíveis.\n  Estas cores são ajustadas para a sua sessão.

IBM9999*WarningMsgColorFileCorrupt: Existe um erro num ficheiro de cores; são utilizadas as cores assumidas.

IBM9999*hostNameDialog*startupPlaybackChoice.labelString: Utilize o ficheiro de reprodução de arranque

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog_popup.title: Applet Java ECL

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog.selectionLabelString: Introduza nome de classe.

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog.iconName: Applet Java ECL

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog: Introduza nome de classe.

! java ECL that is not supported yet but please translate
IBM9999*ErrorMsgUnableToRunApplet: Impossível carregar classe


!*******************************
!**  Menu items in emulators  **
!*******************************
IBM9999*cmdCascade.labelString: Comando

IBM9999*editCascade.labelString: Editar

IBM9999*pasteButton.labelString: Colar

IBM9999*copyButton.labelString: Copiar

IBM9999*cutButton.labelString: Cortar

IBM9999*optCascade.labelString: Opção

IBM9999*fontMenuCascade.labelString: Fontes

IBM9999*pfkeysButton.labelString: Teclado Auxiliar...

IBM9999*keypadCascade.labelString: Teclado Auxiliar

IBM9999*customizeButton.labelString: Personalizar Teclado Auxiliar...

IBM9999*recordButton.labelString: Gravar...

IBM9999*playbackButton.labelString: Reproduzir...

IBM9999*miscButton.labelString: Preferências Diversas...

IBM9999*colormapButton.labelString: Definição das Cores...

IBM9999*keymapButton.labelString: Redefinição do Teclado...

! java ECL that is not supported yet but please translate
IBM9999*runAppletButton.labelString: Executar Applet...

IBM9999*ctlCascade.labelString: Controlo

IBM9999*resetButton.labelString: Tecla de Reposição (Reset)

IBM9999*sysreqButton.labelString: Tecla de Pedido de Sistema (System Request)

IBM9999*attentionButton.labelString: Tecla de Atenção (Attention ou Attn)

IBM9999*helpkeyButton.labelString: Tecla de Ajuda

IBM9999*enterkeyButton.labelString: Tecla Enter

IBM9999*prtCascade.labelString: Imprimir

IBM9999*systemButton.labelString: Sistema

IBM9999*localButton.labelString: Imprimir Ecrã...

IBM9999*helpCascade.labelString: Ajuda

! message on IBM5250 on status line, cannot be made any longer, you can remove some periods.
IBM9999*msgWaitingMsg.labelString: Mensagem à Espera...

IBM9999*cursorRowCol.labelString:  01/001

IBM9999*okLabelString: OK

IBM9999*cancelLabelString: Cancelar

!****************************
!** Local Print Resources
!****************************

IBM9999*localPrintPrinterSelectButton.labelString: Seleccione uma Impressora:

IBM9999*localPrintPrinterSelectControls_popup.title: Selector de Impressora

IBM9999*localPrintPrinterSelectServerDelineator: @

IBM9999*localPrintPrinterSelectLocalDesignator: (Local)

IBM9999*localPrintPDTLabel.labelString: Tabela de Definição de Impressora:

IBM9999*localPrintOtherOptions.labelString: Outras Opções de Impressão:

IBM9999*localPrintFormFeedLabel.labelString: Avanço de Papel:

IBM9999*localPrintFormFeedYesButton.labelString: Sim

IBM9999*localPrintFormFeedNoButton.labelString: Não

IBM9999*localPrintOrientationLabel.labelString: Orientação:

IBM9999*localPrintOrientationPortraitButton.labelString: Vertical

IBM9999*localPrintOrientationLandscapeButton.labelString: Horizontal

IBM9999*localPrintControls*startBtn.labelString: Imprimir

IBM9999*localPrintControls*cancelBtn.labelString: Cancelar

IBM9999*localPrintControls*selectOptions.labelString: Seleccionar opções de impressão

IBM9999*localPrintControls*printing.labelString: A imprimir...


!********************************************************
!**                  Record Resources
!**
!** MAX:  Push buttons should not exceed 8 characters
!********************************************************
IBM9999*recordControl_popup.title: Controlos de Gravação

IBM9999*recordControl*startBtn.labelString: Iniciar

IBM9999*recordControl*cancelBtn.labelString: Cancelar

IBM9999*recordControl*pauseBtn.labelString: Pausa

IBM9999*recordControl*stopBtn.labelString: Parar

IBM9999*recordControl*recordControlLabelRecording.labelString: A gravar.

IBM9999*recordControl*recordControlLabelPaused.labelString: Em pausa.

IBM9999*recordControl*recordControlKeysRemaingLabel.labelString: Espaço Restante:

IBM9999*recordPauseControls_popup.title: Opções de Pausa de Gravação

! this cannot be made much longer during translation. 
IBM9999*recordPauseControls*recordPauseChoicesInstructions.labelString: Gravação em pausa.  Seleccione uma opção a executar\n durante a reprodução:

IBM9999*recordPauseControls*recordPauseRecordBtn.labelString: Fazer uma pausa na leitura/reprodução neste ponto.

IBM9999*recordPauseControls*recordPauseUseridBtn.labelString: Inserir ID de Utilizador neste ponto

IBM9999*recordPauseControls*recordPausePasswordBtn.labelString: Inserir Palavra-Passe neste ponto

IBM9999*recordPauseControls*recordPauseNoneBtn.labelString: Nenhuma

IBM9999*recordPauseControls*continueBtn.labelString:   Continuar a Gravação

IBM9999*recordPauseControls*pauseStopBtn.labelString: Parar a Gravação

IBM9999*recordFileControl_popup.title: Controlos de Salvaguarda do Ficheiro de Reprodução

IBM9999*recordFileControl*recordFileListLabel.labelString: Seleccione um ficheiro de reprodução para substituir.

IBM9999*recordFileControl*acceleratorBtn.labelString: Atribuir um Acelerador Opcional

IBM9999*recordFileControl*accButton0.labelString: Nenhum

! Function keys for accelerators.
IBM9999*recordFileControl*accButton1.labelString:  F1

IBM9999*recordFileControl*accButton2.labelString:  F2

IBM9999*recordFileControl*accButton3.labelString:  F3

IBM9999*recordFileControl*accButton4.labelString:  F4

IBM9999*recordFileControl*accButton5.labelString:  F5

IBM9999*recordFileControl*accButton6.labelString:  F6

IBM9999*recordFileControl*accButton7.labelString:  F7

IBM9999*recordFileControl*accButton8.labelString:  F8

IBM9999*recordFileControl*accButton9.labelString:  F9

IBM9999*recordFileControl*accButton10.labelString:  F10

IBM9999*recordFileControl*accButton11.labelString:  F11

IBM9999*recordFileControl*accButton12.labelString:  F12

IBM9999*recordFileControl*accButton13.labelString:  F13

IBM9999*recordFileControl*accButton14.labelString:  F14

IBM9999*recordFileControl*accButton15.labelString:  F15

IBM9999*recordFileControl*accButton16.labelString:  F16

IBM9999*recordFileControl*accButton17.labelString:  F17

IBM9999*recordFileControl*accButton18.labelString:  F18

IBM9999*recordFileControl*accButton19.labelString:  F19

IBM9999*recordFileControl*accButton20.labelString:  F20

IBM9999*recordFileControl*accButton21.labelString:  F21

IBM9999*recordFileControl*accButton22.labelString:  F22

IBM9999*recordFileControl*accButton23.labelString:  F23

IBM9999*recordFileControl*accButton24.labelString:  F24

IBM9999*recordFileControl*recordFileTextLabel.labelString: Introduza o nome de um ficheiro de reprodução novo.

IBM9999*recordFileControl*saveBtn.labelString: Guardar

IBM9999*recordFileControl*doNotSaveBtn.labelString: Não Guardar

IBM9999*recordFileControl*recordFileReplaceWarningDialog_popup.title: Aviso de Substituição de Ficheiro de Reprodução

IBM9999*recordFileControl*recordFileReplaceWarningDialog.messageString: O ficheiro já existe. Pode ser substituído?

IBM9999*recordFileControl*recordFileMsgDialog_popup.title: Mensagem de Erro de Guardar Ficheiro de Reprodução

IBM9999*RecordFileMsgNoOpen: Impossível abrir ficheiro. Os batimentos de teclas não foram guardados.

IBM9999*RecordFileMsgNoAccess: Impossível aceder ao directório.

IBM9999*RecordFileMsgNoMake: Impossível criar directório.


!****************************
!** Playback Resources
!****************************
IBM9999*playbackControl_popup.title: Controlos de Reprodução/Leitura

IBM9999*playbackControl*playbackControlLabelSelectFile.labelString: Seleccione um ficheiro de reprodução para reproduzir.

IBM9999*playbackControl*playbackFileListLabel.labelString: Ficheiros de Reprodução do Utilizador

IBM9999*playbackControl*playbackDefaultFileListLabel.labelString: Ficheiros de Reprodução Assumidos

IBM9999*scaleBtn.titleString: Velocidade de Leitura

IBM9999*playbackControl*startBtn.labelString: Iniciar

IBM9999*playbackControl*cancelBtn.labelString: Cancelar

IBM9999*playbackControl*deleteBtn.labelString: Eliminar

IBM9999*playbackControl*editBtn.labelString: Editar

IBM9999*playbackControl*pauseBtn.labelString: Pausa

IBM9999*playbackControl*continueBtn.labelString: Continuar

IBM9999*playbackControl*stopBtn.labelString: Parar

IBM9999*playbackControl*playbackControlLabelStopped.labelString: Parado.

IBM9999*playbackControl*playbackControlLabelPlaying.labelString: A reproduzir.

IBM9999*playbackControl*playbackControlLabelPaused.labelString:  Em pausa.

IBM9999*playbackControl*playbackControlLabelDone.labelString: Completo.

IBM9999*playbackControl*playbackKeysRemainingLabel.labelString:  Dados Restantes:

IBM9999*playbackControl*playbackDeleteWarningDialog_popup.title: Aviso de Eliminação de Reprodução

IBM9999*playbackControl*playbackDeleteWarningDialog.messageString: O(s) ficheiro(s) seleccionado(s) pode(m) ser eliminado(s)?

IBM9999*playbackControl*playbackMsgDialog_popup.title: Mensagem de Erro de Reprodução

IBM9999*playbackControl*playbackPauseDialog_popup.title: Pausa na Leitura

IBM9999*playbackControl*playbackPauseDialog.okLabelString:        Continuar

IBM9999*playbackControl*playbackPauseDialog.cancelLabelString:    Parar

IBM9999*playbackPauseDialogMsg1: Leitura/Reprodução em pausa. Introduza dados e continue.

IBM9999*playbackPauseDialogMsg2: Leitura/Reprodução em pausa. Introduza palavra-passe e continue.

IBM9999*playbackPauseDialogMsg3: Pausa na Leitura/Reprodução originada pelo utilizador.

IBM9999*PlaybackMsgNoStartup: O ficheiro de arranque de reprodução não se encontra na lista de ficheiros a ler/reproduzir.

IBM9999*PlaybackMsgFileNotInList:  O ficheiro de reprodução não se encontra na lista de ficheiros a ler/reproduzir.                        
IBM9999*PlaybackMsgFileCorrupt: Ficheiro de reprodução não criado por Gravação.

IBM9999*PlaybackMsgFileNoRead: Impossível ler ficheiro de reprodução de teclas. Impossível iniciar a leitura.

IBM9999*PlaybackMsgFileNoOpen: Impossível abrir ficheiro de reprodução. Impossível Iniciar a leitura.

IBM9999*PlaybackMsgIncompatible:  Ficheiro de reprodução incompatível com o ecrã actual.

IBM9999*PlaybackMsgPasswordLocation:  A palavra-passe não pode ser reproduzida na localização do cursor.


!*****************************
! Keypad Resources
!*****************************
IBM9999*keypadfilechangebox_popup.title:   Teclado Auxiliar Emergente

IBM9999*keypadfilechangeboxlabel.labelString:   Seleccione um Ficheiro de Teclado Auxiliar:

IBM9999*userKeypads.labelString:  Teclados Auxiliares de Utilizador

IBM9999*defaultKeypads.labelString:  Teclados Auxiliares Assumidos

IBM9999*cancelkeypad.labelString:   Cancelar

IBM9999*keypadOKbox.labelString:   OK

!*****************************************************************************
! This menubar resource is used for double byte languages, but DOES need to be
! translated into all MRI languages (because users can have a different MRI
! language than their emulator session language).
!*****************************************************************************
IBM9999*altviewButton.labelString:  Visualização Alternativa

!***********************************************************
! The resources below are used to prompt the user to choose between two types 
! of Japanese.  These resources should be translated into all languages.
!***********************************************************
IBM9999*hostNameDialog.helpLabelString:  Avanço...
IBM9999*katawidget.title:   Selecção de Página de Códigos Japonesa no Sistema Central
IBM9999*labelw.labelString:  Seleccione a Página de Códigos no Sistema Central
IBM9999*button_two.labelString:  Katakana Alargado (5026)
IBM9999*button_one.labelString:  Latim Alargado (5035)
IBM9999*okw.labelString:  OK
IBM9999*cancelw.labelString:  CANCELAR


!***********************************
!* Shared Emulator Print Resources *
!***********************************

IBM9999*localPrintPrintSelectionLabel.labelString:       Selecção de Impressão:

IBM9999*localPrintPrintSelectionTextButton.labelString:  Texto

IBM9999*localPrintPrintSelectionImageButton.labelString: Imagem

IBM9999*localPrintImageColorSupportLabel.labelString: Impressão a Cores:

IBM9999*localPrintImageColorSupportFalseButton.labelString: Não

IBM9999*localPrintImageColorSupportTrueButton.labelString: Sim

IBM9999*localPrintPageSizeMenuLabel.labelString:  Tamanho de Página:

! The following are printer page sizes.
IBM9999*localPrintPageSizeMenu*pageSize1.labelString:  Letter (8.5 x 11 in.)

IBM9999*localPrintPageSizeMenu*pageSize2.labelString:  Legal (8.5 x 14 in.)

IBM9999*localPrintPageSizeMenu*pageSize3.labelString:  A4 (210 x 297 mm)

IBM9999*localPrintPageSizeMenu*pageSize4.labelString:  A5 (148 x 210 mm)

IBM9999*localPrintPageSizeMenu*pageSize5.labelString:  B5 ISO (176 x 250 mm)

IBM9999*localPrintPageSizeMenu*pageSize6.labelString:  B5 JIS (182 X 257 mm)

IBM9999*localPrintPageSizeMenu*pageSize7.labelString:  Executive (7.25 x 10.5 in.)

IBM9999*localPrintPageSizeMenu*pageSize8.labelString:  Statement (8.5 x 5.5 in.)

IBM9999*localPrintDPIMenuLabel.labelString:  Resolução (dpi):

IBM9999*localPrintDPIMenu*DPI1.labelString:  75

IBM9999*localPrintDPIMenu*DPI2.labelString:  100

IBM9999*localPrintDPIMenu*DPI3.labelString:  150

IBM9999*localPrintDPIMenu*DPI4.labelString:  200

IBM9999*localPrintDPIMenu*DPI5.labelString:  300

IBM9999*localPrintDPIMenu*DPI6.labelString:  600

IBM9999*ErrorMsgBrowserLowMemory:  Memória insuficiente para completar a operação.

IBM9999*userKeypads.labelString: Teclados Auxiliares de Utilizador

IBM9999*defaultKeypads.labelString: Teclados Auxiliares Assumidos

IBM9999*playbackControl*playbackDeleteWarningDialog.cancelLabelString: Cancelar

IBM9999*playbackControl*playbackDeleteWarningDialog.okLabelString: OK

!***********************************
!**  Resources only used by 3270  **
!***********************************
! 'Command' menu
IBM3270*sessMenuCascade.labelString: Nova Sessão de 3270

IBM3270*new_sessionButton.labelString: Nova Sessão de 3270

IBM3270*new_mod2Button.labelString: Nova Sessão 24x80

IBM3270*new_mod3Button.labelString: Nova Sessão 32x80

IBM3270*new_mod4Button.labelString: Nova Sessão 43x80

IBM3270*new_mod5Button.labelString: Nova Sessão 27x132

IBM3270*graphicsMsg.labelString: Gráficos

IBM3270*font0Button.labelString: Valor assumido

IBM3270*printTelnetFailure: Imprimir\nFalharam as negociações Telnet.

!**************************************************
!*
!*        Printing translations 
!*
!*      Added by AJMEYER for V310.nc
!*
!**************************************************

IBM9999*printDialogPrinterTypeLabel.labelString:  Tipo de Impressora:

IBM9999*printDialogPrinterTypeMenu*postscript.labelString:  PostScript

IBM9999*printDialogPrinterTypeMenu*ascii.labelString:  ASCII

IBM9999*printDialogPrinterTypeMenu*pcl.labelString:  PCL

IBM9999*printDialogPrinterSelectControls_popup.title:   Selector de Impressora

IBM9999*printSelectDialogOKButton.labelString:  OK

IBM9999*printSelectDialogCancelButton.labelString:  Cancelar

IBM9999*printDialogSelectPrinter.labelString: Seleccione uma Impressora:

IBM5250*hostNameDialog*useridLabel.labelString: ID de Utilizador:

IBM5250*hostNameDialog*passwordLabel.labelString: Palavra-passe:
