!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250 and
! VTxxx emulators, in particular the help viewer text; for example pushbutton text. This file
! does not contain the emulator on-line help text; help text is in a different file.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5HlpV.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with HelpView* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!*******************************************************************************
!*******                                                             ***********
!*******                 Help Viewer Resources                       ***********
!*******                                                             ***********
!*******************************************************************************

! title above list of topics
HelpView*topicTitle:   Aiheet

HelpView*okLabelString: OK

HelpView*cancelLabelString: Peruutus

!************************************************
!*              Action bar buttons
!*
!* MAX:  When in largest font, button length 
!*       must be less than 13 characters
!************************************************
HelpView*searchFwd.labelString:    Haku eteenp.

HelpView*searchBack.labelString:   Haku taaksep.

HelpView*searchNew.labelString:    Uusi haku

HelpView*goFwdButton.labelString:  Seur. aihe

HelpView*goBackButton.labelString: Ed. aihe

HelpView*exitHelp.labelString:     Lopetus

HelpView*optionMenu.labelString:   Fontti

HelpView*helpTextPrint.labelString:  Tulostus

HelpView*printDialogCancelButton.labelString: Peruutus	

HelpView*printDialogBoxLabel.labelString: Tulostusasetusten valinta

HelpView*printDialogPrintCommandLabel.labelString: Tulostuskomento:

HelpView*printDialogSelectPrinter.labelString: Kirjoittimen valinta:

HelpView*PrinterSelectServerDelineator: @

HelpView*PrintOptionTopicSelectionLabel.labelString:  Tulostettava kohde:

HelpView*PrintOptionTopicSelectionTopic.labelString:  Tämä aihe

HelpView*PrintOptionTopicSelectionAll.labelString:  Kaikki aiheet

HelpView*PrinterSelectLocalDesignator: (paikallinen)

HelpView*printDialogPrinterSelectControls_popup.title:   Kirjoittimen valinta

HelpView*printDialogPrintInProgress.labelString: Tulostus...

HelpView*printDialogPrinterTypeLabel.labelString:  Kirjoittimen laji:

HelpView*printDialogPrinterTypeMenu*postscript.labelString:  PostScript

HelpView*printDialogPrinterTypeMenu*ascii.labelString:  ASCII

HelpView*printDialogPrinterTypeMenu*pcl.labelString:  PCL

!*******************
!* Dialog boxes
!*******************
! title of dialog boxes
HelpView*searchDialog*dialogTitle: Haku

HelpView*Cancel*labelString: Peruutus

HelpView.searchForward: Haku eteenpäin...

HelpView.searchReverse: Haku taaksepäin...

HelpView*searchDialog*okLabelString: OK

HelpView*searchDialog*cancelLabelString: Peruutus


!**********************************************
!* Messages at bottom of the screen
!**********************************************

HelpView.located:       on löytynyt onnistuneesti...

HelpView.notLocated:    ei löydy... 	

HelpView.noSearchValue: Nykyistä hakuperustetta ei ole määritetty

HelpView.fileError:     Seuraavan tiedoston avaus ei onnistu:

!**************************************************
!*
!*        Printing translations 
!*
!*      Added by AJMEYER for V310.nc
!*
!**************************************************

HelpView*printSelectDialogOKButton.labelString:  OK

HelpView*printSelectDialogCancelButton.labelString:  Peruutus
