!
!
!
! This file contains the resource text strings for the IBM Linux 3270 and 5250
! emulators, in particular the main emulator windows.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to both emulators. Some is specific to one emulator.
!    IBM9999 = Resources used by both 3270 and 5250 emulators.
!    IBM3270 = Resources used by the 3270 emulator.
!    IBM5250 = Resources used by the 5250 emulator.
! 4. Resource format: 
!    - A resource line starts with IBM3270*, IBM5250*, or IBM9999*, followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
IBM9999*font_List:     -*-*-medium-r-normal-*-*-*-*-*-m-150-*-*;-*-*-medium-r-normal-*-*-*-*-*-m-110-*-*;-*-*-medium-r-normal-*-*-*-*-*-m-90-*-*;-*-*-medium-r-normal-*-*-*-*-*-m-70-*-*;-*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
IBM9999*largestFontList:     -*-*-medium-r-normal-*-*-*-*-*-m-150-*-*
IBM9999*extraLargeFontList:  -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
IBM9999*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
IBM9999*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
IBM9999*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!IBM9999*font_List:     -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*;-*-*-medium-r-normal-*-*-*-*-*-c-90-*-*;-*-*-medium-r-normal-*-*-*-*-*-c-70-*-*;-*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!IBM9999*largestFontList:     -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!IBM9999*extraLargeFontList:  -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!IBM9999*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!IBM9999*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!IBM9999*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!IBM9999*font_List:            -*-*-medium-r-normal--24-*-*-*-c-*;-*-*-medium-r-normal--16-*-*-*-c-*
!IBM9999*largestFontList:     -*-*-medium-r-normal--24-*-*-*-c-*
!IBM9999*extraLargeFontList:  -*-*-medium-r-normal--24-*-*-*-c-*
!IBM9999*largeFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!IBM9999*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!IBM9999*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!IBM9999*font_List:            -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*;-*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!IBM9999*largestFontList:     -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!IBM9999*extraLargeFontList:  -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!IBM9999*largeFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!IBM9999*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!IBM9999*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!uncomment the appropriate inputMethod
!For LatinX (non DBCS locales) or locales without an input method.
IBM5250*inputMethod:
!
! For ja_JP
!IBM5250*inputMethod: kinput2
!
! For ko_KR 
!IBM5250*inputMethod: Ami
!
!For zh_CN
!IBM5250*inputMethod: xcin-zh_CN
!
!For zh_TW
!IBM5250*inputMethod: xcin-zh_TW

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************



IBM5250*MainWindow.title: 5250
IBM3270*MainWindow.title: 3270

IBM5250*errorMsgDialog_popup.title: 5250 Error
IBM3270*errorMsgDialog_popup.title: 3270 Error

IBM5250*warningMsgDialog_popup.title: 5250 Information
IBM3270*warningMsgDialog_popup.title: 3270 Information

IBM5250*hostNameDialog_popup.title: New 5250 Session
IBM3270*hostNameDialog_popup.title: New 3270 Session

IBM5250*hostNameDialog.selectionLabelString: Enter new 5250 host name.
IBM3270*hostNameDialog.selectionLabelString: Enter new 3270 host name.

IBM5250*hostNameDialog.iconName: New 5250 Session
IBM3270*hostNameDialog.iconName: New 3270 Session

IBM5250*lowMemoryDialog_popup.title: 5250 Low Memory
IBM3270*lowMemoryDialog_popup.title: 3270 Low Memory

IBM5250*new5250Button.labelString: New 5250...

IBM5250*quitButton.labelString: Exit 5250
IBM3270*quitButton.labelString: Exit 3270

IBM5250*localPrintControls_popup.title: 5250 Screen Print
IBM3270*localPrintControls_popup.title: 3270 Screen Print


!**************************************************************************************
!** Resources in both 5250 and 3270 that do not need separate translations
!**************************************************************************************

!***********************
!**  Various Dialogs  **
!***********************
IBM9999*lowMemoryDialog.messageString: Insufficient memory to complete operation.

IBM9999*ErrorMsgMaxSessions: Session not allowed. Maximum number of sessions exceeded.

! -DISPLAY_NAME is not translated.
IBM9999*ErrorMsgInvalidName: Invalid specification of -DISPLAY_NAME parameter.

! \n in the following resource string allows text following \n to appear on a new line.
! \n is not translated. You can move, add, or remove the \n as needed.
IBM9999*ErrorMsgNameInUse: Name(s) specified for -DISPLAY_NAME parameter already in use.\nYour system administrator limited your number of sessions.

! BROWSER is not translated.
IBM9999*ErrorMsgBrowserStart: BROWSER environment variable is not defined, cannot start a browser.

IBM9999*ErrorMsgTelnetUndefined: Telnet is not defined in the services file...

IBM9999*ErrorMsgUnknownHost: The host is not known.

IBM9999*ErrorMsgUnableToConnect: Unable to initiate connection.

IBM9999*ErrorMsgTelnetNegoFailed: Telnet negotiations failed.

IBM9999*ErrorMsgRetryButton: Retry

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoHostData: Lost connection to host.\nTry restarting emulator session.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoHostData2: Lost connection to host.\nRetry starting the emulator session?

IBM9999*ErrorMsgFatalTelnetError: Fatal Telnet error occurred.

IBM9999*ErrorMsgColorMapActive: Color map application already active on another session.

IBM9999*ErrorMsgColorMapLowMemory: Not enough memory to start Color Mapping.

IBM9999*ErrorMsgKeyMapActive: Key map application already active on another session.

! this cannot be made much longer during translation.
IBM9999*ErrorMsgKeypadActive:  Keypad Customizer application already active on another session.

IBM9999*ErrorMsgKeyMapLowMemory: Not enough memory to start Keyboard Remapping.

IBM9999*ErrorMsgKeypadLowMemory:   Not enough memory to start Keypad Customizer.

IBM9999*ErrorMsgHelpViewLowMemory: Not enough memory to start Help Viewer.

IBM9999*ErrorMsgMiscellaneousLowMemory: Not enough memory to start Miscellaneous Preferences.

! this cannot be made any longer during translation.
IBM9999*ErrorMsgNSMServerDownLevel:   Cannot record. The IBM Network Station Manager server is down level.

IBM9999*ErrorMsgNoPrinters:           There are no printers configured. See your System Administrator.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoKeypadSelected: No File Selected.\nSelect a file or Choose Cancel. 

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoKeypads: No Keypad file found. Select the 'Customize Keypad...'\n option from the Option menu to create a user keypad.

IBM9999*ErrorMsgTooManyKeypads: You may only have 10 keypads active at any time.
	
IBM9999*ErrorMsgFileNameChars: The character that you typed is not valid in a file name.

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*WarningMsgColorNotAvailable: Some emulator colors are not available.\nThese colors are adjusted for your session.

IBM9999*WarningMsgColorFileCorrupt: Color file error exists, default colors used.

IBM9999*hostNameDialog*startupPlaybackChoice.labelString: Use startup playback file

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog_popup.title: ECL Java applet

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog.selectionLabelString: Enter class name.

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog.iconName: ECL Java applet

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog: Enter class name.

! java ECL that is not supported yet but please translate
IBM9999*ErrorMsgUnableToRunApplet: Unable to load class


!*******************************
!**  Menu items in emulators  **
!*******************************
IBM9999*cmdCascade.labelString: Command

IBM9999*editCascade.labelString: Edit

IBM9999*pasteButton.labelString: Paste

IBM9999*copyButton.labelString: Copy

IBM9999*cutButton.labelString: Cut

IBM9999*optCascade.labelString: Option

IBM9999*fontMenuCascade.labelString: Fonts

IBM9999*pfkeysButton.labelString: Keypad...

IBM9999*keypadCascade.labelString: Keypad

IBM9999*customizeButton.labelString: Customize Keypad...   

IBM9999*recordButton.labelString: Record...

IBM9999*playbackButton.labelString: Playback...

IBM9999*miscButton.labelString: Miscellaneous Preferences...

IBM9999*colormapButton.labelString: Color Mapping...

IBM9999*keymapButton.labelString: Keyboard Remapping...

! java ECL that is not supported yet but please translate
IBM9999*runAppletButton.labelString: Run Applet...

IBM9999*ctlCascade.labelString: Control

IBM9999*resetButton.labelString: Reset key

IBM9999*sysreqButton.labelString: System Request key

IBM9999*attentionButton.labelString: Attention key

IBM9999*helpkeyButton.labelString: Help key

IBM9999*enterkeyButton.labelString: Enter key

IBM9999*prtCascade.labelString: Print

IBM9999*systemButton.labelString: System

IBM9999*localButton.labelString: Screen Print...

IBM9999*helpCascade.labelString: Help

! message on IBM5250 on status line, cannot be made any longer, you can remove some periods.
IBM9999*msgWaitingMsg.labelString: Message Waiting.....

IBM9999*cursorRowCol.labelString:  01/001

IBM9999*okLabelString: OK

IBM9999*cancelLabelString: Cancel

!****************************
!** Local Print Resources
!****************************

IBM9999*localPrintPrinterSelectButton.labelString: Select a Printer:

IBM9999*localPrintPrinterSelectControls_popup.title: Printer Selector

IBM9999*localPrintPrinterSelectServerDelineator: @

IBM9999*localPrintPrinterSelectLocalDesignator: (Local)

IBM9999*localPrintPDTLabel.labelString: Printer Definition Table:

IBM9999*localPrintOtherOptions.labelString: Other Print Options:

IBM9999*localPrintFormFeedLabel.labelString: Form Feed:

IBM9999*localPrintFormFeedYesButton.labelString: Yes

IBM9999*localPrintFormFeedNoButton.labelString: No

IBM9999*localPrintOrientationLabel.labelString: Orientation:

IBM9999*localPrintOrientationPortraitButton.labelString: Portrait

IBM9999*localPrintOrientationLandscapeButton.labelString: Landscape

IBM9999*localPrintControls*startBtn.labelString: Print

IBM9999*localPrintControls*cancelBtn.labelString: Cancel

IBM9999*localPrintControls*selectOptions.labelString: Select print options

IBM9999*localPrintControls*printing.labelString: Printing...

IBM9999*PrintCommand.labelString: Print Command


!********************************************************
!**                  Record Resources
!**
!** MAX:  Push buttons should not exceed 8 characters
!********************************************************
IBM9999*recordControl_popup.title: Record Controls

IBM9999*recordControl*startBtn.labelString: Start

IBM9999*recordControl*cancelBtn.labelString: Cancel

IBM9999*recordControl*pauseBtn.labelString: Pause

IBM9999*recordControl*stopBtn.labelString: Stop

IBM9999*recordControl*recordControlLabelRecording.labelString: Recording.

IBM9999*recordControl*recordControlLabelPaused.labelString: Paused.

IBM9999*recordControl*recordControlKeysRemaingLabel.labelString: Space Remaining:

IBM9999*recordPauseControls_popup.title: Record Pause Options

! this cannot be made much longer during translation. 
IBM9999*recordPauseControls*recordPauseChoicesInstructions.labelString: Recording paused. Select an option to perform\nduring playback:

IBM9999*recordPauseControls*recordPauseRecordBtn.labelString: Pause playback at this point

IBM9999*recordPauseControls*recordPauseUseridBtn.labelString: Insert User ID at this point

IBM9999*recordPauseControls*recordPausePasswordBtn.labelString: Insert Password at this point

IBM9999*recordPauseControls*recordPauseNoneBtn.labelString: None

IBM9999*recordPauseControls*continueBtn.labelString:   Continue Recording

IBM9999*recordPauseControls*pauseStopBtn.labelString: Stop Recording

IBM9999*recordFileControl_popup.title: Playback File Save Controls

IBM9999*recordFileControl*recordFileListLabel.labelString: Select a playback file to replace.

IBM9999*recordFileControl*acceleratorBtn.labelString: Assign Optional Accelerator

IBM9999*recordFileControl*accButton0.labelString: None

! Function keys for accelerators.
IBM9999*recordFileControl*accButton1.labelString:  F1

IBM9999*recordFileControl*accButton2.labelString:  F2

IBM9999*recordFileControl*accButton3.labelString:  F3

IBM9999*recordFileControl*accButton4.labelString:  F4

IBM9999*recordFileControl*accButton5.labelString:  F5

IBM9999*recordFileControl*accButton6.labelString:  F6

IBM9999*recordFileControl*accButton7.labelString:  F7

IBM9999*recordFileControl*accButton8.labelString:  F8

IBM9999*recordFileControl*accButton9.labelString:  F9

IBM9999*recordFileControl*accButton10.labelString:  F10

IBM9999*recordFileControl*accButton11.labelString:  F11

IBM9999*recordFileControl*accButton12.labelString:  F12

IBM9999*recordFileControl*accButton13.labelString:  F13

IBM9999*recordFileControl*accButton14.labelString:  F14

IBM9999*recordFileControl*accButton15.labelString:  F15

IBM9999*recordFileControl*accButton16.labelString:  F16

IBM9999*recordFileControl*accButton17.labelString:  F17

IBM9999*recordFileControl*accButton18.labelString:  F18

IBM9999*recordFileControl*accButton19.labelString:  F19

IBM9999*recordFileControl*accButton20.labelString:  F20

IBM9999*recordFileControl*accButton21.labelString:  F21

IBM9999*recordFileControl*accButton22.labelString:  F22

IBM9999*recordFileControl*accButton23.labelString:  F23

IBM9999*recordFileControl*accButton24.labelString:  F24

IBM9999*recordFileControl*recordFileTextLabel.labelString: Enter a new playback file name.

IBM9999*recordFileControl*saveBtn.labelString: Save

IBM9999*recordFileControl*doNotSaveBtn.labelString: Do Not Save

IBM9999*recordFileControl*recordFileReplaceWarningDialog_popup.title: Playback File Replace Warning

IBM9999*recordFileControl*recordFileReplaceWarningDialog.messageString: File already exists. OK to overwrite it?

IBM9999*recordFileControl*recordFileMsgDialog_popup.title: Playback File Save Error Message

IBM9999*RecordFileMsgNoOpen: Cannot open file.  Keystrokes have not been saved.

IBM9999*RecordFileMsgNoAccess: Unable to access directory.

IBM9999*RecordFileMsgNoMake: Unable to make directory.


!****************************
!** Playback Resources
!****************************
IBM9999*playbackControl_popup.title: Playback Controls

IBM9999*playbackControl*playbackControlLabelSelectFile.labelString: Select playback file to play.

IBM9999*playbackControl*playbackFileListLabel.labelString: User Playback Files

IBM9999*playbackControl*playbackDefaultFileListLabel.labelString: Default Playback Files

IBM9999*scaleBtn.titleString: Playback Rate

IBM9999*playbackControl*startBtn.labelString: Start

IBM9999*playbackControl*cancelBtn.labelString: Cancel

IBM9999*playbackControl*deleteBtn.labelString: Delete

IBM9999*playbackControl*editBtn.labelString: Edit

IBM9999*playbackControl*pauseBtn.labelString: Pause

IBM9999*playbackControl*continueBtn.labelString: Continue

IBM9999*playbackControl*stopBtn.labelString: Stop

IBM9999*playbackControl*playbackControlLabelStopped.labelString: Stopped.

IBM9999*playbackControl*playbackControlLabelPlaying.labelString: Playing.

IBM9999*playbackControl*playbackControlLabelPaused.labelString:  Paused.

IBM9999*playbackControl*playbackControlLabelDone.labelString: Completed.

IBM9999*playbackControl*playbackKeysRemainingLabel.labelString:  Data Remaining:

IBM9999*playbackControl*playbackDeleteWarningDialog_popup.title: Playback Delete Warning

IBM9999*playbackControl*playbackDeleteWarningDialog.messageString: OK to delete selected file(s)?

IBM9999*playbackControl*playbackMsgDialog_popup.title: Playback Error Message

IBM9999*playbackControl*playbackPauseDialog_popup.title: Playback Pause

IBM9999*playbackControl*playbackPauseDialog.okLabelString:        Continue

IBM9999*playbackControl*playbackPauseDialog.cancelLabelString:    Stop

IBM9999*playbackPauseDialogMsg1: Playback paused. Enter data and continue.

IBM9999*playbackPauseDialogMsg2: Playback paused. Enter password and continue.

IBM9999*playbackPauseDialogMsg3: Playback paused by user.

IBM9999*PlaybackMsgNoStartup: Startup playback file not in playback list.

IBM9999*PlaybackMsgFileNotInList:  Playback file not in playback list.

IBM9999*PlaybackMsgFileCorrupt: Playback file not created by Record.

IBM9999*PlaybackMsgFileNoRead: Cannot read key playback file. Playback cannot start.

IBM9999*PlaybackMsgFileNoOpen: Cannot open playback file. Playback cannot Start.

IBM9999*PlaybackMsgIncompatible:  Playback file not compatible with current screen.

IBM9999*PlaybackMsgPasswordLocation:  Password cannot be played at cursor location.


!*****************************
! Keypad Resources
!*****************************
IBM9999*keypadfilechangebox_popup.title:   Pop-up Keypad

IBM9999*keypadfilechangeboxlabel.labelString:   Select a Keypad File:

IBM9999*userKeypads.labelString:  User Keypads

IBM9999*defaultKeypads.labelString:  Default Keypads	

IBM9999*cancelkeypad.labelString:   Cancel

IBM9999*keypadOKbox.labelString:   OK

!*****************************************************************************
! This menubar resource is used for double byte languages, but DOES need to be
! translated into all MRI languages (because users can have a different MRI
! language than their emulator session language).
!*****************************************************************************
IBM9999*altviewButton.labelString:  Alternate Viewing

!***********************************************************
! The resources below are used to prompt the user to choose between two types 
! of Japanese.  These resources should be translated into all languages.
!***********************************************************
IBM9999*hostNameDialog.helpLabelString:  Advance...
IBM9999*katawidget.title:   Japanese Host Codepage Selection
IBM9999*labelw.labelString:  Select the Host Codepage
IBM9999*button_two.labelString:  Katakana Extended (5026)
IBM9999*button_one.labelString:  Latin Extended (5035)
IBM9999*okw.labelString:  OK
IBM9999*cancelw.labelString:  CANCEL


!***********************************
!* Shared Emulator Print Resources *
!***********************************

IBM9999*localPrintPrintSelectionLabel.labelString:       Print Selection:

IBM9999*localPrintPrintSelectionTextButton.labelString:  Text

IBM9999*localPrintPrintSelectionImageButton.labelString: Image

IBM9999*localPrintImageColorSupportLabel.labelString: Color Print:

IBM9999*localPrintImageColorSupportFalseButton.labelString: No

IBM9999*localPrintImageColorSupportTrueButton.labelString: Yes

IBM9999*localPrintPageSizeMenuLabel.labelString:  Page Size:

! The following are printer page sizes.
IBM9999*localPrintPageSizeMenu*pageSize1.labelString:  Letter (8.5 x 11 in.)

IBM9999*localPrintPageSizeMenu*pageSize2.labelString:  Legal (8.5 x 14 in.)

IBM9999*localPrintPageSizeMenu*pageSize3.labelString:  A4 (210 x 297 mm)

IBM9999*localPrintPageSizeMenu*pageSize4.labelString:  A5 (148 x 210 mm)

IBM9999*localPrintPageSizeMenu*pageSize5.labelString:  B5 ISO (176 x 250 mm)

IBM9999*localPrintPageSizeMenu*pageSize6.labelString:  B5 JIS (182 X 257 mm)

IBM9999*localPrintPageSizeMenu*pageSize7.labelString:  Executive (7.25 x 10.5 in.)

IBM9999*localPrintPageSizeMenu*pageSize8.labelString:  Statement (8.5 x 5.5 in.)

IBM9999*localPrintDPIMenuLabel.labelString:  Resolution (dpi):

IBM9999*localPrintDPIMenu*DPI1.labelString:  75

IBM9999*localPrintDPIMenu*DPI2.labelString:  100

IBM9999*localPrintDPIMenu*DPI3.labelString:  150

IBM9999*localPrintDPIMenu*DPI4.labelString:  200

IBM9999*localPrintDPIMenu*DPI5.labelString:  300

IBM9999*localPrintDPIMenu*DPI6.labelString:  600

IBM9999*ErrorMsgBrowserLowMemory:  Insufficient memory to complete operation.

IBM9999*userKeypads.labelString: User Keypads

IBM9999*defaultKeypads.labelString: Default Keypads

IBM9999*playbackControl*playbackDeleteWarningDialog.cancelLabelString: Cancel

IBM9999*playbackControl*playbackDeleteWarningDialog.okLabelString: OK

!***********************************
!**  Resources only used by 3270  **
!***********************************
! 'Command' menu
IBM3270*sessMenuCascade.labelString: New 3270 Session

IBM3270*new_sessionButton.labelString: New 3270 Session

IBM3270*new_mod2Button.labelString: New 24x80 Session

IBM3270*new_mod3Button.labelString: New 32x80 Session

IBM3270*new_mod4Button.labelString: New 43x80 Session

IBM3270*new_mod5Button.labelString: New 27x132 Session

IBM3270*graphicsMsg.labelString: Graphics

IBM3270*font0Button.labelString: Default

IBM3270*printTelnetFailure: Print\nTelnet negotiations failed.

!**************************************************
!*
!*        Printing translations 
!*
!*      Added by AJMEYER for V310.nc
!*
!**************************************************

IBM9999*printDialogPrinterTypeLabel.labelString:  Printer Type:

IBM9999*printDialogPrinterTypeMenu*postscript.labelString:  PostScript

IBM9999*printDialogPrinterTypeMenu*ascii.labelString:  ASCII

IBM9999*printDialogPrinterTypeMenu*pcl.labelString:  PCL

IBM9999*printDialogPrinterSelectControls_popup.title:   Printer Selector

IBM9999*printSelectDialogOKButton.labelString:  OK

IBM9999*printSelectDialogCancelButton.labelString:  Cancel

IBM9999*printDialogSelectPrinter.labelString: Select a Printer:

IBM9999*printDialogPrintCommandLabel.labelString: Print Command:

IBM5250*hostNameDialog*useridLabel.labelString: User ID:

IBM5250*hostNameDialog*passwordLabel.labelString: Password:

!**************************************************
!*
!*                ICU path  
!*
!*     
!**************************************************


BM5250*ICUTablePath:  /usr/share/icu/3.4
*renderTable: 
*renderTable.MyTable.fontName: 
*renderTable.MyTable.fontType: 
!*renderTable.MyTable.fontType: FONT_IS_XOC
*renderTable.MyTable.layoutModifier: 
