Source: desktop
Section: unknown
Priority: optional
Maintainer: Steffen Hoenig <s.hoenig@openthinclient.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: desktop
Architecture: any
Depends: base, tcos-libs (>= 2.0-7)
Conflicts: tcos-branding
Description: Customize the TCOS desktop experience.
