!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250, and
! VTxxx emulators, in particular the miscellaneous preferences program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5MscP.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to all emulators. Some is specific to one emulator.
!    Miscpref = Resources used by both 3270 and 5250 emulators.
!    Miscpr32 = Resources used by the 3270 emulator.
!    Miscpr52 = Resources used by the 5250 emulator.
!    MiscprVT = Resources used by the VT emulator.
! 4. Resource format: 
!    - A resource line starts with Miscpref*, Miscpr32*, Miscpr52*,or MiscprVT*, followed by 
!      a resource name and a ":".  Do NOT make any changes to the text to the left
!      of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!*******************************************************************
!*******   Miscellaneous Preferences Resources              ***********
!*******************************************************************
Miscpr52*title:     5250-istunnon muut asetukset

Miscpr32*title:     3270-istunnon muut asetukset

MiscprVT*title:     VT-istunnon muut asetukset

Miscpref*iconName:  Muut asetukset

Miscpref*okLabelString: OK

Miscpref*cancelLabelString: Peruutus


!***********************************************
!**     Action Bar Area Resources             **
!***********************************************
Miscpref*saveButton.labelString: Tallennus

Miscpref*exitButton.labelString: Lopetus

Miscpref*setDefaultsButton.labelString: Oletusarvot

Miscpref*helpButton.labelString: Ohje


!*********************************************************
!**     Preference Buttons Area Resources               **
!**							**
!*********************************************************
Miscpref*preferencesListInstructions.labelString: Asetuksen valinta

Miscpref*CursorStyleItem:                         Kohdistimen tyyli

Miscpr52*EnterKeyLocationItem:                    ENTER- tai Kentän loppu -näppäin

Miscpr32*EnterKeyLocationItem:                    ENTER-näppäin
	
Miscpr52*AutomaticHelpItem:                       Automaattinen HELP-näppäin

Miscpr52*BlueUnderscoreItem:                      Sininen alleviivaus

Miscpref*RowColumnIndicatorItem:                  Merkkipaikan ilmaisin

Miscpref*DestructiveBackspaceItem:                Poistava askelpalautin

Miscpref*RuleLineEnableItem:                      Kohdistusviiva käytössä

Miscpref*RuleLineStyleItem:                       Kohdistusviivan tyyli

Miscpref*PasteStartLocationItem:                  Liittämisen aloituskohta

Miscpref*CursorBlinkItem:                         Kohdistimen vilkunta

Miscpr52*LargeScreenBehaviorItem:                 Laajan kuvaruudun toiminnot

Miscpref*PrintKeyLocationItem:                    PRINT-näppäin

Miscpr32*BracketItem:                             Hakasulje

Miscpr32*AutomaticReconnectItem:                  Automaattinen yhteyden uudelleenmuodostus

Miscpref*HotspotsItem:                            Hotspot-kohdat

Miscpref*TypeAheadItem:                           Näppäilypuskurointi

Miscpr52*ErrorResetKeys:                          RESET-näppäimet

Miscpref*HotspotHighlight:                        Hotspot-kohtien korostus

Miscpref*DefaultCopyType:                         Kopioinnin oletuslaji

Miscpref*InsertMode:                              Lisäystila

Miscpref*InputOnlyCursorMovement:                 Kohdistimen siirto vain lisäyskohtiin

Miscpref*AudioAlarm:                              Äänihälytys

MiscprVT*CursorBlinkItem:           Kohdistimen vilkunta

MiscprVT*ApplicationCursor:         Sovelluskohdistintila

MiscprVT*ApplicationKeypad:         Sovellusnumeronäppäimistötila

MiscprVT*AutoLineFeed:              Automaattinen rivinsiirto

MiscprVT*AutoResize:                Automaattinen koon muutto

MiscprVT*AutoWrapAround:            Automaattinen kierrätys

MiscprVT*ClearScreenWithBlanks:     Näytön tyhjennys tyhjämerkeillä

MiscprVT*ExitOnDisconnect:          Lopetus yhteyden purun yhteydessä

MiscprVT*JumpScroll:                Jaksoittainen selaus

MiscprVT*MarginBell:                Reunuksen äänimerkki

MiscprVT*MarginBellColumn:          Reunuksen äänimerkin sarake

MiscprVT*ReverseWrapAround:         Käänteinen kierrätys

MiscprVT*VisibleStatusLine:         Näkyvä tilarivi

MiscprVT*VisualBell:                Näkyvä "äänimerkki"
	
!*************************************************************
!**     Preference Text Area Resources (Explanation Box)    **
!*************************************************************
Miscpref*CursorStyleText.value: Käytettävissä olevat kohdistimen tyylit ovat alaviiva ja suorakaide. Kohdistimen tyyli voi olla aina alaviiva, aina suorakaide tai alaviiva tai suorakaide sen mukaan, onko lisäystila käytössä vai ei.

MiscprVT*CursorStyleText.value: Kohdistimen tyyli voi olla aina alaviiva tai aina suorakaide.

MiscprVT*CursorBlinkText.value: Kohdistimen vilkunta voi olla käytössä tai pois käytöstä. Jos vilkunta on käytössä, kohdistin vilkkuu vain, kun ikkuna on aktiivinen.

MiscprVT*ApplicationCursorText.value: Kohdistimen siirtonäppäimet voivat aluksi olla sovellus- tai kohdistintilassa. Sovellustilassa ne luovat ANSI-ohjausmerkkejä nuolinäppäinten normaalien kohdistinliikkeiden asemesta.

MiscprVT*ApplicationKeypadText.value: Näppäimistön näppäimet voivat aluksi olla sovellus- tai numerotilassa. Sovellustilassa ne luovat ohjaustoimintoja numeromerkkien asemesta.

Miscpr52*EnterKeyLocationText.value: Enter-, Rivinvaihto- ja Kentän loppu -toimintojen alla olevat oletusnäppäimet voidaan muuttaa. Näille toiminnoille on käytettävissä useita Enter-näppäimen ja oikean Ctrl-näppäimen yhdistelmiä.

Miscpr32*EnterKeyLocationText.value: Enter- ja Rivinvaihto-toimintojen alla olevat oletusnäppäimet voidaan muuttaa. Näille toiminnoille on käytettävissä useita Enter-näppäimen ja oikean Ctrl-näppäimen yhdistelmiä.

Miscpr52*AutomaticHelpText.value: HELP-näppäintä voidaan painaa automaattisesti näppäimistön virheellisen käytön jälkeen. Tällöin kuvaruutuun tulee yksi rivi ensimmäisen tason ohjetekstiä, joka kuvaa käyttövirheen. Jos automaattinen HELP-näppäin ei ole käytössä, nelinumeroinen virhekoodi tulee näkyviin. Tällöin käyttäjä voi tuoda ensimmäisen tason ohjetekstin näkyviin painamalla HELP-näppäintä.

Miscpr52*BlueUnderscoreText.value: Alleviivauksen oletusväriksi voidaan muuttaa sininen väri.

Miscpref*RowColumnIndicatorText.value: Tilarivin oikealla puolella oleva merkkipaikan ilmaisin osoittaa kohdistimen merkkipaikan. Merkkipaikan ilmaisin voi olla käytössä tai pois käytöstä. Huomaa, että jos kohdistin ei ole näkyvissä, merkkipaikan ilmaisin ei ole koskaan käytössä.

Miscpref*DestructiveBackspaceText.value: Askelpalautin voi olla poistava tai vain kohdistinta siirtävä. Jos askelpalautin on poistava, toiminto poistaa tiedot syöttökentästä, kun kohdistinta siirretään edelliseen kenttään. Jos askelpalautin ei ole poistava, toiminto ei poista tietoja syöttökentästä, kun kohdistinta siirretään edelliseen kenttään.

Miscpref*RuleLineEnableText.value: Kohdistusviiva näyttää kohdistimen nykyisen tai edellisen paikan. Kohdistusviiva voi olla kokonaan pois käytöstä, käytössä aina tai käytössä vain kohdistusviivanäppäimellä. Kun kohdistusviivaa ohjataan kohdistusviivanäppäimellä, viiva voi pysyä paikallaan tai seurata kohdistinta.

Miscpref*RuleLineStyleText.value: Kun kohdistusviiva on näkyvissä, se voi olla vaakasuora viiva, pystysuora viiva tai molemmat.

Miscpref*PasteStartLocationText.value: Hiiren oikealla painikkeella toteutettava liittämistoiminto voidaan määrittää alkavaksi kohdistimen tai hiiriosoittimen kohdalta. Huomaa, että tämä asetus ei vaikuta tietojen liittämiseen valikon vaihtoehdolla. Jos käytetään valikon vaihtoehtoa, järjestelmä liittää tiedot kohdistimen kohdalle.

Miscpr52*CursorBlinkText.value: Kohdistimen vilkunta voi olla käytössä tai pois käytöstä. Kun vilkunta on käytössä, sovellus ohjaa vilkuntaa. Kun vilkunta ei ole käytössä, kohdistin ei vilku koskaan.

Miscpr32*CursorBlinkText.value: Kohdistimen vilkunta voi olla käytössä tai pois käytöstä. Kun vilkunta on käytössä, kohdistin vilkkuu aina. Kun vilkunta ei ole käytössä, kohdistin ei vilku koskaan.

Miscpr52*LargeScreenBehaviorText.value: 5250-emulointiohjelma voidaan määrittää siten, että se automaattisesti siirtää ikkunaa ja pienentää fonttikokoa tarvittaessa, kun laajan kuvaruudun toiminnot otetaan käyttöön. Tämä tapahtuu, kun uusi ikkuna ei mahdu kuvaruutuun kohdistimen nykyiseen kohtaan käytössä olevalla fonttikoolla.

Miscpr52*PrintKeyLocationText.value: Ellei näppäimistöä ole määritetty uudelleen, PRINT-näppäimen oletusmääritys on järjestelmätulostus sekä vaihto- ja PRINT-näppäimen oletusmääritys on paikallinen kuvaruudun tulostustoiminto. Jotkut käyttäjät haluavat ehkä vaihtaa nämä toiminnot keskenään.

Miscpr32*PrintKeyLocationText.value: Ellei näppäimistöä ole määritetty uudelleen, PRINT-näppäimen oletusmääritys on PA1-toiminto sekä vaihto- ja PRINT-näppäimen oletusmääritys on paikallinen kuvaruudun tulostustoiminto. Jotkut käyttäjät haluavat ehkä vaihtaa nämä toiminnot keskenään.

Miscpr32*BracketText.value: Kun Hakasulje-vaihtoehto valitaan, järjestelmä muuntaa hakasuljemerkit oikein.

Miscpr32*AutomaticReconnectText.value: 3270-emulointiohjelman ikkuna voidaan joko poistaa kuvaruudusta tai jättää kuvaruutuun, kun käyttäjä kirjautuu ulos järjestelmästä. Kun ikkuna jätetään kuvaruutuun, emulointiohjelma yrittää muodostaa yhteyden pääkoneeseen automaattisesti uudelleen.

Miscpref*HotspotsText.value: Hotspot-kohdat ovat kuvaruudun kohtia, joita napsauttamalla voidaan toteuttaa toimintoja. Jos esimerkiksi Hotspot-kohdat ovat käytössä ja hiiriosoitin on 'PF1'- tai 'F1'-merkinnän kohdalla, järjestelmä toteuttaa F1-näppäimen toiminnon, kun kohtaa napsautetaan. Hotspot-kohdat voidaan poistaa käytöstä tai ne voidaan ottaa käyttöön ensisijaisen painikkeen yhdellä tai kahdella napsautuksella.

Miscpref*TypeAheadText.value: Näppäilypuskurointi tallentaa näppäilysarjat, kun näppäimistö on lukittu (syöttö on estetty). Järjestelmä käsittelee nämä näppäilysarjat, kun näppäimistö vapautetaan. Kun näppäilypuskurointi otetaan käyttöön, se on aina käytössä. Kun näppäilypuskurointi poistetaan käytöstä, se on aina pois käytöstä.

Miscpr52*ErrorResetKeysText.value: 5250-emulointiohjelman virhetilan poistonäppäimet voidaan määrittää alla. Kun virherivillä painetaan RESET-näppäintä tai napsautetaan hiiren vasenta painiketta, järjestelmä poistaa virhetilan. Käyttäjä voi valita virhetilan poistonäppäimeksi myös kohdistimen siirtonäppäimen (sarkain, rivinvaihto, nuolinäppäin, askelpalautin) tai hiiren muun kuin vasemman painikkeen.

Miscpref*HotspotHighlightText.value: Voit määrittää emulointiohjelman korostamaan Hotspot-kohdat. Jos Hotspot-kohdat ovat käytössä ja korostettuina, kaikki kuvaruudun alueella olevat hotspot-kohdat näkyvät korostettuina.

Miscpref*DefaultCopyTypeText.value: Kopioinnin oletuslajina on yhdellä hiiren vasemman painikkeen painamis- ja vetotoiminnolla merkittävä kopiointialuelaji. Tämä kopiointialuelaji voidaan myös merkitä näppäimistöllä.

Miscpr52*InsertModeText.value: Lisäystila on oletusarvon mukaan poissa käytöstä, ja sovellukset ja RESET-näppäin voivat automaattisesti ottaa sen uudelleen käyttöön. Tämä lisäystilan automaattinen nollaus voidaan poistaa käytöstä ja siihen voidaan liittää joko lisäystilan käyttö tai poisto käytöstä oletusarvona. 
Miscpr32*InsertModeText.value: Lisäystila on oletusarvon mukaan poissa käytöstä, ja Insert-näppäimen lisäksi sovellukset (esimerkiksi Enter-näppäimellä) ja RESET-näppäin voivat nollata sen automaattisesti. Tämä lisäystilan automaattinen nollaus voidaan poistaa käytöstä ja siihen voidaan liittää joko lisäystilan käyttö tai poisto käytöstä oletusarvona. 
Miscpref*InputOnlyCursorMovementText.value: Nuolinäppäimet voidaan määrittää siirtymään vain kohtiin, joihin voidaan syöttää tietoja. Jos nuolinäppäimet ovat valittuna, ne siirtävät kohdistimen tietojen syötön mahdollistavaan kohtaan. Jos sellaista kohtaa ei ole, kohdistin siirtyy näytön ensimmäiseen kohtaan. 
Miscpref*AudioAlarmText.value: Äänihälytys voidaan ottaa käyttöön tai poistaa käytöstä. Kun äänihälytys ei ole käytössä, hälytysääntä ei koskaan kuulu.

MiscprVT*AutoLineFeedText.value: Automaattinen rivinsiirto voidaan ottaa käyttöön tai poistaa käytöstä. Kun automaattinen rivinsiirto ei ole käytössä, VT-emulointiohjelma toteuttaa rivinvaihdon ja rivinsiirron silloin, kun sovellus lähettää rivinsiirron, pystysuuntaisen sarkaimen tai lomakkeen syötön merkin. Lisäksi kaikki uuden rivin luovat näppäimet (kuten Enter-näppäin) lähettävät rivinvaihto- ja rivinsiirtomerkin sovellukselle. Kun rivinsiirto ei ole käytössä, järjestelmä toteuttaa rivinsiirron vain silloin, kun se vastaanottaa rivinsiirron, pystysuuntaisen sarkaimen tai lomakkeen syötön merkin. Kun rivinsiirto ei ole käytössä ja Enter-näppäintä painetaan, sovellukselle lähtee vain rivinsiirtomerkki. 
MiscprVT*AutoResizeText.value: Automaattinen koon muutto voidaan ottaa käyttöön tai poistaa käytöstä.

MiscprVT*AutoWrapAroundText.value: Automaattinen kierrätys voidaan ottaa käyttöön tai poistaa käytöstä. Kun automaattinen kierrätys on pois käytöstä, näytön reunan jälkeen kirjoitettu merkki tulee automaattisesti näkyviin seuraavalle riville. Jos automaattinen kierrätys ei ole käytössä, näytön reunan jälkeen kirjoitettu merkki korvaa rivin lopussa olevan merkin. 
MiscprVT*ClearScreenWithBlanksText.value: Näyttö voidaan haluttaessa tyhjentää tyhjämerkeillä.

MiscprVT*ExitOnDisconnectText.value: Pääte voidaan määrittää sulkeutumaan, kun sen yhteys pääkoneeseen purkautuu.

MiscprVT*JumpScrollText.value: Päätteen selaus voidaan määrittää tapahtumaan jaksoittain. Jaksoittaisessa selauksessa näyttöä voidaan vierittää enemmän kuin rivi kerrallaan. Näin näytön päivitykset tapahtuvat nopeammin, kun päätteeseen lähetetään useita tekstirivejä. Jaksoittain selattavien rivien enimmäismäärä on VT-emulointi-ikkunan rivien määrä. 
MiscprVT*MarginBellText.value: Pääte voidaan määrittää antamaan äänimerkki, kun käyttäjä kirjoittaa oikeaan reunukseen. 
MiscprVT*MarginBellColumnText.value: Määrittää reunusäänimerkin sarakkeen.

MiscprVT*ReverseWrapAroundText.value: Käänteinen kierrätys voidaan ottaa käyttöön tai poistaa käytöstä. Käänteisen kierrätyksen ansiosta kohdistin voi siirtyä rivin ensimmäisestä merkkipaikasta edellisen rivin viimeiseen sarakkeeseen, jolloin käyttäjä voi siirtyä taaksepäin edelliselle riville. Automaattisen kierrätyksen on oltava käytössä, jotta käänteinen kierrätys toimisi.

MiscprVT*VisibleStatusLineText.value: Tilarivi voidaan ottaa näkyviin tai se voidaan piilottaa. Jos tilarivi määritetään näkyväksi, näkyviin tulee VT-emulointi-ikkunan 25. rivi. Sovellukset voivat näyttää tällä rivillä tilatietoja. Kun rivi ei ole sovelluksen käytössä, näkyviin tulee kohdistimen rivin tai sarakkeen ilmaisin. 
MiscprVT*VisualBellText.value: Äänimerkki voidaan korvata visuaalisella hälytysmerkillä.

!*************************************************************
!**     Preference Text Area Resources (Options area)       **
!**							    **
!*************************************************************

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton1.labelString: Alaviivakohdistin

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton2.labelString: Suorakaidekohdistin

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton3.labelString: Suorakaide (lisäys), alaviiva (korvaus)

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton4.labelString: Alaviiva (lisäys), suorakaide (korvaus)

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton1.labelString: Oletusmääritykset

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton2.labelString: Enter = syöttö, oikea Ctrl = rivinvaihto

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton3.labelString: Enter = rivinvaihto, oikea Ctrl = syöttö

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton4.labelString: Enter = syöttö, oikea Ctrl = kentän loppu/rivinvaihto

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton5.labelString: Enter = kentän loppu/rivinvaihto, oikea Ctrl = syöttö

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton1.labelString: HELP-näppäimen käyttöönotto

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton2.labelString: HELP-näppäimen poisto käytöstä

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton1.labelString: Sinisen alleviivauksen käyttöönotto

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton2.labelString: Sinisen alleviivauksen poisto käytöstä

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton1.labelString: Merkkipaikan ilmaisimen näyttö

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton2.labelString: Merkkipaikan ilmaisimen piilotus

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton1.labelString: Poistavan askelpalauttimen käyttöönotto

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton2.labelString: Poistavan askelpalauttimen poisto käytöstä

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton1.labelString: Kohdistusviivan poisto käytöstä

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton2.labelString: Kohdistusviivan näyttö kohdistimen kohdalla aina

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton3.labelString: Näppäimen käyttö (ei seuraa kohdistinta)

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton4.labelString: Näppäimen käyttö (seuraa kohdistinta)

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton1.labelString: Sekä vaaka- että pystysuora kohdistusviiva

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton2.labelString: Vain vaakasuora kohdistusviiva

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton3.labelString: Vain pystysuora kohdistusviiva

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton1.labelString: Liittäminen kohdistimen kohtaan

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton2.labelString: Liittäminen hiiriosoittimen kohtaan

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: Kohdistimen vilkunnan poisto käytöstä

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: Kohdistimen vilkunnan käyttöönotto

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton1.labelString: Ei ikkunan siirtoa tai fonttikoon pienennystä

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton2.labelString: Ikkunan siirto ja fonttikoon pienennys

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton3.labelString: Vain fonttikoon pienennys

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton4.labelString: Suuren näyttöfontin käyttö ja tallennus

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton5.labelString: Fonttikoon pienennys ja ikkunan siirto

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: PRINT-näppäimen oletusmääritykset

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString: PRINT = järjestelmä, vaihto + PRINT = paikallistulostus

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString: PRINT = paikallistulostus, vaihto + PRINT = järjestelmä

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: PRINT-näppäimen oletusmääritykset

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString: PRINT = PA1, vaihto + PRINT = paikallistulostus

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString: PRINT = paikallistulostus, vaihto + PRINT = PA1

Miscpr32*PreferenceTextFormForBracket*ToggleButton1.labelString: Hakasulkeiden muunnon poisto käytöstä

Miscpr32*PreferenceTextFormForBracket*ToggleButton2.labelString: Hakasulkeiden muunnon käyttöönotto

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton1.labelString: Ikkunan poisto uloskirjauksen jälkeen

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton2.labelString: Ikkunan säilytys uloskirjauksen jälkeen

Miscpref*PreferenceTextFormForHotspots*ToggleButton1.labelString: Hotspot-kohtien poisto käytöstä

Miscpref*PreferenceTextFormForHotspots*ToggleButton2.labelString: Käyttö ensisijaisen painikkeen napsautuksella

Miscpref*PreferenceTextFormForHotspots*ToggleButton3.labelString: Käyttö ensisijaisen painikkeen kaksoisnapsautuksella

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton1.labelString: Näppäilypuskuroinnin poisto käytöstä

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton2.labelString: Näppäilypuskuroinnin käyttöönotto

Miscpr52*PreferenceTextFormForTypeAhead*ToggleButton3.labelString: AS/400-asetuksen käyttö

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton1.labelString: Vain RESET-näppäin tai hiiren vasen painike

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton2.labelString: Myös nuolinäppäimet ja kaikki hiiren painikkeet

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton3.labelString: Useimmat näppäimet ja kaikki hiiren painikkeet

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton1.labelString: Hotspot-kohtien korostuksen poisto käytöstä

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton2.labelString: Hotspot-kohtien korostuksen käyttöönotto

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton1.labelString: Lineaarinen kopiointi

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton2.labelString: Jakson kopiointi

Miscpref*PreferenceTextFormForInsertMode*ToggleButton1.labelString: Lisäys pois käytöstä, kun autom. nollaus on käytössä

Miscpref*PreferenceTextFormForInsertMode*ToggleButton2.labelString: Lisäys pois käytöstä, kun autom. nollaus ei ole käytössä

Miscpref*PreferenceTextFormForInsertMode*ToggleButton3.labelString: Lisäys käytössä, kun autom. nollaus ei ole käytössä

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton1.labelString: Ei kohdistimen siirtoa tietoja syötettäessä

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton2.labelString: Kohdistimen siirto tietoja syötettäessä

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton1.labelString: Äänihälytyksen poisto käytöstä

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton2.labelString: Äänihälytyksen käyttöönotto

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: Kohdistimen vilkunnan poisto käytöstä

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: Kohdistimen vilkunnan käyttöönotto

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton1.labelString: Sovelluskohdistintilan poisto käytöstä

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton2.labelString: Sovelluskohdistintilan käyttöönotto

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton1.labelString: Sovelluksen lisänäppäimistötilan poisto käytöstä

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton2.labelString: Sovelluksen lisänäppäimistötilan käyttöönotto

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton1.labelString: Automaattisen rivinsiirron poisto käytöstä

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton2.labelString: Automaattisen rivinsiirron käyttöönotto

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton1.labelString: Automaattisen koon muuton poisto käytöstä

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton2.labelString: Automaattisen koon muuton käyttöönotto

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton1.labelString: Automaattisen kierrätyksen poisto käytöstä

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton2.labelString: Automaattisen kierrätyksen käyttöönotto

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton1.labelString: Tyhjämerkeillä tehtävän näytön tyhjennyksen poisto käytöstä

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton2.labelString: Tyhjämerkeillä tehtävän näytön tyhjennyksen käyttöönotto

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton1.labelString: Lopetuksen poisto käytöstä yhteyden purkautuessa

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton2.labelString: Lopetuksen käyttöönotto yhteyden purkautuessa

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton1.labelString: Jaksoittaisen selauksen poisto käytöstä

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton2.labelString: Jaksoittaisen selauksen käyttöönotto

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton1.labelString: Reunusäänimerkin poisto käytöstä

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton2.labelString: Reunusäänimerkin käyttöönotto

MiscprVT*PreferenceTextFormForMarginBellColumn*textFieldLabel.labelString: Sarakkeet rivin lopusta

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton1.labelString: Käänteisen kierrätyksen poisto käytöstä

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton2.labelString: Käänteisen kierrätyksen käyttöönotto

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton1.labelString: Tilarivin poisto käytöstä

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton2.labelString: Tilarivin käyttöönotto

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton1.labelString: Visuaalisen "äänimerkin" poisto käytöstä

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton2.labelString: Visuaalisen "äänimerkin" käyttöönotto



!**************************************
!**   Messages at bottom of window   **
!**************************************

Miscpr52*MiscprefMsgHelpRequested:     Ohjepyyntö 5250-istunnosta.

Miscpr32*MiscprefMsgHelpRequested:     Ohjepyyntö 3270-istunnosta.

MiscprVT*MiscprefMsgHelpRequested:     Ohjepyyntö VT-emulointi-istunnosta.

Miscpref*MiscprefMsgPreferenceApplied: Asetus on otettu käyttöön tilapäisesti.

Miscpref*MiscprefMsgPreferencesSaved:  Asetukset on tallennettu.

Miscpref*MiscprefMsgDefaultsApplied:   Oletusasetukset on otettu käyttöön tilapäisesti.

Miscpref*MiscprefMsgDefaultsNotSet:    Oletusasetuksia ei ole asetettu.

Miscpref*MiscprefMsgNoAccess:          Hakemiston käyttö ei onnistu.


Miscpref*MiscprefMsgNoMake:            Hakemiston luonti ei onnistu.

Miscpref*MiscprefMsgFileOpenError:     Tallennusvirhe:  Tiedoston avaus ei onnistu.

Miscpref*MiscprefMsgFileWriteError:    Tallennusvirhe:  Tiedostoon kirjoitus ei onnistu.



!********************************
!**  Dialog Box Resources      **
!********************************
Miscpref*exitDialog.dialogTitle:              Lopetustoiminnon varoitus

Miscpref*exitDialog.okLabelString:            Tallennus

Miscpref*exitDialog.cancelLabelString:        Ei tallennusta

! this cannot be much longer
Miscpref*exitDialog.messageString:            Muissa asetuksissa on tallentamattomia muutoksia.

Miscpref*setDefaultsDialog.dialogTitle:       Oletusarvojen asetustoiminnon varoitus

Miscpref*setDefaultsDialog.okLabelString:     Kyllä

Miscpref*setDefaultsDialog.cancelLabelString: Ei

! this cannot be much longer
Miscpref*setDefaultsDialog.messageString:     Haluatko varmasti palauttaa kaikkien asetusten oletusarvot?
/*******************************************************************************
**  saveDialog resource
*******************************************************************************/
MiscprVT*saveDialog.dialogTitle: Tallennusasetukset

MiscprVT*saveDialog*saveDialogTitle.labelString: Valitse tallennusvaihtoehto.

MiscprVT*saveDialog*saveChangedOnly.labelString: Vain muutettujen asetusten tallennus

MiscprVT*saveDialog*saveAll.labelString: Kaikkien asetusten tallennus

MiscprVT*saveDialog*saveButton.labelString: Tallennus

MiscprVT*saveDialog*cancelButton.labelString: Peruutus

