Package: tcos-devices
Version: 2.0-18
Architecture: i386
Maintainer: Steffen Hoenig <s.hoenig@openthinclient.com>
Installed-Size: 138
Conflicts: openthinclient-schema
Section: admin
Priority: optional
Description: Schemas for openthinclient manager
 Several XML files for devices like displays.
