!
!
!
! This file contains the resource text strings for the IBM 3270 and IBM 5250 Emulator 
! Setup programs

! This resource file is stored in locale specific ASCII (code page 819 for Latin1 languages).

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with one of the following strings:
!      SetupXXXX* : for the combined setup program resources
!      Setup3270* : for the 3270 setup program resources
!      Setup5250* : for the 5250 setup program resources  
!      AllShare* : for resources shared by the 5250, 3270 and combined setup programs.
!    - Each string is followed by a resource name and a ":".  
!		Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN )   ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN )     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS ( zh_TW )   ****************
!**************************************************************************
!**** For  zh_TW
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS ( zh_TW )     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************


! ********************************************************************************
! Setup Program Resources
! ********************************************************************************
!
! In general, the following buttons should not be made much longer during translation.
! Buttons have one to four words. Note: Testing is the only way to know for sure if all
! buttons fit on the screen ok.  The emulators have a testing document that will be used
! during testing; this will point out a problem if button text is too long. In many 
! cases, buttons are presented side by side, where the total button text length cannot
! increase significantly.
! Note: \n causes a new line and should not be translated.
! You can move, add, or remove \n within text strings.
!
! Password prompt panel 
Setup5250*passwordPromptDialogWidth:            60
Setup5250*passwordPromptDialogHeight:           10
Setup5250*passwordPanelTitle.labelString:       Mot de passe
Setup5250*passwordPanelInstructions.labelString: L'opération demandée requiert un\n\
mot de passe. Entrez le mot de passe.

! Password change panel 
Setup5250*passwordChangeDialogWidth:            60
Setup5250*passwordChangeDialogHeight:           21
Setup5250*passwordChangeDialog2Width:           60
Setup5250*passwordChangeDialog2Height:          17
Setup5250*passwordChangePanelTitle.labelString:       Modification du mot de passe
Setup5250*passwordChangePanelInstructions.labelString: Entrez le mot de passe en cours, puis un nouveau\n mot de passe pour modifier le mot de passe.
Setup5250*passwordChangePanelInstructions2.labelString: Entrez un nouveau mot de passe pour définir le mot de passe.
Setup5250*currentPassword.labelString:          Mot de passe en cours : 
Setup5250*newPassword.labelString:              Nouveau mot de passe : 
Setup5250*newPassword2.labelString:             Confirmation du nouveau mot de passe : 

! menu bar
Setup5250*ConnectionCascade.labelString:        Connexion
SetupXXXX*NewConnectionCascade.labelString:     Nouveau...
SetupXXXX*New3270ConnectionButton.labelString:     3270...
SetupXXXX*New5250ConnectionButton.labelString:     5250...
Setup5250*NewConnectionButton.labelString:      Nouveau...
Setup5250*NewConnectionCascade.mnemonic:        N
Setup5250*EditConnectionButton.labelString:     Edition
Setup5250*EditConnectionButton.mnemonic:        E
Setup5250*BrowseConnectionButton.labelString:   Survol...
Setup5250*BrowseConnectionButton.mnemonic:      F
Setup5250*CopyConnectionButton.labelString:     Copie...
Setup5250*CopyConnectionButton.mnemonic:        C
Setup5250*Copy:                                 Copie
Setup5250*ConnectButton.labelString:            Connexion
Setup5250*RemoveConnectionButton.labelString:   Suppression...
Setup5250*RemoveConnectionButton.mnemonic:      R
Setup5250*ExitButton.labelString:               Sortie
Setup5250*ExitButton.mnemonic:                  x
Setup5250*PreferencesCascade.labelString:       Préférences
Setup5250*PreferencesCascade.mnemonic:          P
Setup5250*Prefs3270Button.labelString:          3270...
Setup5250*Prefs3270Button.mnemonic:             3
Setup5250*Prefs5250Button.labelString:          5250...
Setup5250*Prefs5250Button.mnemonic:             5
Setup5250*OptionsCascade.labelString:           Options
Setup5250*OptionsCascade.mnemonic:              O
Setup5250*PasswordButton.labelString:           Mot de passe...
Setup5250*HelpCascade.labelString:              Aide
Setup5250*HelpCascade.mnemonic:                 A
Setup5250*HelpAboutButton.labelString:          A propos de...
Setup5250*HelpContentsButton.labelString:       Sommaire...
Setup5250*Help3270ContentsButton.labelString:   Configuration 3270 - Sommaire...
Setup5250*Help5250ContentsButton.labelString:   Configuration 5250 - Sommaire...
Setup5250*Help3270EmulatorContentsButton.labelString: Emulateur 3270 - Sommaire...
Setup5250*Help5250EmulatorContentsButton.labelString: Emulateur 5250 - Sommaire...
Setup5250*UserConnectionsListlabel.labelString:     Connexions utilisateur
Setup5250*DefaultConnectionsListlabel.labelString:  Connexions par défaut
Setup5250*ProfileConnectionsListlabel.labelString:  Connexions de profil
	
! Command lines
Setup5250*GeometryTitle.labelString:            Taille et emplacement de fenêtre en pixels (facultatif)
Setup5250*GeometryTitle2.labelString:           Taille et emplacement de fenêtre (facultatif)
Setup5250*GeometryTitle3.labelString:           Taille d'écran (facultatif)
Setup5250*GeometryFullScreenLabel.labelString:  Plein\n\
écran
Setup5250*GeometryFullScreenCheckBox.labelString:
Setup5250*GeometryWidthLabel.labelString:       Largeur
Setup5250*GeometryHeightLabel.labelString:      Hauteur
Setup5250*GeometryColsLabel.labelString:        Colonnes
Setup5250*GeometryRowsLabel.labelString:        Lignes   
Setup5250*GeometryHorizontalOffsetLabel.labelString: Décalage\n\
horizontal
Setup5250*GeometryVerticalOffsetLabel.labelString:   Décalage\n\
vertical
Setup5250*GeometryCornerLabel.labelString:      Angle\n\
de décalage
Setup5250*cornerButton1.labelString:            Partie supérieure gauche
Setup5250*cornerButton2.labelString:            Partie supérieure droite
Setup5250*cornerButton3.labelString:            Partie inférieure gauche
Setup5250*cornerButton4.labelString:            Partie inférieure droite

! 3270 and 5250 Command Line Editing 
Setup5250*CommandLine5250EditTitle.labelString: Connexion de l'émulateur 5250
Setup5250*Advanced5250EditTitle.labelString:    Connexion avancée de l'émulateur 5250
Setup5250*AS400.labelString:                    Nom d'hôte i5/OS ou\n\
Adresse IP (facultatif)
Setup5250*CommandLine3270EditTitle.labelString: Connexion de l'émulateur 3270
Setup5250*Advanced3270EditTitle.labelString:    Connexion avancée de l'émulateur 3270
Setup5250*s390.labelString:                     Nom d'hôte S/390 ou\n\
Adresse IP (facultatif)
Setup5250*ConnectionDescription.labelString:    Description de la connexion

Setup5250*sessionTitle.labelString:             Titre de la session (facultatif)
Setup5250*userid.labelString:                   ID utilisateur de l'émulateur (facultatif)
Setup5250*password.labelString:                 Mot de passe de l'émulateur (facultatif)
Setup5250*displayName.labelString:              Nom d'écran (facultatif)
Setup5250*port_string.labelString:              Port Telnet (blanc=défaut=23)
Setup5250*otherParameters.labelString:          Autres paramètres (facultatif)

Setup5250*OKButton.labelString:                 OK
Setup5250*cancelButton.labelString:             Annulation
Setup5250*SetToDefaultsButton.labelString:      Valeurs par défaut
Setup5250*helpButton.labelString:               Aide

Setup5250*advancedButton.labelString:           Options avancées
Setup5250*advanced5250Button.labelString:       Connexion 5250 avancée...
Setup5250*5250PreferencesButton.labelString:    Préférences 5250 globales...
Setup5250*advanced3270Button.labelString:       Connexion 3270 avancée...
Setup5250*3270PreferencesButton.labelString:    Préférences 3270 globales...
Setup5250*screenSizeLabel.labelString:          Taille d'écran :
Setup5250*24x80.labelString:                    24x80 (Mod 2, pas de graphiques)
Setup5250*32x80.labelString:                    32x80 (Mod 3)
Setup5250*43x80.labelString:                    43x80 (Mod 4, pas de graphiques)
Setup5250*27x132.labelString:                   27x132 (Mod 5, pas de graphiques)
Setup5250*graphicsLabel.labelString:            Graphiques :
Setup5250*customSize.labelString:               Personnalisé (pas de graphiques)
Setup5250*tn3270eLabel.labelString:             TN3270E :

! 3270 and 5250 Application Preferences 
Setup5250*panel5250PrefsTitle.labelString: Préférences 5250
Setup5250*panel5250ProfilePrefsTitle.labelString: Préférences du profil 5250
Setup5250*5250AppPrefsPanelInstructions.labelString: Les préférences 5250 s'appliquent à toutes les connexions 5250.
Setup5250*panel3270PrefsTitle.labelString: Préférences 3270
Setup5250*panel3270ProfilePrefsTitle.labelString: Préférences du profil 3270
Setup5250*3270AppPrefsPanelInstructions.labelString: Les préférences 3270 s'appliquent à toutes les connexions 3270.

Setup5250*keymapAreaLabel.labelString: Définition du clavier :
Setup5250*keymapLabel.labelString: Redéfinition\n\
du clavier :

Setup5250*keypadAreaLabel.labelString: Bloc de touches :
Setup5250*keypadLabel.labelString: Définition du bloc de touches :

Setup5250*recplayAreaLabel.labelString: Enregistrement/exécution :
Setup5250*recplayLabel.labelString: Enregistrement/exécution :

Setup5250*colorsAreaLabel.labelString: Couleurs :
Setup5250*colorsLabel.labelString: Personnalisation\n\
des couleurs :

Setup5250*appearanceAreaLabel.labelString: Présentation :
Setup5250*wideScreenLabel.labelString: 132 colonnes :
Setup5250*columnSepLabel.labelString: Séparateurs de colonnes :
Setup5250*enterKeyLabel.labelString: Touche d'entrée :

Setup5250*allowUseAreaLabel.labelString: Permettre l'utilisation de :
Setup5250*commandMenuLabel.labelString: Menu Commande :
Setup5250*editLabel.labelString: Menu Edition :
Setup5250*optionLabel.labelString: Menu Option :
Setup5250*printLabel.labelString: Menu Impression :
Setup5250*helpLabel.labelString: Menu Aide :
Setup5250*controlLabel.labelString: Menu Contrôle :
Setup5250*graphicsLabel.labelString: Graphiques :
Setup5250*miscPrefLabel.labelString: Préférences\n\
diverses :
Setup5250*fontMenuLabel.labelString: Menu Polices :
Setup5250*newSessionLabel.labelString: Fenêtre de\n\
nouvelle session :
Setup5250*browserLabel.labelString: Point repère de navigateur :
Setup5250*desktopLabel.labelString: Fichier bureau :

Setup5250*authenticationParameters.labelString: Paramètres d'authentification :
Setup5250*additionalParameters.labelString: Paramètres supplémentaires :

! preference choice values.
Setup5250*prefdefault.labelString: Par défaut
Setup5250*prefEnabled.labelString: Activé(e)
Setup5250*prefDisabled.labelString: Désactivé(e)
Setup5250*prefHidden.labelString: Masqué(e)
Setup5250*prefBasic.labelString: De base
Setup5250*prefAdvanced.labelString: Options avancées
Setup5250*prefPlaybackOnly.labelString: Exécution uniquement
Setup5250*prefNoResizeOrMove.labelString: Non, pas de redimensionnement ni de déplacement
Setup5250*prefFixedFontsOnly.labelString: Polices fixes uniquement
Setup5250*prefKeypadOnly.labelString: Utilisation du bloc de touches uniquement
Setup5250*prefKeyboardPrintOnly.labelString: Pas de menu, impression à partir du clavier uniquement
Setup5250*prefYes.labelString: Oui
Setup5250*prefNo.labelString: Non
Setup5250*prefEnterKey.labelString: Touche Entrée
Setup5250*prefControlKey.labelString: Touche Ctrl
Setup5250*pref24x80.labelString: 24x80 (pas de graphiques)
Setup5250*pref32x80.labelString: 32x80
Setup5250*pref43x80.labelString: 43x80 (pas de graphiques)
Setup5250*pref27x132.labelString: 27x132 (pas de graphiques)
Setup5250*prefNoAllowWMClose.labelString: Non, mais autoriser la fermeture de la fenêtre
Setup5250*prefYesReadOnly.labelString: Oui, mais lecture seule

! 3270 scrolled window sizes.
Setup5250*CommandLine3270SizeWidth:                26
Setup5250*CommandLine3270SizeHeight:               22  
Setup5250*CommandLine3270AdvSizeWidth:             68  
Setup5250*CommandLine3270AdvSizeHeight:            33 
Setup5250*AppPrefs3270SizeWidth:                   56 
Setup5250*AppPrefs3270SizeHeight:                  30

! 5250 scrolled window sizes.
Setup5250*CommandLine5250SizeWidth:             36
Setup5250*CommandLine5250SizeHeight:            22
Setup5250*CommandLine5250AdvSizeWidth:          75 
Setup5250*CommandLine5250AdvSizeHeight:         29 
Setup5250*AppPrefs5250SizeWidth:                65 
Setup5250*AppPrefs5250SizeHeight:               30 

! messages
Setup5250*SetNonKioskPrefsDialog.okLabelString:      Oui
Setup5250*SetNonKioskPrefsDialog.cancelLabelString:  Non
Setup5250*SetKioskPrefsDialog.okLabelString:      Oui
Setup5250*SetKioskPrefsDialog.cancelLabelString:  Non
Setup5250*SetKioskPrefsDialog.messageString: Définir toutes les préférences de l'émulateur par \n les valeurs par défaut pour le mode Emulateur unique ?
Setup5250*SetNonKioskPrefsDialog.messageString: Définir toutes les préférences de l'émulateur par \n les valeurs par défaut pour le mode Applications multiples ?
Setup5250*removeConnectionConfirmation.messageString: Supprimer la connexion sélectionnée ?
Setup5250*Emulator5250Starting: L'émulateur 5250 démarre. Veuillez patienter.
Setup5250*Emulator3270Starting: L'émulateur 3270 démarre. Veuillez patienter.
Setup5250*3270PreferencesChanged: Pour appliquer les modifications de préférences, vous devez\n fermer toutes les sessions de l'émulateur 3270.
Setup5250*Current3270SessionIsNotForConfiguration.messageString: Toutes les sessions standard de l'émulateur 3270 seront fermées\n\
avant le lancement des sessions 3270 pour la modification du profil.
Setup5250*Current3270SessionIsForConfiguration.messageString: Toutes les sessions de l'émulateur 3270 de modification de profil seront\n\
fermées avant le lancement des sessions standard 3270.
Setup5250*5250PreferencesChanged: Pour appliquer les modifications de préférences, vous devez\n fermer toutes les sessions de l'émulateur 5250.
Setup5250*Current5250SessionIsNotForConfiguration.messageString: Toutes les sessions standard de l'émulateur 5250 seront fermées\n\
avant le lancement des sessions 5250 pour la modification du profil.
Setup5250*Current5250SessionIsForConfiguration.messageString: Toutes les sessions de l'émulateur 5250 de modification de profil seront\n\
fermées avant le lancement des sessions standard 5250.
! error messages
Setup5250*ErrorPasswordIncorrect:               Le mot de passe que vous avez entré est incorrect.
Setup5250*ErrorCurrentPasswordIncorrect:        Le mot de passe en cours est incorrect.
Setup5250*ErrorNewPasswordsDontMatch:           Le nouveau mot de passe de confirmation ne correspond pas au nouveau mot de passe.
Setup5250*ErrorCantRemoveDefaultPWOnlyOverrideIt:  Vous ne pouvez pas supprimer le mot de passe par défaut,\n vous pouvez uniquement le remplacer par un mot de passe utilisateur.
Setup5250*ErrorNoConnectionDescription:         Vous devez indiquer une description de connexion.
Setup5250*ErrorConnectionDescriptionExistsAlready:  La description de connexion que vous avez entrée existe déjà.
Setup5250*ErrorUseUserIDInvalidDisplayName:     Le nom d'écran USE_USER_ID n'est pas pris en charge.
Setup5250*ErrorNonNumericDataNotAllowed:        Les données alphabétiques ne sont pas autorisées.

! misc
Setup5250*okLabelString:                        OK
Setup5250*cancelLabelString:                    Annulation
SetupXXXX*title:                                Configuration de l'émulateur
SetupXXXX*iconName:                             Configuration de l'émulateur
Setup3270*title:                                Configuration 3270
Setup3270*iconName:                             Configuration 3270
Setup5250*title:                                Configuration 5250
Setup5250*iconName:                             Configuration 5250
Setup5250*keymapFilename.labelString:           Fichier de définition de touches (facultatif)
Setup5250*keypadFilename.labelString:           Fichier de bloc de touches (facultatif)	
Setup5250*sslFilename.labelString:              Fichier SSL (facultatif)	

! help dialog.
SetupXXXX*helpAboutTextTitle.labelString: A propos de la configuration des émulateurs IBM
SetupXXXX*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
Ce programme de configuration vous permet de configurer et de lancer les émulateurs IBM.
Setup5250*helpAboutTextTitle.labelString: A propos de la configuration de l'émulateur IBM 5250
Setup5250*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
Ce programme de configuration vous permet de configurer et de lancer l'émulateur IBM 5250.
Setup3270*helpAboutTextTitle.labelString: A propos de la configuration de l'émulateur IBM 3270
Setup3270*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
Ce programme de configuration vous permet de configurer et de lancer l'émulateur IBM 3270.

!arabic parameters
Setup5250*arabicParametersLabel.labelString: Paramètres arabes
Setup5250*allocateLamAlefLabel.labelString: Allocation d'espace\n\
 pour caractères LamAlef
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
