Source: tcos-scripts
Section: unknown
Priority: optional
Maintainer: Joern Frenzel <j.frenzel@openthinclient.com>
Uploaders: Steffen Hoenig <s.hoenig@openthinclient.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: tcos-scripts
Architecture: any
Depends: base (>= 2.1-0)
Conflicts: initscripts-tcos
Description: tcos client scripts
 This scripts are takeing care about the clients configuration,
 by pulling all the information from the management backend,
 patching configs etc..

