!
!
!
! This file contains the resource text strings for the IBM 3270 and IBM 5250 Emulator 
! Setup programs

! This resource file is stored in locale specific ASCII (code page 819 for Latin1 languages).

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with one of the following strings:
!      SetupXXXX* : for the combined setup program resources
!      Setup3270* : for the 3270 setup program resources
!      Setup5250* : for the 5250 setup program resources  
!      AllShare* : for resources shared by the 5250, 3270 and combined setup programs.
!    - Each string is followed by a resource name and a ":".  
!		Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN )   ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN )     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS ( zh_TW )   ****************
!**************************************************************************
!**** For  zh_TW
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS ( zh_TW )     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************


! ********************************************************************************
! Setup Program Resources
! ********************************************************************************
!
! In general, the following buttons should not be made much longer during translation.
! Buttons have one to four words. Note: Testing is the only way to know for sure if all
! buttons fit on the screen ok.  The emulators have a testing document that will be used
! during testing; this will point out a problem if button text is too long. In many 
! cases, buttons are presented side by side, where the total button text length cannot
! increase significantly.
! Note: \n causes a new line and should not be translated.
! You can move, add, or remove \n within text strings.
!
! Password prompt panel 
Setup5250*passwordPromptDialogWidth:            60
Setup5250*passwordPromptDialogHeight:           10
Setup5250*passwordPanelTitle.labelString:       パスワード
Setup5250*passwordPanelInstructions.labelString: 要求した操作にはパスワードが\n\
必要です。 パスワードを入力してください。

! Password change panel 
Setup5250*passwordChangeDialogWidth:            60
Setup5250*passwordChangeDialogHeight:           21
Setup5250*passwordChangeDialog2Width:           60
Setup5250*passwordChangeDialog2Height:          17
Setup5250*passwordChangePanelTitle.labelString:       パスワードの変更
Setup5250*passwordChangePanelInstructions.labelString: 現在のパスワードを入力してから、そのパスワードを\n\
変更するための新しいパスワードを入力してください。
Setup5250*passwordChangePanelInstructions2.labelString: 新規パスワードを入力して、パスワードを設定します。
Setup5250*currentPassword.labelString:          現在のパスワード: 
Setup5250*newPassword.labelString:              新規パスワード: 
Setup5250*newPassword2.labelString:             新規パスワードの確認： 

! menu bar
Setup5250*ConnectionCascade.labelString:        接続
SetupXXXX*NewConnectionCascade.labelString:     新規...
SetupXXXX*New3270ConnectionButton.labelString:     3270...
SetupXXXX*New5250ConnectionButton.labelString:     5250...
Setup5250*NewConnectionButton.labelString:      新規(N)...
Setup5250*NewConnectionCascade.mnemonic:        N
Setup5250*EditConnectionButton.labelString:     編集(E)...
Setup5250*EditConnectionButton.mnemonic:        E
Setup5250*BrowseConnectionButton.labelString:   ブラウズ(B)...
Setup5250*BrowseConnectionButton.mnemonic:      B
Setup5250*CopyConnectionButton.labelString:     コピー(C)...
Setup5250*CopyConnectionButton.mnemonic:        C
Setup5250*Copy:                                 コピー
Setup5250*ConnectButton.labelString:            接続
Setup5250*RemoveConnectionButton.labelString:   除去(R)...
Setup5250*RemoveConnectionButton.mnemonic:      R
Setup5250*ExitButton.labelString:               終了(X)
Setup5250*ExitButton.mnemonic:                  X
Setup5250*PreferencesCascade.labelString:       設定の変更(P)
Setup5250*PreferencesCascade.mnemonic:          P
Setup5250*Prefs3270Button.labelString:          3270...
Setup5250*Prefs3270Button.mnemonic:             3
Setup5250*Prefs5250Button.labelString:          5250...
Setup5250*Prefs5250Button.mnemonic:             5
Setup5250*OptionsCascade.labelString:           オプション(O)
Setup5250*OptionsCascade.mnemonic:              O
Setup5250*PasswordButton.labelString:           パスワード...
Setup5250*HelpCascade.labelString:              ヘルプ(H)
Setup5250*HelpCascade.mnemonic:                 H
Setup5250*HelpAboutButton.labelString:          製品情報...
Setup5250*HelpContentsButton.labelString:       目次...
Setup5250*Help3270ContentsButton.labelString:   3270 セットアップの目次...
Setup5250*Help5250ContentsButton.labelString:   5250 セットアップの目次...
Setup5250*Help3270EmulatorContentsButton.labelString: 3270 エミュレーターの目次...
Setup5250*Help5250EmulatorContentsButton.labelString: 5250 エミュレーターの目次...
Setup5250*UserConnectionsListlabel.labelString:     ユーザー接続
Setup5250*DefaultConnectionsListlabel.labelString:  デフォルト接続
Setup5250*ProfileConnectionsListlabel.labelString:  プロファイル接続
	
! Command lines
Setup5250*GeometryTitle.labelString:            ピクセル単位のウィンドウ・サイズと位置 (任意)
Setup5250*GeometryTitle2.labelString:           ウィンドウ・サイズと位置 (任意)
Setup5250*GeometryTitle3.labelString:           画面サイズ (任意)
Setup5250*GeometryFullScreenLabel.labelString:  フル\n\
スクリーン
Setup5250*GeometryFullScreenCheckBox.labelString:
Setup5250*GeometryWidthLabel.labelString:       幅
Setup5250*GeometryHeightLabel.labelString:      高さ
Setup5250*GeometryColsLabel.labelString:        カラム数
Setup5250*GeometryRowsLabel.labelString:        行数   
Setup5250*GeometryHorizontalOffsetLabel.labelString: 左余白\n
Setup5250*GeometryVerticalOffsetLabel.labelString:   上部余白\n
Setup5250*GeometryCornerLabel.labelString:      オフセットの起点コーナー\n
Setup5250*cornerButton1.labelString:            左上
Setup5250*cornerButton2.labelString:            右上
Setup5250*cornerButton3.labelString:            左下
Setup5250*cornerButton4.labelString:            右下

! 3270 and 5250 Command Line Editing 
Setup5250*CommandLine5250EditTitle.labelString: 5250 エミュレーター接続
Setup5250*Advanced5250EditTitle.labelString:    拡張 5250 エミュレーター接続
Setup5250*AS400.labelString:                    i5/OS ホスト名または IP アドレス (任意)\n
Setup5250*CommandLine3270EditTitle.labelString: 3270 エミュレーター接続
Setup5250*Advanced3270EditTitle.labelString:    拡張 3270 エミュレーター接続
Setup5250*s390.labelString:                     S/390 ホスト名または IP アドレス (任意)\n
Setup5250*ConnectionDescription.labelString:    接続の説明

Setup5250*sessionTitle.labelString:             セッション表題 (任意)
Setup5250*userid.labelString:                   エミュレーター・ユーザー ID (任意)
Setup5250*password.labelString:                 エミュレーター・パスワード (任意)
Setup5250*displayName.labelString:              表示名 (任意)
Setup5250*port_string.labelString:              Telnet ポート (ブランク=デフォルト=23)
Setup5250*otherParameters.labelString:          「その他」パラメーター (任意)

Setup5250*OKButton.labelString:                 了解
Setup5250*cancelButton.labelString:             取消
Setup5250*SetToDefaultsButton.labelString:      デフォルトに設定
Setup5250*helpButton.labelString:               ヘルプ

Setup5250*advancedButton.labelString:           詳細...
Setup5250*advanced5250Button.labelString:       拡張 5250 接続...
Setup5250*5250PreferencesButton.labelString:    5250 のグローバルな設定の変更...
Setup5250*advanced3270Button.labelString:       拡張 3270 接続...
Setup5250*3270PreferencesButton.labelString:    3270 のグローバルな設定の変更...
Setup5250*screenSizeLabel.labelString:          画面サイズ:
Setup5250*24x80.labelString:                    24x80 (Mod 2、グラフィックスなし)
Setup5250*32x80.labelString:                    32x80 (Mod 3)
Setup5250*43x80.labelString:                    43x80 (Mod 4、グラフィックスなし)
Setup5250*27x132.labelString:                   27x132 (Mod 5、グラフィックスなし)
Setup5250*graphicsLabel.labelString:            グラフィックス:
Setup5250*customSize.labelString:               カスタム (グラフィックスなし)
Setup5250*tn3270eLabel.labelString:             TN3270E:

! 3270 and 5250 Application Preferences 
Setup5250*panel5250PrefsTitle.labelString: 5250 設定の変更
Setup5250*panel5250ProfilePrefsTitle.labelString: 5250 のプロファイルの設定の変更
Setup5250*5250AppPrefsPanelInstructions.labelString: 5250 設定の変更はすべての接続に適用されます。
Setup5250*panel3270PrefsTitle.labelString: 3270 設定の変更
Setup5250*panel3270ProfilePrefsTitle.labelString: 3270 のプロファイルの設定の変更
Setup5250*3270AppPrefsPanelInstructions.labelString: 3270 設定の変更は、すべて接続に適用されます。

Setup5250*keymapAreaLabel.labelString: キーボード・マッピング:
Setup5250*keymapLabel.labelString: キー再マップ機能: \n

Setup5250*keypadAreaLabel.labelString: キーパッド:
Setup5250*keypadLabel.labelString: キーパッド機能:

Setup5250*recplayAreaLabel.labelString: 記録/再生:
Setup5250*recplayLabel.labelString: 記録/再生機能:\n

Setup5250*colorsAreaLabel.labelString: カラー:
Setup5250*colorsLabel.labelString: カラー・カスタマイズ機能:\n\
\n

Setup5250*appearanceAreaLabel.labelString: 外観:
Setup5250*wideScreenLabel.labelString: 132 カラム:
Setup5250*columnSepLabel.labelString: カラム区切り文字:
Setup5250*enterKeyLabel.labelString: 入力用キー機能:\n

Setup5250*allowUseAreaLabel.labelString: 使用の可能化:
Setup5250*commandMenuLabel.labelString: 「コマンド」メニュー:
Setup5250*editLabel.labelString: 「編集」メニュー:
Setup5250*optionLabel.labelString: 「オプション」メニュー：
Setup5250*printLabel.labelString: 「印刷」メニュー:
Setup5250*helpLabel.labelString: 「ヘルプ」メニュー:
Setup5250*controlLabel.labelString: 「制御」メニュー:
Setup5250*graphicsLabel.labelString: グラフィックス:
Setup5250*miscPrefLabel.labelString: 各種設定\n\
の変更:
Setup5250*fontMenuLabel.labelString: 「フォント」メニュー・リスト:
Setup5250*newSessionLabel.labelString: 「新規セッション」\n\
ウィンドウ:
Setup5250*browserLabel.labelString: ブラウザーのホット・スポット:
Setup5250*desktopLabel.labelString: デスクトップ・ファイル:

Setup5250*authenticationParameters.labelString: 「認証」パラメーター:
Setup5250*additionalParameters.labelString: 「追加」パラメーター:

! preference choice values.
Setup5250*prefdefault.labelString: デフォルト
Setup5250*prefEnabled.labelString: 使用可能
Setup5250*prefDisabled.labelString: 使用不可
Setup5250*prefHidden.labelString: 隠し
Setup5250*prefBasic.labelString: 基本
Setup5250*prefAdvanced.labelString: 拡張
Setup5250*prefPlaybackOnly.labelString: 再生のみ
Setup5250*prefNoResizeOrMove.labelString: いいえ。サイズ変更も移動もなし
Setup5250*prefFixedFontsOnly.labelString: 固定フォントのみ
Setup5250*prefKeypadOnly.labelString: 特定のキーパッドのみ使用
Setup5250*prefKeyboardPrintOnly.labelString: メニューなし。キーボード印刷のみ
Setup5250*prefYes.labelString: はい
Setup5250*prefNo.labelString: いいえ
Setup5250*prefEnterKey.labelString: Enter キー
Setup5250*prefControlKey.labelString: 制御キー
Setup5250*pref24x80.labelString: 24x80 (グラフィックスなし)
Setup5250*pref32x80.labelString: 32x80
Setup5250*pref43x80.labelString: 43x80 (グラフィックスなし)
Setup5250*pref27x132.labelString: 27x132 (グラフィックスなし)
Setup5250*prefNoAllowWMClose.labelString: いいえ。ただしウィンドウはクローズできます
Setup5250*prefYesReadOnly.labelString: はい。ただし読み取り専用

! 3270 scrolled window sizes.
Setup5250*CommandLine3270SizeWidth:                26
Setup5250*CommandLine3270SizeHeight:               22  
Setup5250*CommandLine3270AdvSizeWidth:             68  
Setup5250*CommandLine3270AdvSizeHeight:            33 
Setup5250*AppPrefs3270SizeWidth:                   56 
Setup5250*AppPrefs3270SizeHeight:                  30

! 5250 scrolled window sizes.
Setup5250*CommandLine5250SizeWidth:             36
Setup5250*CommandLine5250SizeHeight:            22
Setup5250*CommandLine5250AdvSizeWidth:          75 
Setup5250*CommandLine5250AdvSizeHeight:         29 
Setup5250*AppPrefs5250SizeWidth:                65 
Setup5250*AppPrefs5250SizeHeight:               30 

! messages
Setup5250*SetNonKioskPrefsDialog.okLabelString:      はい
Setup5250*SetNonKioskPrefsDialog.cancelLabelString:  いいえ
Setup5250*SetKioskPrefsDialog.okLabelString:      はい
Setup5250*SetKioskPrefsDialog.cancelLabelString:  いいえ
Setup5250*SetKioskPrefsDialog.messageString: シングル・エミュレーター・モードのすべてのエミュレーター設定の変更をデフォルトに設定しますか。\n
Setup5250*SetNonKioskPrefsDialog.messageString: 複数アプリケーション・モードのすべてのエミュレーター設定の変更をデフォルトに設定しますか。\n
Setup5250*removeConnectionConfirmation.messageString: 選択した接続を除去しますか。
Setup5250*Emulator5250Starting: 5250 エミュレーターは開始中です。 しばらくお待ちください。
Setup5250*Emulator3270Starting: 3270 エミュレーターは開始中です。 しばらくお待ちください。
Setup5250*3270PreferencesChanged: 変更後の「設定の変更」を有効化するには、現在のすべての 3270 エミュレーター・セッションをクローズしなければなりません。\n
Setup5250*Current3270SessionIsNotForConfiguration.messageString: プロファイルの修正のための 3270 セッションの開始の前に、まず通常の 3270 エミュレーター・セッションがすべてクローズされます。\n
Setup5250*Current3270SessionIsForConfiguration.messageString: 通常の 3270 セッションの開始の前に、プロファイルの修正のためのすべての 3270 エミュレーター・セッションがクローズされます。\n
Setup5250*5250PreferencesChanged: 変更後の「設定の変更」を有効化するには、現在のすべての 5250 エミュレーター・セッションをクローズしなければなりません。\n
Setup5250*Current5250SessionIsNotForConfiguration.messageString: プロファイルの修正のための 5250 セッションの開始の前に、まず通常の 5250 エミュレーター・セッションがすべてクローズされます。\n
Setup5250*Current5250SessionIsForConfiguration.messageString: 通常の 5250 セッションの開始の前に、プロファイルの修正のためのすべての 5250 エミュレーター・セッションがクローズされます。\n
! error messages
Setup5250*ErrorPasswordIncorrect:               入力したパスワードは誤っています。
Setup5250*ErrorCurrentPasswordIncorrect:        現在のパスワードは誤っています。
Setup5250*ErrorNewPasswordsDontMatch:           確認の新規パスワードは、新規パスワードに一致していません。
Setup5250*ErrorCantRemoveDefaultPWOnlyOverrideIt:  デフォルト・パスワードを除去できません。ユーザー・パスワードに置き換えられただけです。\n
Setup5250*ErrorNoConnectionDescription:         接続の説明を指定する必要があります。
Setup5250*ErrorConnectionDescriptionExistsAlready:  入力した接続の説明はすでに存在しています。
Setup5250*ErrorUseUserIDInvalidDisplayName:     表示名 USE_USER_ID はサポートされていません。
Setup5250*ErrorNonNumericDataNotAllowed:        非数値データは使用できません。

! misc
Setup5250*okLabelString:                        了解
Setup5250*cancelLabelString:                    取消
SetupXXXX*title:                                エミュレーター・セットアップ
SetupXXXX*iconName:                             エミュレーター・セットアップ
Setup3270*title:                                3270 のセットアップ
Setup3270*iconName:                             3270 のセットアップ
Setup5250*title:                                5250 のセットアップ
Setup5250*iconName:                             5250 のセットアップ
Setup5250*keymapFilename.labelString:           キーマップ・ファイル名 (任意)
Setup5250*keypadFilename.labelString:           キーパッド・ファイル名 (任意)	
Setup5250*sslFilename.labelString:              SSL ファイル名 (任意)	

! help dialog.
SetupXXXX*helpAboutTextTitle.labelString: IBM エミュレーター・セットアップの製品情報
SetupXXXX*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
このセットアップ・プログラムは、IBM エミュレーターの構成と開始に使用します。
Setup5250*helpAboutTextTitle.labelString: IBM 5250 エミュレーター・セットアップの製品情報
Setup5250*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
このセットアップ・プログラムは、IBM 5250 エミュレーターの構成と開始に使用します。
Setup3270*helpAboutTextTitle.labelString: IBM 3270 エミュレーター・セットアップの製品情報
Setup3270*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n\
このセットアップ・プログラムは、IBM 3270 エミュレーターの構成と開始に使用します。

!arabic parameters
Setup5250*arabicParametersLabel.labelString: アラビア語パラメーター
Setup5250*allocateLamAlefLabel.labelString: LamAlef に対するスペース\n\
の割り振り
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
