!
!
!
! This file contains the resource text strings for the IBM Linux 3270 and 5250
! emulators, in particular the main emulator windows.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to both emulators. Some is specific to one emulator.
!    IBM9999 = Resources used by both 3270 and 5250 emulators.
!    IBM3270 = Resources used by the 3270 emulator.
!    IBM5250 = Resources used by the 5250 emulator.
! 4. Resource format: 
!    - A resource line starts with IBM3270*, IBM5250*, or IBM9999*, followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
IBM9999*font_List:     -*-*-medium-r-normal-*-*-*-*-*-m-150-*-*;-*-*-medium-r-normal-*-*-*-*-*-m-110-*-*;-*-*-medium-r-normal-*-*-*-*-*-m-90-*-*;-*-*-medium-r-normal-*-*-*-*-*-m-70-*-*;-*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
IBM9999*largestFontList:     -*-*-medium-r-normal-*-*-*-*-*-m-150-*-*
IBM9999*extraLargeFontList:  -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
IBM9999*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
IBM9999*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
IBM9999*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!IBM9999*font_List:     -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*;-*-*-medium-r-normal-*-*-*-*-*-c-90-*-*;-*-*-medium-r-normal-*-*-*-*-*-c-70-*-*;-*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!IBM9999*largestFontList:     -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!IBM9999*extraLargeFontList:  -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!IBM9999*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!IBM9999*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!IBM9999*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!IBM9999*font_List:            -*-*-medium-r-normal--24-*-*-*-c-*;-*-*-medium-r-normal--16-*-*-*-c-*
!IBM9999*largestFontList:     -*-*-medium-r-normal--24-*-*-*-c-*
!IBM9999*extraLargeFontList:  -*-*-medium-r-normal--24-*-*-*-c-*
!IBM9999*largeFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!IBM9999*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!IBM9999*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!IBM9999*font_List:            -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*;-*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!IBM9999*largestFontList:     -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!IBM9999*extraLargeFontList:  -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!IBM9999*largeFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!IBM9999*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!IBM9999*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!uncomment the appropriate inputMethod
!For LatinX (non DBCS locales) or locales without an input method.
IBM5250*inputMethod:
!
! For ja_JP
!IBM5250*inputMethod: kinput2
!
! For ko_KR 
!IBM5250*inputMethod: Ami
!
!For zh_CN
!IBM5250*inputMethod: xcin-zh_CN
!
!For zh_TW
!IBM5250*inputMethod: xcin-zh_TW

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************



IBM5250*MainWindow.title: 5250
IBM3270*MainWindow.title: 3270

IBM5250*errorMsgDialog_popup.title: 5250 錯誤
IBM3270*errorMsgDialog_popup.title: 3270 錯誤

IBM5250*warningMsgDialog_popup.title: 5250 資訊
IBM3270*warningMsgDialog_popup.title: 3270 資訊

IBM5250*hostNameDialog_popup.title: 新的 5250 階段作業
IBM3270*hostNameDialog_popup.title: 新的 3270 階段作業

IBM5250*hostNameDialog.selectionLabelString: 輸入新的 5250 主機名稱。
IBM3270*hostNameDialog.selectionLabelString: 輸入新的 3270 主機名稱。

IBM5250*hostNameDialog.iconName: 新的 5250 階段作業
IBM3270*hostNameDialog.iconName: 新的 3270 階段作業

IBM5250*lowMemoryDialog_popup.title: 5250 記憶體不足
IBM3270*lowMemoryDialog_popup.title: 3270 記憶體不足

IBM5250*new5250Button.labelString: 新增 5250...

IBM5250*quitButton.labelString: 結束 5250
IBM3270*quitButton.labelString: 結束 3270

IBM5250*localPrintControls_popup.title: 5250 畫面列印
IBM3270*localPrintControls_popup.title: 3270 畫面列印


!**************************************************************************************
!** Resources in both 5250 and 3270 that do not need separate translations
!**************************************************************************************

!***********************
!**  Various Dialogs  **
!***********************
IBM9999*lowMemoryDialog.messageString: 記憶體不足無法完成作業。

IBM9999*ErrorMsgMaxSessions: 不容許此階段作業。已超出階段作業數目上限。

! -DISPLAY_NAME is not translated.
IBM9999*ErrorMsgInvalidName: 無效的 -DISPLAY_NAME 參數規格。

! \n in the following resource string allows text following \n to appear on a new line.
! \n is not translated. You can move, add, or remove the \n as needed.
IBM9999*ErrorMsgNameInUse: 指定給 -DISPLAY_NAME 參數的名稱已在使用中。\n\
系統管理員限制您的階段作業數目。

! BROWSER is not translated.
IBM9999*ErrorMsgBrowserStart: 未定義 BROWSER 環境變數，無法啟動瀏覽器。

IBM9999*ErrorMsgTelnetUndefined: 沒有在服務檔中定義 Telnet...

IBM9999*ErrorMsgUnknownHost: 主機不明。

IBM9999*ErrorMsgUnableToConnect: 無法起始連線。

IBM9999*ErrorMsgTelnetNegoFailed: Telnet 協議失敗。

IBM9999*ErrorMsgRetryButton: 重試

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoHostData: 失去與主機的連線。\n\
正在嘗試重新啟動模擬器階段作業。

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoHostData2: 失去與主機的連線。\n\
重新啟動模擬器階段作業嗎？

IBM9999*ErrorMsgFatalTelnetError: 發生嚴重的 Telnet 錯誤。

IBM9999*ErrorMsgColorMapActive: 已在另一個階段作業上啟動顏色對映應用程式。

IBM9999*ErrorMsgColorMapLowMemory: 記憶體不足無法啟動「顏色對映」。

IBM9999*ErrorMsgKeyMapActive: 已在另一個階段作業上啟動按鍵對映應用程式。

! this cannot be made much longer during translation.
IBM9999*ErrorMsgKeypadActive:  已在另一個階段作業上啟動「鍵台自訂程式」應用程式。

IBM9999*ErrorMsgKeyMapLowMemory: 記憶體不足無法啟動「鍵盤重新對映」。

IBM9999*ErrorMsgKeypadLowMemory:   記憶體不足無法啟動「鍵台自訂程式」。

IBM9999*ErrorMsgHelpViewLowMemory: 記憶體不足無法啟動「說明察看器」。

IBM9999*ErrorMsgMiscellaneousLowMemory: 記憶體不足無法啟動「雜項喜好設定」。

! this cannot be made any longer during translation.
IBM9999*ErrorMsgNSMServerDownLevel:   無法記錄。IBM Network Station Manager 伺服器是舊版的。

IBM9999*ErrorMsgNoPrinters:           沒有配置印表機。請聯絡系統管理員。

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoKeypadSelected: 沒有選取檔案。\n\
選取檔案或選擇「取消」。

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*ErrorMsgNoKeypads: 找不到鍵台檔。從「選項」功能表中選取「自訂鍵台...」\n\
選項來建立使用者鍵台。

IBM9999*ErrorMsgTooManyKeypads: 在任何時候，您只能讓 10 個鍵台處於作用中。
	
IBM9999*ErrorMsgFileNameChars: 您在檔名中鍵入的字元無效。

! \n in the following resource string allows text following \n to appear on a new line.
IBM9999*WarningMsgColorNotAvailable: 無法使用某些模擬器顏色。\n\
已針對階段作業調整這些顏色。

IBM9999*WarningMsgColorFileCorrupt: 顏色檔有錯誤，請使用預設顏色。

IBM9999*hostNameDialog*startupPlaybackChoice.labelString: 使用啟動播放檔

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog_popup.title: ECL Java applet

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog.selectionLabelString: 輸入類別名稱。

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog.iconName: ECL Java applet

! java ECL that is not supported yet but please translate
IBM9999*runAppletDialog: 輸入類別名稱。

! java ECL that is not supported yet but please translate
IBM9999*ErrorMsgUnableToRunApplet: 無法載入類別


!*******************************
!**  Menu items in emulators  **
!*******************************
IBM9999*cmdCascade.labelString: 指令

IBM9999*editCascade.labelString: 編輯

IBM9999*pasteButton.labelString: 貼上

IBM9999*copyButton.labelString: 複製

IBM9999*cutButton.labelString: 剪下

IBM9999*optCascade.labelString: 選項

IBM9999*fontMenuCascade.labelString: 字型

IBM9999*pfkeysButton.labelString: 鍵台...

IBM9999*keypadCascade.labelString: 鍵台

IBM9999*customizeButton.labelString: 自訂鍵台...

IBM9999*recordButton.labelString: 記錄...

IBM9999*playbackButton.labelString: 播放...

IBM9999*miscButton.labelString: 雜項喜好設定...

IBM9999*colormapButton.labelString: 顏色對映...

IBM9999*keymapButton.labelString: 鍵盤重新對映...

! java ECL that is not supported yet but please translate
IBM9999*runAppletButton.labelString: 執行 Applet...

IBM9999*ctlCascade.labelString: 控制

IBM9999*resetButton.labelString: 重設鍵

IBM9999*sysreqButton.labelString: 系統要求鍵

IBM9999*attentionButton.labelString: 注意鍵

IBM9999*helpkeyButton.labelString: 說明鍵

IBM9999*enterkeyButton.labelString: Enter 鍵

IBM9999*prtCascade.labelString: 列印

IBM9999*systemButton.labelString: 系統

IBM9999*localButton.labelString: 畫面列印...

IBM9999*helpCascade.labelString: 說明

! message on IBM5250 on status line, cannot be made any longer, you can remove some periods.
IBM9999*msgWaitingMsg.labelString: 等待訊息.....

IBM9999*cursorRowCol.labelString:  01/001

IBM9999*okLabelString: 確定

IBM9999*cancelLabelString: 取消

!****************************
!** Local Print Resources
!****************************

IBM9999*localPrintPrinterSelectButton.labelString: 選取印表機：

IBM9999*localPrintPrinterSelectControls_popup.title: 印表機選擇器

IBM9999*localPrintPrinterSelectServerDelineator: @

IBM9999*localPrintPrinterSelectLocalDesignator: (本端)

IBM9999*localPrintPDTLabel.labelString: 印表機定義表：

IBM9999*localPrintOtherOptions.labelString: 其他列印選項：

IBM9999*localPrintFormFeedLabel.labelString: 換頁：

IBM9999*localPrintFormFeedYesButton.labelString: 是

IBM9999*localPrintFormFeedNoButton.labelString: 否

IBM9999*localPrintOrientationLabel.labelString: 列印方向：

IBM9999*localPrintOrientationPortraitButton.labelString: 直向列印

IBM9999*localPrintOrientationLandscapeButton.labelString: 橫向列印

IBM9999*localPrintControls*startBtn.labelString: 列印

IBM9999*localPrintControls*cancelBtn.labelString: 取消

IBM9999*localPrintControls*selectOptions.labelString: 選取列印選項

IBM9999*localPrintControls*printing.labelString: 列印中...

IBM9999*PrintCommand.labelString: 列印指令


!********************************************************
!**                  Record Resources
!**
!** MAX:  Push buttons should not exceed 8 characters
!********************************************************
IBM9999*recordControl_popup.title: 記錄控制項

IBM9999*recordControl*startBtn.labelString: 啟動 

IBM9999*recordControl*cancelBtn.labelString: 取消

IBM9999*recordControl*pauseBtn.labelString: 暫停

IBM9999*recordControl*stopBtn.labelString: 停止

IBM9999*recordControl*recordControlLabelRecording.labelString: 記錄中。

IBM9999*recordControl*recordControlLabelPaused.labelString: 已暫停。

IBM9999*recordControl*recordControlKeysRemaingLabel.labelString: 剩餘空間：

IBM9999*recordPauseControls_popup.title: 記錄暫停選項

! this cannot be made much longer during translation. 
IBM9999*recordPauseControls*recordPauseChoicesInstructions.labelString: 已暫停記錄。選取要在播放期間\n\
執行的選項：

IBM9999*recordPauseControls*recordPauseRecordBtn.labelString: 在此時暫停播放

IBM9999*recordPauseControls*recordPauseUseridBtn.labelString: 在此時插入「使用者 ID」

IBM9999*recordPauseControls*recordPausePasswordBtn.labelString: 在此時插入「密碼」

IBM9999*recordPauseControls*recordPauseNoneBtn.labelString: 無

IBM9999*recordPauseControls*continueBtn.labelString:   繼續記錄

IBM9999*recordPauseControls*pauseStopBtn.labelString: 停止記錄

IBM9999*recordFileControl_popup.title: 播放檔儲存控制項

IBM9999*recordFileControl*recordFileListLabel.labelString: 選取要取代的播放檔。

IBM9999*recordFileControl*acceleratorBtn.labelString: 指定選用的加速鍵

IBM9999*recordFileControl*accButton0.labelString: 無

! Function keys for accelerators.
IBM9999*recordFileControl*accButton1.labelString:  F1

IBM9999*recordFileControl*accButton2.labelString:  F2

IBM9999*recordFileControl*accButton3.labelString:  F3

IBM9999*recordFileControl*accButton4.labelString:  F4

IBM9999*recordFileControl*accButton5.labelString:  F5

IBM9999*recordFileControl*accButton6.labelString:  F6

IBM9999*recordFileControl*accButton7.labelString:  F7

IBM9999*recordFileControl*accButton8.labelString:  F8

IBM9999*recordFileControl*accButton9.labelString:  F9

IBM9999*recordFileControl*accButton10.labelString:  F10

IBM9999*recordFileControl*accButton11.labelString:  F11

IBM9999*recordFileControl*accButton12.labelString:  F12

IBM9999*recordFileControl*accButton13.labelString:  F13

IBM9999*recordFileControl*accButton14.labelString:  F14

IBM9999*recordFileControl*accButton15.labelString:  F15

IBM9999*recordFileControl*accButton16.labelString:  F16

IBM9999*recordFileControl*accButton17.labelString:  F17

IBM9999*recordFileControl*accButton18.labelString:  F18

IBM9999*recordFileControl*accButton19.labelString:  F19

IBM9999*recordFileControl*accButton20.labelString:  F20

IBM9999*recordFileControl*accButton21.labelString:  F21

IBM9999*recordFileControl*accButton22.labelString:  F22

IBM9999*recordFileControl*accButton23.labelString:  F23

IBM9999*recordFileControl*accButton24.labelString:  F24

IBM9999*recordFileControl*recordFileTextLabel.labelString: 輸入新的播放檔名稱。

IBM9999*recordFileControl*saveBtn.labelString: 儲存

IBM9999*recordFileControl*doNotSaveBtn.labelString: 不儲存

IBM9999*recordFileControl*recordFileReplaceWarningDialog_popup.title: 播放檔取代警告

IBM9999*recordFileControl*recordFileReplaceWarningDialog.messageString: 檔案已存在。確定要覆寫它嗎？

IBM9999*recordFileControl*recordFileMsgDialog_popup.title: 播放檔儲存錯誤訊息

IBM9999*RecordFileMsgNoOpen: 無法開啟檔案。尚未儲存按鍵值。

IBM9999*RecordFileMsgNoAccess: 無法存取目錄。

IBM9999*RecordFileMsgNoMake: 無法建立目錄。


!****************************
!** Playback Resources
!****************************
IBM9999*playbackControl_popup.title: 播放控制項

IBM9999*playbackControl*playbackControlLabelSelectFile.labelString: 選取要播放的播放檔。

IBM9999*playbackControl*playbackFileListLabel.labelString: 使用者播放檔

IBM9999*playbackControl*playbackDefaultFileListLabel.labelString: 預設播放檔

IBM9999*scaleBtn.titleString: 播放速度

IBM9999*playbackControl*startBtn.labelString: 啟動 

IBM9999*playbackControl*cancelBtn.labelString: 取消

IBM9999*playbackControl*deleteBtn.labelString: 刪除 

IBM9999*playbackControl*editBtn.labelString: 編輯

IBM9999*playbackControl*pauseBtn.labelString: 暫停

IBM9999*playbackControl*continueBtn.labelString: 繼續

IBM9999*playbackControl*stopBtn.labelString: 停止

IBM9999*playbackControl*playbackControlLabelStopped.labelString: 已停止。

IBM9999*playbackControl*playbackControlLabelPlaying.labelString: 播放中。

IBM9999*playbackControl*playbackControlLabelPaused.labelString:  已暫停。

IBM9999*playbackControl*playbackControlLabelDone.labelString: 已完成。

IBM9999*playbackControl*playbackKeysRemainingLabel.labelString:  剩餘資料：

IBM9999*playbackControl*playbackDeleteWarningDialog_popup.title: 播放刪除警告

IBM9999*playbackControl*playbackDeleteWarningDialog.messageString: 確定要刪除所選取的檔案嗎？

IBM9999*playbackControl*playbackMsgDialog_popup.title: 播放錯誤訊息

IBM9999*playbackControl*playbackPauseDialog_popup.title: 播放暫停

IBM9999*playbackControl*playbackPauseDialog.okLabelString:        繼續

IBM9999*playbackControl*playbackPauseDialog.cancelLabelString:    停止

IBM9999*playbackPauseDialogMsg1: 已暫停播放。輸入資料並繼續。

IBM9999*playbackPauseDialogMsg2: 已暫停播放。輸入密碼並繼續。

IBM9999*playbackPauseDialogMsg3: 使用者已暫停播放。

IBM9999*PlaybackMsgNoStartup: 啟動播放檔不在播放清單中。

IBM9999*PlaybackMsgFileNotInList:  播放檔不在播放清單中。

IBM9999*PlaybackMsgFileCorrupt: 播放檔不是由「記錄」建立的。

IBM9999*PlaybackMsgFileNoRead: 無法讀取主要播放檔。無法開始播放。

IBM9999*PlaybackMsgFileNoOpen: 無法開啟播放檔。無法開始播放。

IBM9999*PlaybackMsgIncompatible:  播放檔與現行畫面不相容。

IBM9999*PlaybackMsgPasswordLocation:  無法在游標位置處播放密碼。


!*****************************
! Keypad Resources
!*****************************
IBM9999*keypadfilechangebox_popup.title:   蹦現鍵台

IBM9999*keypadfilechangeboxlabel.labelString:   選取鍵台檔：

IBM9999*userKeypads.labelString:  使用者鍵台

IBM9999*defaultKeypads.labelString:  預設鍵台

IBM9999*cancelkeypad.labelString:   取消

IBM9999*keypadOKbox.labelString:   確定

!*****************************************************************************
! This menubar resource is used for double byte languages, but DOES need to be
! translated into all MRI languages (because users can have a different MRI
! language than their emulator session language).
!*****************************************************************************
IBM9999*altviewButton.labelString:  替代檢視

!***********************************************************
! The resources below are used to prompt the user to choose between two types 
! of Japanese.  These resources should be translated into all languages.
!***********************************************************
IBM9999*hostNameDialog.helpLabelString:  進階...
IBM9999*katawidget.title:   日文主機字碼頁選擇
IBM9999*labelw.labelString:  選取主機字碼頁
IBM9999*button_two.labelString:  片假名擴充 (5026)
IBM9999*button_one.labelString:  拉丁語擴充 (5035)
IBM9999*okw.labelString:  確定
IBM9999*cancelw.labelString:  取消


!***********************************
!* Shared Emulator Print Resources *
!***********************************

IBM9999*localPrintPrintSelectionLabel.labelString:       列印選項：

IBM9999*localPrintPrintSelectionTextButton.labelString:  文字

IBM9999*localPrintPrintSelectionImageButton.labelString: 影像

IBM9999*localPrintImageColorSupportLabel.labelString: 顏色列印：

IBM9999*localPrintImageColorSupportFalseButton.labelString: 否

IBM9999*localPrintImageColorSupportTrueButton.labelString: 是

IBM9999*localPrintPageSizeMenuLabel.labelString:  頁面大小：

! The following are printer page sizes.
IBM9999*localPrintPageSizeMenu*pageSize1.labelString:  Letter (8.5 x 11 英吋)

IBM9999*localPrintPageSizeMenu*pageSize2.labelString:  Legal (8.5 x 14 英吋)

IBM9999*localPrintPageSizeMenu*pageSize3.labelString:  A4 (210 x 297 公釐)

IBM9999*localPrintPageSizeMenu*pageSize4.labelString:  A5 (148 x 210 公釐)

IBM9999*localPrintPageSizeMenu*pageSize5.labelString:  B5 ISO (176 x 250 公釐)

IBM9999*localPrintPageSizeMenu*pageSize6.labelString:  B5 JIS (182 X 257 公釐)

IBM9999*localPrintPageSizeMenu*pageSize7.labelString:  Executive (7.25 x 10.5 英吋)

IBM9999*localPrintPageSizeMenu*pageSize8.labelString:  Statement (8.5 x 5.5 英吋)

IBM9999*localPrintDPIMenuLabel.labelString:  解析度 (dpi)：

IBM9999*localPrintDPIMenu*DPI1.labelString:  75

IBM9999*localPrintDPIMenu*DPI2.labelString:  100

IBM9999*localPrintDPIMenu*DPI3.labelString:  150

IBM9999*localPrintDPIMenu*DPI4.labelString:  200

IBM9999*localPrintDPIMenu*DPI5.labelString:  300

IBM9999*localPrintDPIMenu*DPI6.labelString:  600

IBM9999*ErrorMsgBrowserLowMemory:  記憶體不足無法完成作業。

IBM9999*userKeypads.labelString: 使用者鍵台

IBM9999*defaultKeypads.labelString: 預設鍵台

IBM9999*playbackControl*playbackDeleteWarningDialog.cancelLabelString: 取消

IBM9999*playbackControl*playbackDeleteWarningDialog.okLabelString: 確定

!***********************************
!**  Resources only used by 3270  **
!***********************************
! 'Command' menu
IBM3270*sessMenuCascade.labelString: 新的 3270 階段作業

IBM3270*new_sessionButton.labelString: 新的 3270 階段作業

IBM3270*new_mod2Button.labelString: 新的 24x80 階段作業

IBM3270*new_mod3Button.labelString: 新的 32x80 階段作業

IBM3270*new_mod4Button.labelString: 新的 43x80 階段作業

IBM3270*new_mod5Button.labelString: 新的 27x132 階段作業

IBM3270*graphicsMsg.labelString: 圖形

IBM3270*font0Button.labelString: 預設值

IBM3270*printTelnetFailure: 列印\n\
Telnet 協議失敗。

!**************************************************
!*
!*        Printing translations 
!*
!*      Added by AJMEYER for V310.nc
!*
!**************************************************

IBM9999*printDialogPrinterTypeLabel.labelString:  印表機類型：

IBM9999*printDialogPrinterTypeMenu*postscript.labelString:  PostScript

IBM9999*printDialogPrinterTypeMenu*ascii.labelString:  ASCII

IBM9999*printDialogPrinterTypeMenu*pcl.labelString:  PCL

IBM9999*printDialogPrinterSelectControls_popup.title:   印表機選擇器

IBM9999*printSelectDialogOKButton.labelString:  確定

IBM9999*printSelectDialogCancelButton.labelString:  取消

IBM9999*printDialogSelectPrinter.labelString: 選取印表機：

IBM9999*printDialogPrintCommandLabel.labelString: 列印指令：

IBM5250*hostNameDialog*useridLabel.labelString: 使用者 ID：

IBM5250*hostNameDialog*passwordLabel.labelString: 密碼：

!**************************************************
!*
!*                ICU path  
!*
!*     
!**************************************************


IBM5250*ICUTablePath:  /usr/local/share/icu/3.4
! ENGL1SH_VERS10N 1.8.2.1 DO NOT REMOVE OR CHANGE THIS LINE
