!
!
!
! This file contains the resource text strings for the IBM Network Station 3270 and 5250
! emulators, in particular the color mapping program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with ColorMap* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
ColorMap*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
ColorMap*largeFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
ColorMap*mediumFontList:     -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
ColorMap*smallFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!ColorMap*largeFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!ColorMap*smallFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!ColorMap*largeFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal--16-*-*-*-c-*
!ColorMap*smallFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!ColorMap*largeFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!ColorMap*smallFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************

ColorMap*title: 			Color Mapping

! icons
ColorMap*iname3270:                     3270 Color Map
ColorMap*iname5250:                     5250 Color Map


ColorMap*corrupt:               The color file has been corrupted

ColorMap*lowMemMsgDialog.messageString:  Not enough memory to start Help Viewer.

ColorMap*okLabelString: OK

ColorMap*cancelLabelString: Cancel

!*******************************************************************************
!**     Preferences area resources (top of window)                            **
!*******************************************************************************
ColorMap*modeInstructions.labelString:  Select the color mapping function:

ColorMap*Basic.labelString:             Basic

ColorMap*Advanced.labelString:          Advanced


!*************************************************************
!**   Basic and advanced action bar area resources          **
!*************************************************************
ColorMap*actionForm.saveButton.labelString:  	Save

ColorMap*actionForm.deleteButton.labelString:   Delete

ColorMap*actionForm.applyButton.labelString:    Apply Changes To Session

ColorMap*actionForm.quitButton.labelString:     Exit

ColorMap*actionForm.helpButton.labelString:     Help


!************************************************
!**  Basic and advanced color savebox          **
!************************************************
ColorMap*saveBoxLabel.labelString:         Choose a save option:

ColorMap*saveBoxToggle1.labelString:       Save as a default for all your sessions

ColorMap*saveBoxToggle2.labelString:       Save for this session only

ColorMap*saveBoxSaveBtn.labelString:  	   Save

ColorMap*saveBoxCancelBtn.labelString:     Cancel

ColorMap*advancedSaveBoxLabel.labelString: Enter an advanced color file name:

! Characters in file names must be 819 (ISO8859-1)
ColorMap*invalidFileName.value:            The character that you typed is not valid in a file name.

ColorMap*invalidFileNameOkbutton.labelString:  OK

!****************************************
!**  Overwrite existing file dialog    **
!****************************************
ColorMap*fileWarningDialog.dialogTitle:        Color Mapping Warning

ColorMap*fileWarningDialog.messageString:      File already exists. OK to overwrite it?

ColorMap*fileWarningDialog.okLabelString:      Yes

ColorMap*fileWarningDialog.cancelLabelString:  No



!***************************************
!**  Basic color work area            **
!***************************************
ColorMap*basicListLabel.labelString:        Choose a color scheme:

! The following two resource lines are a late addition to the color mapping resource file (March 12, 1998).  These indicate color map files that came from a system level or user created color map files.
ColorMap*systemLabel:                       System:

ColorMap*userLabel:                         User:

ColorMap*ibmBlack:                          IBM: Black background

ColorMap*ibmDarkGrey:                       IBM: Dark grey background

ColorMap*ibmLightGrey:                      IBM: Light grey background

ColorMap*ibmLight:                          IBM: Light background

ColorMap*ibmLightBlue:                      IBM: Light blue background



!******************************************
!**  Advanced color work area            **
!******************************************
ColorMap*advancedListLabel.labelString:     Choose a construct to change:

! The following 22 *adv type resources are limited in size; they should not exceed 28 characters.
ColorMap*advMenuBarBack:                    Menu bar background

ColorMap*advMenuBarFore:                    Menu bar foreground

ColorMap*advMainSess:                       Main session background

ColorMap*advPushbut:                        Push button background

ColorMap*advBlue:                           Blue text

ColorMap*advGreen:                          Green text

ColorMap*advPink:                           Pink text

ColorMap*advRed:                            Red text

ColorMap*advTurq:                           Turquoise text

ColorMap*advWhite:                          White text

ColorMap*advYellow:                         Yellow text

ColorMap*advCursor:                         Cursor

ColorMap*advMouse:                          Mouse pointer

ColorMap*advRule:                           Rule line

ColorMap*advStatLineBack:                   Status line background

ColorMap*advStatLineFore:                   Status line foreground

ColorMap*advMonoImageBack:                  Monochrome image background

ColorMap*advMonoImageFore:                  Monochrome image foreground

! Note: foreground color used for assist program windows
ColorMap*advAssistFore:                     Assist program foreground

! Note: button background for assist program windows
ColorMap*advAssistForm:                     Assist program button

! Note: main background color for assist program windows
ColorMap*advAssistPrimary:                  Assist program primary

! Note: entry area background color for assist program windows
ColorMap*advAssistEntry:                    Assist program entry


ColorMap*red.titleString:                   RED 

ColorMap*green.titleString:                 GREEN

ColorMap*blue.titleString:                  BLUE 

ColorMap*currentColorLabel.labelString:     Current Color

ColorMap*applyCurrentColor.labelString:     Apply Current Color


!************************************
!**  Delete file dialog            **
!************************************
ColorMap*deleteDialog.deleteBoxDeleteBtn.labelString:  Delete

ColorMap*deleteDialog.deleteBoxCancelBtn.labelString:  Cancel

! title of delete dialog
ColorMap*deleteDialog.dialogTitle:                     Delete Colormap File

ColorMap*deleteDialog.deleteBoxLabel.labelString:      Select file(s) to delete:

ColorMap*deleteDialog.deleteBoxLabelAlt.labelString:   No files to delete.

! message at bottom of primary window
ColorMap*selectedDeleted:                              Selected colormap file(s) deleted.


!*****************************************************
!**  Delete file verification dialog box            **
!*****************************************************
ColorMap*deleteVerifyDialog.dialogTitle:        Delete Verify

ColorMap*deleteVerifyDialog.okLabelString:      OK

ColorMap*deleteVerifyDialog.cancelLabelString:  Cancel

! this cannot be much longer
ColorMap*noUndoDelete:                          Deleting files cannot be undone. Do you want to continue?

ColorMap*noFilesDelete:                         No files selected. Delete not valid.


!****************************************************
!**  Emulator preference in construct list         **
!**						   **
!**  MAX:  text should be less than 15 characters  **
!****************************************************
ColorMap*emuPrefMenuLabel.labelString:       Menu Bar

ColorMap*emuPrefBlueText.labelString:        Blue text

ColorMap*emuPrefGreenText.labelString:       Green text

ColorMap*emuPrefPinkText.labelString:        Pink text

ColorMap*emuPrefRedText.labelString:         Red text

ColorMap*emuPrefTurquoiseText.labelString:   Turquoise text

ColorMap*emuPrefWhiteText.labelString:       White text

ColorMap*emuPrefYellowText.labelString:      Yellow text

ColorMap*emuPrefPbBackground.labelString:    Push Button

ColorMap*emuPrefStatusLine.labelString:      Status Line

ColorMap*groupBoxLabel.labelString:          Assist Program

ColorMap*entryAreaLabel.labelString:         Entry Area

ColorMap*helperFormLabel.labelString:        Button


!**************************
!**  Error dialog boxes  **
!**************************
ColorMap*noColorCellsMsgText.value: Could not allocate the color resources needed to start the color mapping program. Close an application that uses lots of colors and try again.

ColorMap*setColorMsgText.value:      Not all colors applied to emulator session. However, correct colors will be saved if Save is selected.

ColorMap*setColorFailureCancelBtn.labelString:        Cancel

ColorMap*invalidColor:   The following foreground and background colors are too close together: 


!**********************************
!**  General Error dialog boxes  **
!**********************************
ColorMap*noAdvanced.value:            Unable to allocate color resources to provide full function color mapping.

ColorMap*noAdvancedOkbutton.labelString:  OK


!*******************************************************************************
!**  quitDialog resources                                                     **
!*******************************************************************************
ColorMap*quitDialog.dialogTitle:           Exit Warning

ColorMap*quitDialog1:                      Colors in the emulator have been modified but not applied or saved.

ColorMap*quitDialog2:                      Colors in the emulator have been modified and applied but not saved.

ColorMap*quitDialog3:                      Colors in the emulator have been modified and saved but not applied.

ColorMap*quitDialog*exitBox.labelString:   Exit

ColorMap*quitDialog*cancelBox.labelString: Cancel

ColorMap*quit1Tog1:                        Exit without applying or saving changes.

ColorMap*quit2Tog1:                        Exit without saving changes.

ColorMap*quitDialog*quitTog2.labelString:  Apply and Save changes before exiting.

ColorMap*quit3Tog1:                        Exit without applying changes.

ColorMap*quitTog3.labelString:             Apply changes to this session before exiting.

ColorMap*quitDialog*quitTog4.labelString:  Save changes before exiting.


!*******************************************************************************
!**  Informational Messages                                                   **
!*******************************************************************************
ColorMap*InfoMsgColorsSaved:    Colors saved to file: 

ColorMap*tempApp:               Colors temporarily applied to the emulator session.

ColorMap*notLoaded:             Color file could not be loaded. Check if file still exists.

ColorMap*errorLoad:             The format of the color file was incorrect.


! this resource should contain one black space character; do not translate.
ColorMap*blank:  

ColorMap*chooseApply:           Choose Apply to have colors take effect in session.

ColorMap*noAccessDir:           Unable to access directory.

! this cannot be made any longer during translation
ColorMap*noOpenFile:            Unable to open Color Map File: 

ColorMap*noMakeDir:             Unable to make directory.

ColorMap*noDeterminePath:       Unable to determine file path.
