! ENGLISH_SOURCE_VERSION= 1.4.1.2 
!
!
!
! This file contains the resource text strings for the IBM Network Station 3270 and 5250
! emulators, in particular the color mapping program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with ColorMap* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
ColorMap*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
ColorMap*largeFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
ColorMap*mediumFontList:     -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
ColorMap*smallFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!ColorMap*largeFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!ColorMap*smallFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!ColorMap*largeFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal--16-*-*-*-c-*
!ColorMap*smallFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!ColorMap*largeFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!ColorMap*smallFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************

ColorMap*title: 			Mapování barev

! icons
ColorMap*iname3270:                     Mapa barev 3270
ColorMap*iname5250:                     Mapa barev 5250


ColorMap*corrupt:               Soubor barev je po¹kozen

ColorMap*lowMemMsgDialog.messageString:  Nedostatek pamìti pro spu¹tìní prohlí¾eèe nápovìdy.

ColorMap*okLabelString: OK

ColorMap*cancelLabelString: Zru¹it

!*******************************************************************************
!**     Preferences area resources (top of window)                            **
!*******************************************************************************
ColorMap*modeInstructions.labelString:  Vyberte funkci mapování barev:

ColorMap*Basic.labelString:             Základní

ColorMap*Advanced.labelString:          Roz¹íøené


!*************************************************************
!**   Basic and advanced action bar area resources          **
!*************************************************************
ColorMap*actionForm.saveButton.labelString:  	Ulo¾it

ColorMap*actionForm.deleteButton.labelString:   Odstranit

ColorMap*actionForm.applyButton.labelString:    Pou¾ít zmìny na relaci

ColorMap*actionForm.quitButton.labelString:     Ukonèit

ColorMap*actionForm.helpButton.labelString:     Nápovìda


!************************************************
!**  Basic and advanced color savebox          **
!************************************************
ColorMap*saveBoxLabel.labelString:         Vyberte volbu ulo¾ení:

ColorMap*saveBoxToggle1.labelString:       Ulo¾it jako výchozí pro v¹echny relace

ColorMap*saveBoxToggle2.labelString:       Ulo¾it pouze pro tuto relaci

ColorMap*saveBoxSaveBtn.labelString:  	   Ulo¾it

ColorMap*saveBoxCancelBtn.labelString:     Zru¹it

ColorMap*advancedSaveBoxLabel.labelString: Zadejte název roz¹íøeného souboru barev:

! Characters in file names must be 819 (ISO8859-1)
ColorMap*invalidFileName.value:            Zadaný znak není platným znakem názvu souboru.

ColorMap*invalidFileNameOkbutton.labelString:  OK

!****************************************
!**  Overwrite existing file dialog    **
!****************************************
ColorMap*fileWarningDialog.dialogTitle:        Varování pro mapování barev

ColorMap*fileWarningDialog.messageString:      Soubor ji¾ existuje. Chcete jej pøepsat?

ColorMap*fileWarningDialog.okLabelString:      Ano

ColorMap*fileWarningDialog.cancelLabelString:  Ne



!***************************************
!**  Basic color work area            **
!***************************************
ColorMap*basicListLabel.labelString:        Zvolte schéma barev:

! The following two resource lines are a late addition to the color mapping resource file (March 12, 1998).  These indicate color map files that came from a system level or user created color map files.
ColorMap*systemLabel:                       Systém:

ColorMap*userLabel:                         U¾ivatel:

ColorMap*ibmBlack:                          IBM: Èerné pozadí

ColorMap*ibmDarkGrey:                       IBM: Tmavì ¹edé pozadí

ColorMap*ibmLightGrey:                      IBM: Svìtle ¹edé pozadí

ColorMap*ibmLight:                          IBM: Svìtlé pozadí

ColorMap*ibmLightBlue:                      IBM: Svìtle modré pozadí



!******************************************
!**  Advanced color work area            **
!******************************************
ColorMap*advancedListLabel.labelString:     Vyberte mìnìný prvek:

! The following 22 *adv type resources are limited in size; they should not exceed 28 characters.
ColorMap*advMenuBarBack:                    Pozadí panelu nabídek

ColorMap*advMenuBarFore:                    Popøedí panelu nabídek

ColorMap*advMainSess:                       Pozadí hlavní relace

ColorMap*advPushbut:                        Pozadí tlaèítek

ColorMap*advBlue:                           Modrý text

ColorMap*advGreen:                          Zelený text

ColorMap*advPink:                           Rù¾ový text

ColorMap*advRed:                            Èervený text

ColorMap*advTurq:                           Tyrkysový text

ColorMap*advWhite:                          Bílý text

ColorMap*advYellow:                         ®lutý text

ColorMap*advCursor:                         Kurzor

ColorMap*advMouse:                          Ukazatel my¹i

ColorMap*advRule:                           Vodicí èára

ColorMap*advStatLineBack:                   Pozadí stavového øádku

ColorMap*advStatLineFore:                   Popøedí stavového øádku

ColorMap*advMonoImageBack:                  Pozadí jednobarevných obrázkù

ColorMap*advMonoImageFore:                  Popøedí jednobarevných obrázkù

! Note: foreground color used for assist program windows
ColorMap*advAssistFore:                     Popøedí programu Asistence

! Note: button background for assist program windows
ColorMap*advAssistForm:                     Tlaèítko programu Asistence

! Note: main background color for assist program windows
ColorMap*advAssistPrimary:                  Primární barva programu Asistence

! Note: entry area background color for assist program windows
ColorMap*advAssistEntry:                    Vstup programu Asistence


ColorMap*red.titleString:                   Èervená 

ColorMap*green.titleString:                 Zelená

ColorMap*blue.titleString:                  Modrá 

ColorMap*currentColorLabel.labelString:     Aktuální barva

ColorMap*applyCurrentColor.labelString:     Pou¾ít aktuální barvu


!************************************
!**  Delete file dialog            **
!************************************
ColorMap*deleteDialog.deleteBoxDeleteBtn.labelString:  Odstranit

ColorMap*deleteDialog.deleteBoxCancelBtn.labelString:  Zru¹it

! title of delete dialog
ColorMap*deleteDialog.dialogTitle:                     Odstranit soubor mapy barev

ColorMap*deleteDialog.deleteBoxLabel.labelString:      Vyberte odstraòované soubory:

ColorMap*deleteDialog.deleteBoxLabelAlt.labelString:   ®ádné soubory k odstranìní

! message at bottom of primary window
ColorMap*selectedDeleted:                              Vybrané soubory mapy barev byly odstranìny.


!*****************************************************
!**  Delete file verification dialog box            **
!*****************************************************
ColorMap*deleteVerifyDialog.dialogTitle:        Ovìøení odstranìní 

ColorMap*deleteVerifyDialog.okLabelString:      OK

ColorMap*deleteVerifyDialog.cancelLabelString:  Zru¹it

! this cannot be much longer
ColorMap*noUndoDelete:                          Odstranìní souborù nelze odvolat. Chcete pokraèovat?

ColorMap*noFilesDelete:                         Nebyly vybrány ¾ádné soubory. Odstranìní není platné.


!****************************************************
!**  Emulator preference in construct list         **
!**						   **
!**  MAX:  text should be less than 15 characters  **
!****************************************************
ColorMap*emuPrefMenuLabel.labelString:       Panel nabídek

ColorMap*emuPrefBlueText.labelString:        Modrý text

ColorMap*emuPrefGreenText.labelString:       Zelený text

ColorMap*emuPrefPinkText.labelString:        Rù¾ový text

ColorMap*emuPrefRedText.labelString:         Èervený text

ColorMap*emuPrefTurquoiseText.labelString:   Tyrkysový text

ColorMap*emuPrefWhiteText.labelString:       Bílý text

ColorMap*emuPrefYellowText.labelString:      ®lutý text

ColorMap*emuPrefPbBackground.labelString:    Tlaèítko

ColorMap*emuPrefStatusLine.labelString:      Stavový øádek

ColorMap*groupBoxLabel.labelString:          Program Asistence

ColorMap*entryAreaLabel.labelString:         Vstupní oblast

ColorMap*helperFormLabel.labelString:        Tlaèítko


!**************************
!**  Error dialog boxes  **
!**************************
ColorMap*noColorCellsMsgText.value: Nelze alokovat barevné prostøedky nutné ke spu¹tìní programu pro mapování barev. Zavøete aplikaci, která intenzivnì pou¾ívá barvy, a zkuste akci opakovat.

ColorMap*setColorMsgText.value:      Ne v¹echny barvy lze pou¾ít na relaci emulátoru. Po stisknutí tlaèítka Ulo¾it budou správné barvy ulo¾eny.

ColorMap*setColorFailureCancelBtn.labelString:        Zru¹it

ColorMap*invalidColor:   Následující barvy popøedí a pozadí jsou si vzájemnì pøíli¹ podobné:


!**********************************
!**  General Error dialog boxes  **
!**********************************
ColorMap*noAdvanced.value:            Nelze alokovat barevné prostøedky k zaji¹tìní plnì funkèního mapování barev.

ColorMap*noAdvancedOkbutton.labelString:  OK


!*******************************************************************************
!**  quitDialog resources                                                     **
!*******************************************************************************
ColorMap*quitDialog.dialogTitle:           Varování pøi ukonèení

ColorMap*quitDialog1:                      Barvy v emulátoru byly zmìnìny, ale nebyly pou¾ity nebo ulo¾eny.

ColorMap*quitDialog2:                      Barvy v emulátoru byly zmìnìny a pou¾ity, ale nebyly ulo¾eny.

ColorMap*quitDialog3:                      Barvy v emulátoru byly zmìnìny a ulo¾eny, ale nebyly pou¾ity.

ColorMap*quitDialog*exitBox.labelString:   Ukonèit

ColorMap*quitDialog*cancelBox.labelString: Zru¹it

ColorMap*quit1Tog1:                        Ukonèit bez pou¾ití nebo ulo¾ení zmìn

ColorMap*quit2Tog1:                        Ukonèit bez ulo¾ení zmìn

ColorMap*quitDialog*quitTog2.labelString:  Pøed ukonèením pou¾ít a ulo¾it zmìny

ColorMap*quit3Tog1:                        Ukonèit bez pou¾ití zmìn

ColorMap*quitTog3.labelString:             Pøed ukonèením pou¾ít zmìny na tuto relaci

ColorMap*quitDialog*quitTog4.labelString:  Pøed ukonèením ulo¾it zmìny


!*******************************************************************************
!**  Informational Messages                                                   **
!*******************************************************************************
ColorMap*InfoMsgColorsSaved:    Barvy byly ulo¾eny do souboru: 

ColorMap*tempApp:               Barvy byly doèasnì pou¾ity na relaci emulátoru.

ColorMap*notLoaded:             Nelze naèíst soubor barev. Zkontrolujte, zda soubor stále existuje.

ColorMap*errorLoad:             Formát souboru barev je chybný.


! this resource should contain one black space character; do not translate.
ColorMap*blank:  

ColorMap*chooseApply:           Pomocí volby Pou¾ít uplatníte barvy v relaci.

ColorMap*noAccessDir:           Adresáø je nedostupný.

! this cannot be made any longer during translation
ColorMap*noOpenFile:            Nelze otevøít soubor mapy barev. 

ColorMap*noMakeDir:             Nelze vytvoøit adresáø.

ColorMap*noDeterminePath:       Nelze urèit cestu k souboru.
