! ENGLISH_SOURCE_VERSION= 1.3.1.2 
!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250, and
! VTxxx emulators, in particular local print messages.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with Print* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Print*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Print*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Print*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
Print*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Print*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Print*largeFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Print*mediumFontList:     -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!Print*smallFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!Print*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!Print*largeFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!Print*mediumFontList:     -*-*-medium-r-normal--16-*-*-*-c-*
!Print*smallFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!Print*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Print*largeFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Print*mediumFontList:     -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Print*smallFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************


! ******************************************************************
! Screen Print Resources
! ******************************************************************
!
Print*title:                         Estado de impresión de pantalla
!
Print*statusLabel.labelString:       Impresión de pantalla en proceso.
!
Print*statusOk.labelString:          OK
!
! Note: \n causes a new line in the dialogue box and should not be translated.
! You can move, add, or remove \n within this text string.
Print*errorLabel.labelString:        La impresora no ha respondido.\n\
Por favor, asegúrese de que esté preparada para imprimir.
!
Print*errorRetry.labelString:        Reintentar
!
Print*errorCancel.labelString:       Cancelar
!
Print*jobDesc:                       Imprimir pantalla
!
Print*iconName:                      Imprimir pantalla
!
Print*okLabelString: OK
!
Print*cancelLabelString: Cancelar
!
Print*printDialogPrintCommandLabel.labelString: Mandato para imprimir:
