!
!
!
! This file contains the resource text strings for the IBM 3270 and IBM 5250 Emulator 
! Setup programs

! This resource file is stored in locale specific ASCII (code page 819 for Latin1 languages).

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with one of the following strings:
!      SetupXXXX* : for the combined setup program resources
!      Setup3270* : for the 3270 setup program resources
!      Setup5250* : for the 5250 setup program resources  
!      AllShare* : for resources shared by the 5250, 3270 and combined setup programs.
!    - Each string is followed by a resource name and a ":".  
!		Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN )   ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN )     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS ( zh_TW )   ****************
!**************************************************************************
!**** For  zh_TW
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS ( zh_TW )     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************


! ********************************************************************************
! Setup Program Resources
! ********************************************************************************
!
! In general, the following buttons should not be made much longer during translation.
! Buttons have one to four words. Note: Testing is the only way to know for sure if all
! buttons fit on the screen ok.  The emulators have a testing document that will be used
! during testing; this will point out a problem if button text is too long. In many 
! cases, buttons are presented side by side, where the total button text length cannot
! increase significantly.
! Note: \n causes a new line and should not be translated.
! You can move, add, or remove \n within text strings.
!
! Password prompt panel 
Setup5250*passwordPromptDialogWidth:            60
Setup5250*passwordPromptDialogHeight:           10
Setup5250*passwordPanelTitle.labelString:       Contraseña
Setup5250*passwordPanelInstructions.labelString: La operación que ha solicitado requiere\n\
una contraseña. Entrar la contraseña.

! Password change panel 
Setup5250*passwordChangeDialogWidth:            60
Setup5250*passwordChangeDialogHeight:           21
Setup5250*passwordChangeDialog2Width:           60
Setup5250*passwordChangeDialog2Height:          17
Setup5250*passwordChangePanelTitle.labelString:       Cambio de la contraseña
Setup5250*passwordChangePanelInstructions.labelString: Para cambiar la contraseña, escriba la\n\
contraseña actual y una nueva contraseña.
Setup5250*passwordChangePanelInstructions2.labelString: Entre una nueva contraseña para establecer la contraseña.
Setup5250*currentPassword.labelString:          Contraseña actual: 
Setup5250*newPassword.labelString:              Nueva contraseña: 
Setup5250*newPassword2.labelString:             Confirmar nueva contraseña: 

! menu bar
Setup5250*ConnectionCascade.labelString:        Conexión
SetupXXXX*NewConnectionCascade.labelString:     Nueva...
SetupXXXX*New3270ConnectionButton.labelString:     3270...
SetupXXXX*New5250ConnectionButton.labelString:     5250...
Setup5250*NewConnectionButton.labelString:      Nueva...
Setup5250*NewConnectionCascade.mnemonic:        N
Setup5250*EditConnectionButton.labelString:     Editar...
Setup5250*EditConnectionButton.mnemonic:        E
Setup5250*BrowseConnectionButton.labelString:   Examinar...
Setup5250*BrowseConnectionButton.mnemonic:      x
Setup5250*CopyConnectionButton.labelString:     Copiar...
Setup5250*CopyConnectionButton.mnemonic:        C
Setup5250*Copy:                                 Copiar
Setup5250*ConnectButton.labelString:            Conectar
Setup5250*RemoveConnectionButton.labelString:   Eliminar...
Setup5250*RemoveConnectionButton.mnemonic:      l
Setup5250*ExitButton.labelString:               Salir
Setup5250*ExitButton.mnemonic:                  S
Setup5250*PreferencesCascade.labelString:       Preferencias
Setup5250*PreferencesCascade.mnemonic:          P
Setup5250*Prefs3270Button.labelString:          3270...
Setup5250*Prefs3270Button.mnemonic:             3
Setup5250*Prefs5250Button.labelString:          5250...
Setup5250*Prefs5250Button.mnemonic:             5
Setup5250*OptionsCascade.labelString:           Opciones
Setup5250*OptionsCascade.mnemonic:              O
Setup5250*PasswordButton.labelString:           Contraseña...
Setup5250*HelpCascade.labelString:              Ayuda
Setup5250*HelpCascade.mnemonic:                 y
Setup5250*HelpAboutButton.labelString:          Acerca de...
Setup5250*HelpContentsButton.labelString:       Contenido...
Setup5250*Help3270ContentsButton.labelString:   Contenido de configuración de 3270...
Setup5250*Help5250ContentsButton.labelString:   Contenido de configuración de 5250...
Setup5250*Help3270EmulatorContentsButton.labelString: Contenido de emulador 3270...
Setup5250*Help5250EmulatorContentsButton.labelString: Contenido de emulador 5250...
Setup5250*UserConnectionsListlabel.labelString:     Conexiones del usuario
Setup5250*DefaultConnectionsListlabel.labelString:  Conexiones por omisión
Setup5250*ProfileConnectionsListlabel.labelString:  Conexiones de perfil
	
! Command lines
Setup5250*GeometryTitle.labelString:            Tamaño y posición de la ventana en píxeles (opcional)
Setup5250*GeometryTitle2.labelString:           Tamaño y posición de la ventana (opcional)
Setup5250*GeometryTitle3.labelString:           Tamaño de la pantalla (opcional)
Setup5250*GeometryFullScreenLabel.labelString:  Pantalla\n\
completa
Setup5250*GeometryFullScreenCheckBox.labelString:
Setup5250*GeometryWidthLabel.labelString:       Anchura
Setup5250*GeometryHeightLabel.labelString:      Altura
Setup5250*GeometryColsLabel.labelString:        Columnas
Setup5250*GeometryRowsLabel.labelString:        Filas   
Setup5250*GeometryHorizontalOffsetLabel.labelString: Desplazamiento\n\
horizontal
Setup5250*GeometryVerticalOffsetLabel.labelString:   Desplazamiento\n\
vertical
Setup5250*GeometryCornerLabel.labelString:      Ángulo\n\
a desplazar
Setup5250*cornerButton1.labelString:            Superior izquierdo
Setup5250*cornerButton2.labelString:            Superior derecho
Setup5250*cornerButton3.labelString:            Inferior izquierdo
Setup5250*cornerButton4.labelString:            Inferior derecho

! 3270 and 5250 Command Line Editing 
Setup5250*CommandLine5250EditTitle.labelString: Conexión de emulador 5250
Setup5250*Advanced5250EditTitle.labelString:    Conexión de emulador 5250 avanzada
Setup5250*AS400.labelString:                    Nombre de sistema principal i5/OS o\n\
Dirección IP (opcional)
Setup5250*CommandLine3270EditTitle.labelString: Conexión de emulador 3270
Setup5250*Advanced3270EditTitle.labelString:    Conexión de emulador 3270 avanzada
Setup5250*s390.labelString:                     Nombre de sistema principal S/390 o\n\
Dirección IP (opcional)
Setup5250*ConnectionDescription.labelString:    Descripción de la conexión

Setup5250*sessionTitle.labelString:             Título de la sesión (opcional)
Setup5250*userid.labelString:                   ID de usuario de emulador (opcional)
Setup5250*password.labelString:                 Contraseña de emulador (opcional)
Setup5250*displayName.labelString:              Nombre de pantalla (opcional)
Setup5250*port_string.labelString:              Puerto de telnet (en blanco=por omisión=23)
Setup5250*otherParameters.labelString:          Otros parámetros (opcional)

Setup5250*OKButton.labelString:                 OK
Setup5250*cancelButton.labelString:             Cancelar
Setup5250*SetToDefaultsButton.labelString:      Establecer valores por omisión
Setup5250*helpButton.labelString:               Ayuda

Setup5250*advancedButton.labelString:           Avanzada...
Setup5250*advanced5250Button.labelString:       Conexión de 5250 avanzada
Setup5250*5250PreferencesButton.labelString:    Preferencias globales de 5250...
Setup5250*advanced3270Button.labelString:       Conexión de 3270 avanzada
Setup5250*3270PreferencesButton.labelString:    Preferencias globales de 3270...
Setup5250*screenSizeLabel.labelString:          Tamaño de pantalla:
Setup5250*24x80.labelString:                    24x80 (Mod 2, sin gráficos)
Setup5250*32x80.labelString:                    32x80 (Mod 3)
Setup5250*43x80.labelString:                    43x80 (Mod 4, sin gráficos)
Setup5250*27x132.labelString:                   27x132 (Mod 5, sin gráficos)
Setup5250*graphicsLabel.labelString:            Gráficos:
Setup5250*customSize.labelString:               Personalizado (sin gráficos)
Setup5250*tn3270eLabel.labelString:             TN3270E:

! 3270 and 5250 Application Preferences 
Setup5250*panel5250PrefsTitle.labelString: Preferencias de 5250
Setup5250*panel5250ProfilePrefsTitle.labelString: Preferencias de perfil de 5250
Setup5250*5250AppPrefsPanelInstructions.labelString: Las Preferencias de 5250 se aplican a todas las conexiones 5250.
Setup5250*panel3270PrefsTitle.labelString: Preferencias 3270
Setup5250*panel3270ProfilePrefsTitle.labelString: Preferencias de perfil de 3270
Setup5250*3270AppPrefsPanelInstructions.labelString: Las Preferencias de 3270 se aplican a todas las conexiones 3270.

Setup5250*keymapAreaLabel.labelString: Correlación de teclado:
Setup5250*keymapLabel.labelString: Posibilidad de cambiar\n\
correlación de teclas:

Setup5250*keypadAreaLabel.labelString: Área de teclado:
Setup5250*keypadLabel.labelString: Posibilidad de\n\
área de teclado:

Setup5250*recplayAreaLabel.labelString: Grabación y reproducción:
Setup5250*recplayLabel.labelString: Posibilidad de\n\
Grabar/Reproducir:

Setup5250*colorsAreaLabel.labelString: Colores:
Setup5250*colorsLabel.labelString: Posibilidad de\n\
personalización\n\
de color:

Setup5250*appearanceAreaLabel.labelString: Apariencia:
Setup5250*wideScreenLabel.labelString: 132 columnas:
Setup5250*columnSepLabel.labelString: Separadores de columnas:
Setup5250*enterKeyLabel.labelString: Tecla para función\n\
Intro:

Setup5250*allowUseAreaLabel.labelString: Permitir el uso de:
Setup5250*commandMenuLabel.labelString: Menú Mandato:
Setup5250*editLabel.labelString: Menú Edición:
Setup5250*optionLabel.labelString: Menú Opción:
Setup5250*printLabel.labelString: Menú Imprimir:
Setup5250*helpLabel.labelString: Menú Ayuda:
Setup5250*controlLabel.labelString: Menú Control:
Setup5250*graphicsLabel.labelString: Gráficos:
Setup5250*miscPrefLabel.labelString: Preferencias\n\
varias:
Setup5250*fontMenuLabel.labelString: Lista de menú Fonts:
Setup5250*newSessionLabel.labelString: Ventana de\n\
sesión nueva:
Setup5250*browserLabel.labelString: Zona activa de\n\
navegador:
Setup5250*desktopLabel.labelString: Archivo de escritorio:

Setup5250*authenticationParameters.labelString: Parámetros de autentificación:
Setup5250*additionalParameters.labelString: Parámetros adicionales:

! preference choice values.
Setup5250*prefdefault.labelString: Por omisión
Setup5250*prefEnabled.labelString: Habilitado
Setup5250*prefDisabled.labelString: Inhabilitado
Setup5250*prefHidden.labelString: Oculta
Setup5250*prefBasic.labelString: Básica
Setup5250*prefAdvanced.labelString: Avanzada
Setup5250*prefPlaybackOnly.labelString: Sólo reproducción
Setup5250*prefNoResizeOrMove.labelString: No, No cambiar tamaño o mover
Setup5250*prefFixedFontsOnly.labelString: Sólo fonts fijos
Setup5250*prefKeypadOnly.labelString: Sólo uso de área de teclado
Setup5250*prefKeyboardPrintOnly.labelString: Sin menú; sólo impresión de teclado
Setup5250*prefYes.labelString: Sí
Setup5250*prefNo.labelString: No
Setup5250*prefEnterKey.labelString: Tecla Intro
Setup5250*prefControlKey.labelString: Tecla Control
Setup5250*pref24x80.labelString: 24x80 (sin gráficos)
Setup5250*pref32x80.labelString: 32x80
Setup5250*pref43x80.labelString: 43x80 (sin gráficos)
Setup5250*pref27x132.labelString: 27x132 (sin gráficos)
Setup5250*prefNoAllowWMClose.labelString: No, pero permitir cierre de ventana
Setup5250*prefYesReadOnly.labelString: Sí, pero solamente lectura

! 3270 scrolled window sizes.
Setup5250*CommandLine3270SizeWidth:                26
Setup5250*CommandLine3270SizeHeight:               22  
Setup5250*CommandLine3270AdvSizeWidth:             68  
Setup5250*CommandLine3270AdvSizeHeight:            33 
Setup5250*AppPrefs3270SizeWidth:                   56 
Setup5250*AppPrefs3270SizeHeight:                  30

! 5250 scrolled window sizes.
Setup5250*CommandLine5250SizeWidth:             36
Setup5250*CommandLine5250SizeHeight:            22
Setup5250*CommandLine5250AdvSizeWidth:          75 
Setup5250*CommandLine5250AdvSizeHeight:         29 
Setup5250*AppPrefs5250SizeWidth:                65 
Setup5250*AppPrefs5250SizeHeight:               30 

! messages
Setup5250*SetNonKioskPrefsDialog.okLabelString:      Sí
Setup5250*SetNonKioskPrefsDialog.cancelLabelString:  No
Setup5250*SetKioskPrefsDialog.okLabelString:      Sí
Setup5250*SetKioskPrefsDialog.cancelLabelString:  No
Setup5250*SetKioskPrefsDialog.messageString: ¿Establecer todas las preferencias de emulador en los valores\n\
por omisión para la modalidad de Emulador individual?
Setup5250*SetNonKioskPrefsDialog.messageString: ¿Establecer todas las preferencias de emulador en los valores\n\
por omisión para la modalidad de Aplicación múltiple?
Setup5250*removeConnectionConfirmation.messageString: ¿Eliminar la conexión seleccionada?
Setup5250*Emulator5250Starting: El Emulador 5250 se está iniciando. Espere, por favor.
Setup5250*Emulator3270Starting: El Emulador 3270 se está iniciando. Espere, por favor.
Setup5250*3270PreferencesChanged: Para que las preferencias modificadas surtan efecto,\n\
se deberán cerrar todas las sesiones actuales de Emulador 3270.
Setup5250*Current3270SessionIsNotForConfiguration.messageString: Todas las sesiones normales de Emulador 3270 se cerrarán\n\
primero antes del inicio de las sesiones 3270 para modificación de perfil.
Setup5250*Current3270SessionIsForConfiguration.messageString: Todas las sesiones de Emulador 3270 para modificación de perfil\n\
se cerrarán antes del inicio de las sesiones normales de 3270.
Setup5250*5250PreferencesChanged: Para que las preferencias modificadas surtan efecto,\n\
se deberán cerrar todas las sesiones actuales de Emulador 5250.
Setup5250*Current5250SessionIsNotForConfiguration.messageString: Todas las sesiones normales de Emulador 5250 se cerrarán\n\
primero antes del inicio de las sesiones 5250 para modificación de perfil.
Setup5250*Current5250SessionIsForConfiguration.messageString: Todas las sesiones de Emulador 5250 para modificación de perfil\n\
se cerrarán antes del inicio de las sesiones normales de 5250.
! error messages
Setup5250*ErrorPasswordIncorrect:               La contraseña que ha entrado no es correcta.
Setup5250*ErrorCurrentPasswordIncorrect:        La contraseña actual no es correcta.
Setup5250*ErrorNewPasswordsDontMatch:           La confirmación de la nueva contraseña no coincide con la nueva contraseña.
Setup5250*ErrorCantRemoveDefaultPWOnlyOverrideIt:  La contraseña por omisión no se puede eliminar,\n\
solamente se puede sustituir por una contraseña de usuario.
Setup5250*ErrorNoConnectionDescription:         Debe especificar una descripción de conexión.
Setup5250*ErrorConnectionDescriptionExistsAlready:  La descripción de conexión que ha entrado ya existe.
Setup5250*ErrorUseUserIDInvalidDisplayName:     El nombre de pantalla de USE_USER_ID no está soportado.
Setup5250*ErrorNonNumericDataNotAllowed:        No se permiten datos que no sean numéricos.

! misc
Setup5250*okLabelString:                        OK
Setup5250*cancelLabelString:                    Cancelar
SetupXXXX*title:                                Configuración de emulador
SetupXXXX*iconName:                             Configuración de emulador
Setup3270*title:                                Configuración de 3270
Setup3270*iconName:                             Configuración de 3270
Setup5250*title:                                Configuración de 5250
Setup5250*iconName:                             Configuración de 5250
Setup5250*keymapFilename.labelString:           Nombre de archivo de correlación de teclado (opcional)
Setup5250*keypadFilename.labelString:           Nombre de archivo de área de teclado (opcional)	
Setup5250*sslFilename.labelString:              Nombre de archivo SSL (opcional)	

! help dialog.
SetupXXXX*helpAboutTextTitle.labelString: Acerca de Configuración de emuladores IBM
SetupXXXX*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, Reservados todos los derechos.\n\
\n\
Este programa de configuración se utiliza para configurar e iniciar los emuladores IBM.
Setup5250*helpAboutTextTitle.labelString: Acerca de Configuración de emulador IBM 5250
Setup5250*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, Reservados todos los derechos.\n\
\n\
Este programa de configuración se utiliza para configurar e iniciar el emulador IBM 5250.
Setup3270*helpAboutTextTitle.labelString: Acerca de Configuración de emulador IBM 3270
Setup3270*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, Reservados todos los derechos.\n\
\n\
Este programa de configuración se utiliza para configurar e iniciar el emulador IBM 3270.

!arabic parameters
Setup5250*arabicParametersLabel.labelString: Parámetros árabes
Setup5250*allocateLamAlefLabel.labelString: Asignar espacio\n\
para LamAlef
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
