!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250 and
! VTxxx emulators, in particular the help viewer text; for example pushbutton text. This file
! does not contain the emulator on-line help text; help text is in a different file.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). This resource file is stored on the booting server as N3_5HlpV.

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with HelpView* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!*******************************************************************************
!*******                                                             ***********
!*******                 Help Viewer Resources                       ***********
!*******                                                             ***********
!*******************************************************************************

! title above list of topics
HelpView*topicTitle:   Avsnitt

HelpView*okLabelString: OK

HelpView*cancelLabelString: Avbryt

!************************************************
!*              Action bar buttons
!*
!* MAX:  When in largest font, button length 
!*       must be less than 13 characters
!************************************************
HelpView*searchFwd.labelString:    Sök framåt

HelpView*searchBack.labelString:   Sök bakåt

HelpView*searchNew.labelString:    Ny sökning

HelpView*goFwdButton.labelString:  Nästa avsnitt

HelpView*goBackButton.labelString: Föreg avsnitt

HelpView*exitHelp.labelString:     Avsluta

HelpView*optionMenu.labelString:   Teckenstorlek

HelpView*helpTextPrint.labelString:  Skriv ut

HelpView*printDialogCancelButton.labelString: Avbryt	

HelpView*printDialogBoxLabel.labelString: Välj utskriftsalternativ

HelpView*printDialogPrintCommandLabel.labelString: Skrivarkommandon:

HelpView*printDialogSelectPrinter.labelString: Välj en skrivare:

HelpView*PrinterSelectServerDelineator: @

HelpView*PrintOptionTopicSelectionLabel.labelString:  Skriv ut:

HelpView*PrintOptionTopicSelectionTopic.labelString:  Endast det här avsnittet

HelpView*PrintOptionTopicSelectionAll.labelString:  Alla avsnitt

HelpView*PrinterSelectLocalDesignator: (Lokal)

HelpView*printDialogPrinterSelectControls_popup.title:   Välj skrivare

HelpView*printDialogPrintInProgress.labelString: Skriver ut...

HelpView*printDialogPrinterTypeLabel.labelString:  Skrivartyp:

HelpView*printDialogPrinterTypeMenu*postscript.labelString:  PostScript

HelpView*printDialogPrinterTypeMenu*ascii.labelString:  ASCII

HelpView*printDialogPrinterTypeMenu*pcl.labelString:  PCL

!*******************
!* Dialog boxes
!*******************
! title of dialog boxes
HelpView*searchDialog*dialogTitle: Sök

HelpView*Cancel*labelString: Avbryt

HelpView.searchForward: Sök framåt efter...

HelpView.searchReverse: Sök bakåt efter...

HelpView*searchDialog*okLabelString: OK

HelpView*searchDialog*cancelLabelString: Avbryt


!**********************************************
!* Messages at bottom of the screen
!**********************************************

HelpView.located:       hittades...

HelpView.notLocated:    hittades inte... 	

HelpView.noSearchValue: Aktuellt sökbegrepp har inte angetts

HelpView.fileError:     Filen kunde inte öppnas:

!**************************************************
!*
!*        Printing translations 
!*
!*      Added by AJMEYER for V310.nc
!*
!**************************************************

HelpView*printSelectDialogOKButton.labelString:  OK

HelpView*printSelectDialogCancelButton.labelString:  Avbryt
