!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250, and
! VTxxx emulators, in particular the miscellaneous preferences program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to all emulators. Some is specific to one emulator.
!    Miscpref = Resources used by both 3270 and 5250 emulators.
!    Miscpr32 = Resources used by the 3270 emulator.
!    Miscpr52 = Resources used by the 5250 emulator.
!    MiscprVT = Resources used by the VT emulator.
! 4. Resource format: 
!    - A resource line starts with Miscpref*, Miscpr32*, Miscpr52*,or MiscprVT*, followed by 
!      a resource name and a ":".  Do NOT make any changes to the text to the left
!      of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Miscpref*large_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
Miscpref*small_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-24-*-*-*-c-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal-*-16-*-*-*-c-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-16-*-*-*-c-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal-*-16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************

!*******************************************************************
!*******   Miscellaneous Preferences Resources           ***********
!*******************************************************************
Miscpr52*title:     5250 기타 환경 설정

Miscpr32*title:     3270 기타 환경 설정

MiscprVT*title:     VT 에뮬레이터 기타 환경 설정

Miscpref*iconName:  기타 환경 설정

Miscpref*okLabelString: 확인 
Miscpref*cancelLabelString: 취소


!***********************************************
!**     Action Bar Area Resources             **
!***********************************************
Miscpref*saveButton.labelString: 저장

Miscpref*exitButton.labelString: 종료(X)

Miscpref*setDefaultsButton.labelString: 기본값 설정

Miscpref*helpButton.labelString: 도움말


!*********************************************************
!**     Preference Buttons Area Resources               **
!**							**
!*********************************************************
Miscpref*preferencesListInstructions.labelString: 환경 설정 선택

Miscpref*CursorStyleItem:                         커서 양식

Miscpr52*EnterKeyLocationItem:                    Enter/필드 종료 키

Miscpr32*EnterKeyLocationItem:                    Enter 키
	
Miscpr52*AutomaticHelpItem:                       자동 도움말

Miscpr52*BlueUnderscoreItem:                      파란색 밑줄

Miscpref*RowColumnIndicatorItem:                  행 열 표시기

Miscpref*DestructiveBackspaceItem:                소거 기능의 백스페이스

Miscpref*RuleLineEnableItem:                      눈금선 사용 가능

Miscpref*RuleLineStyleItem:                       눈금선 양식

Miscpref*PasteStartLocationItem:                  붙여넣기 시작 위치

Miscpref*CursorBlinkItem:                         커서 깜박임

Miscpr52*LargeScreenBehaviorItem:                 큰 화면 작동

Miscpref*PrintKeyLocationItem:                    인쇄 키

Miscpr32*BracketItem:                             대괄호

Miscpr32*AutomaticReconnectItem:                  자동 다시 연결

Miscpref*HotspotsItem:                            핫스팟

Miscpref*TypeAheadItem:                           키보드 버퍼링

Miscpr52*ErrorResetKeys:                          오류 다시 설정 키

Miscpref*HotspotHighlight:                        핫스팟 강조표시

Miscpref*DefaultCopyType:                         기본 복사 유형

Miscpref*TextType:                                텍스트 유형

Miscpref*TextOrientation:                         텍스트 방향

Miscpref*NumeralShape:                            숫자 모양

Miscpref*InsertMode:                              삽입 모드

Miscpref*InputOnlyCursorMovement:                 입력 전용 커서 이동

Miscpref*AudioAlarm:                              오디오 알람

MiscprVT*CursorBlinkItem:           커서 깜박임

MiscprVT*ApplicationCursor:         응용프로그램 커서 모드

MiscprVT*ApplicationKeypad:         응용프로그램 키패드 모드

MiscprVT*AutoLineFeed:              자동 줄 바꾸기

MiscprVT*AutoResize:                자동 크기 조정

MiscprVT*AutoWrapAround:            자동 랩

MiscprVT*ClearScreenWithBlanks:     공백으로 화면 지우기

MiscprVT*ExitOnDisconnect:          연결이 끊어지면 종료

MiscprVT*JumpScroll:                점프 화면이동

MiscprVT*MarginBell:                여백 벨

MiscprVT*MarginBellColumn:          여백 벨 열

MiscprVT*ReverseWrapAround:         역방향 랩

MiscprVT*VisibleStatusLine:         비주얼 상태 표시줄

MiscprVT*VisualBell:                비주얼 벨
	
!*************************************************************
!**     Preference Text Area Resources (Explanation Box)    **
!*************************************************************
Miscpref*CursorStyleText.value: 사용 가능한 커서 양식에는 밑줄과 블록 커서가 포함됩니다. 커서 양식은 삽입 모드가 설정되었는지 여부에 따라 밑줄과 블록의 조합 또는 항상 밑줄, 항상 블록으로 설정할 수 있습니다.

MiscprVT*CursorStyleText.value: 커서 양식은 항상 밑줄 또는 항상 블록으로 설정할 수 있습니다.

MiscprVT*CursorBlinkText.value: 커서 깜박임을 사용 가능 또는 사용 불가능으로 설정할 수 있습니다. 커서 깜박임이 사용 가능한 경우, 창에 포커스가 있을 경우에만 깜박입니다.

MiscprVT*ApplicationCursorText.value: 커서 키는 초기에 응용프로그램 모드 또는 커서 모드입니다. 응용프로그램 모드에서 화살표 키가 사용되면 표준 커서 이동이 이루어지는 것이 아니고 ANSI 이스케이프 시퀀스가 생성됩니다.

MiscprVT*ApplicationKeypadText.value: 키패드 키는 초기에 응용프로그램 모드 또는 숫자 모드입니다. 응용프로그램 모드에서 키패드가 사용되면 숫자가 아닌 제어 기능이 생성됩니다.

Miscpr52*EnterKeyLocationText.value: Enter, 줄 바꾸기 및 필드 종료 기능용 키는 아래의 기본 맵핑에서 변경할 수 있습니다. Enter 및 오른쪽 Ctrl 키를 사용한 이러한 기능의 여러 가지 조합이 제공됩니다.

Miscpr32*EnterKeyLocationText.value: Enter 및 줄 바꾸기 기능용 키는 아래의 기본 맵핑에서 변경할 수 있습니다. Enter 및 오른쪽 Ctrl 키를 사용한 이러한 기능의 여러 가지 조합이 제공됩니다.

Miscpr52*AutomaticHelpText.value: 키보드 조작자 오류의 결과로 도움말 키가 자동으로 눌러질 수 있습니다. 일반적으로 자동 도움말 키는 조작자 오류를 나타내는 첫 번째 레벨 도움말 텍스트의 한 행을 표시합니다. 자동 도움말 키를 사용 불가능으로 설정하면 4 자릿수의 조작자 오류가 표시됩니다. 이 경우 사용자는 첫 번째 레벨 도움말 텍스트를 보려면 도움말 키를 수동으로 눌러야 합니다.

Miscpr52*BlueUnderscoreText.value: 기본 밑줄 색상을 파란색으로 변경할 수 있습니다.

Miscpref*RowColumnIndicatorText.value: 행 열 표시기는 상태 표시줄의 오른쪽에 표시되는 커서 위치의 행 및 열입니다. 행 열 표시기가 표시될 수도 있고 표시되지 않을 수도 있습니다. 커서가 표시되지 않으면 설정과 상관없이 행 열 표시기 또한 표시되지 않습니다.

Miscpref*DestructiveBackspaceText.value: 백스페이스 기능은 소거 기능을 지원할 수도 있고 지원하지 않을 수도 있습니다. 소거 기능을 지원하는 경우에는 커서가 입력 필드에서 뒤로 이동할 때 백스페이스 기능이 데이터를 지웁니다. 소거 기능을 지원하지 않는 경우에는 커서가 입력 필드에서 뒤로 이동할 때 데이터를 지우지 않습니다.

Miscpref*RuleLineEnableText.value: 눈금선 도움말은 커서의 위치 또는 이전 위치를 표시합니다. 완전 사용 불가능, 항상 사용 가능 또는 눈금선 키로 제어할 수 있습니다. 눈금선 키로 제어할 경우, 눈금선이 그대로 유지되거나 커서를 따라갑니다.

Miscpref*RuleLineStyleText.value: 눈금선이 표시될 때는 가로선, 세로선 또는 가로/세로선 중 한 가지 형태입니다.

Miscpref*PasteStartLocationText.value: Shift 키를 누르고 보조 마우스 단추를 누르는 것과 관련된 붙여넣기 조작은 커서 위치 또는 마우스 포인터 위치에서 발생하도록 정의할 수 있습니다. 이 환경 설정은 풀다운 메뉴에서 붙여넣기할 때는 영향을 미치지 않습니다. 풀다운 메뉴 붙여넣기는 항상 커서 위치에서 수행됩니다.

Miscpr52*CursorBlinkText.value: 커서 깜박임을 사용 가능 또는 사용 불가능하도록 설정할 수 있습니다. 사용 가능하도록 설정한 경우, 커서 깜박임을 응용프로그램에서 제어할 수 있습니다. 사용 불가능하도록 설정한 경우, 커서가 깜박이지 않습니다.

Miscpr32*CursorBlinkText.value: 커서 깜박임을 사용 가능 또는 사용 불가능하도록 설정할 수 있습니다. 사용 가능하도록 설정한 경우, 커서가 항상 깜박입니다. 사용 불가능하도록 설정한 경우, 커서가 깜박이지 않습니다.

Miscpr52*LargeScreenBehaviorText.value: 5250 에뮬레이터는 큰 화면 크기가 입력되면 필요에 따라 창을 자동으로 이동하거나 글꼴 크기를 줄이도록 구성할 수 있습니다. 현재 위치나 글꼴 크기에서 새 창 크기가 화면에 맞지 않는 경우, 이 작업이 수행됩니다.

Miscpr52*PrintKeyLocationText.value: 키보드 재맵핑으로 덮어쓰지 않는 한, Shift를 누르고 인쇄 키를 누르면 로컬 화면 인쇄 기능이 제공되지만 인쇄 키의 기본 맵핑은 시스템 인쇄 기능입니다. 일부 사용자는 인쇄 키가 로컬 화면 인쇄 기능을 제공하고 Shift를 누른 상태로 인쇄 키를 누르면 시스템 인쇄 기능이 제공되기를 원할 수 있습니다.

Miscpr32*PrintKeyLocationText.value: 키보드 재맵핑으로 덮어쓰지 않는 한, Shift를 누르고 인쇄 키를 누르면 로컬 화면 인쇄 기능이 제공되지만 인쇄 키의 기본 맵핑은 pa1 기능입니다. 일부 사용자는 인쇄 키가 로컬 화면 인쇄 기능을 제공하고 Shift를 누른 상태로 인쇄 키를 누르면 pa1 기능이 제공되기를 원할 수 있습니다.

Miscpr32*BracketText.value: 대괄호 옵션이 사용 가능하도록 설정하면 사각 괄호 문자 변환이 올바르게 수행됩니다.

Miscpr32*AutomaticReconnectText.value: 사용자가 로그오프할 때 3270 에뮬레이터 창을 화면에서 제거할 수도 있고 화면에 그대로 둘 수도 있습니다. 화면에 그대로 두면 에뮬레이터는 자동으로 호스트 시스템으로 다시 연결을 시도합니다.

Miscpref*HotspotsText.value: 핫스팟은 그 위에서 마우스 포인터를 클릭하면 조치를 수행하는 화면 위치입니다. 예를 들어, 마우스 포인터를 'PF1' 또는 'F1' 위에 두고 핫스팟이 사용 가능해지면 클릭 한 번이 F1 키를 누른 것처럼 처리됩니다. 핫스팟은 기본 단추 한 번 클릭으로 사용 가능 또는 사용 불가능으로 설정하거나, 기본 단추 두 번 클릭으로 사용 가능하도록 설정할 수 있습니다. 기본 단추를 한 번 클릭하면 핫스팟이 사용 가능 또는 사용 불가능하게 되는 경우, 기본 단추를 두 번 클릭하는 것은 Enter키를 누르는 것과 같이 처리됩니다.

Miscpref*TypeAheadText.value: 키보드 버퍼링은 키보드가 잠긴 상태(입력 금지)일 때 입력된 키 입력을 저장합니다. 이 키는 나중에 키보드가 잠금 해제되면 처리됩니다. 키보드 버퍼링을 사용 가능으로 설정하면 항상 강제 실행됩니다. 키보드 버퍼링을 사용 불가능으로 설정하면 항상 해제됩니다.

Miscpr52*ErrorResetKeysText.value: 오류를 다시 설정하는 5250 에뮬레이터 키는 아래와 같이 구성할 수 있습니다. 오류 행에서 다시 설정 키와 마우스 왼쪽 단추 클릭은 항상 오류를 다시 설정합니다. 또한 사용자는 커서 이동 키(탭, 줄 바꾸기, 화살표, 백스페이스) 및 기타 마우스 클릭으로도 오류를 다시 설정하도록 선택할 수 있습니다.

Miscpref*HotspotHighlightText.value: 핫스팟을 강조표시하도록 에뮬레이터를 구성할 수 있습니다. 핫스팟이 사용 가능해지고 핫스팟 강조표시도 사용 가능해지는 경우 화면의 모든 핫스팟이 강조표시됩니다.

Miscpref*DefaultCopyTypeText.value: 기본 복사 유형은 기본 마우스 단추의 한 번 누르기 및 끌기 조작과 연관된 복사 영역의 유형입니다. 그리고 키보드 복사 영역 표시와 연관된 복사 유형이기도 합니다.

Miscpref*TextTypeText.value:                                복사 및 붙여넣기를 위한 텍스트 유형

Miscpref*TextOrientationText.value: 복사 및 붙여넣기를 위한 텍스트 방향. 복사하거나 붙여넣을 외부 응용프로그램의 글로벌 텍스트 방향 또는 단락 방향을 선택하십시오.

Miscpref*NumeralShapeText.value: 복사 및 붙여넣기를 위한 숫자 모양. 복사하거나 붙여넣을 대상인 외부 응용프로그램에서 유럽식 숫자만이 작동하는 경우에는 공칭을 선택하십시오. 응용프로그램에서 항상 아랍-인도 숫자만 작동하는 경우에는 국가별을 선택하십시오. 숫자의 모양이 숫자가 표시되는 세그먼트에 따라 다른 경우 문맥 모드를 선택하십시오.

Miscpr52*InsertModeText.value: 삽입 모드는 기본적으로 해제되어 있으며 Insert 키 외에도 응용프로그램 및 다시 설정 키에 의해 자동으로 다시 설정되기도 합니다. 이 삽입 모드 자동 다시 설정은 사용 불가능하도록 설정할 수 있으며, 기본값으로 삽입 모드를 설정 또는 해제로 함으로써 이 작업을 수행할 수 있습니다.

Miscpr32*InsertModeText.value: 삽입 모드는 기본적으로 해제되어 있으며 Insert 키 외에도 Enter 키나 다시 설정 키 등으로 응용프로그램과의 상호작용에 의해 자동으로 다시 설정되기도 합니다. 이 삽입 모드 자동 다시 설정은 사용 불가능하도록 설정할 수 있으며, 기본값으로 삽입 모드를 설정 또는 해제로 함으로써 이 작업을 수행할 수 있습니다.

Miscpref*InputOnlyCursorMovementText.value: 화살표 키는 입력 가능한 위치로만 이동하도록 구성할 수 있습니다. 선택할 경우, 화살표 키는 항상 커서를 입력 가능한 위치로 이동합니다. 그러한 위치가 없는 경우에 커서는 첫 번째 화면 위치로 이동합니다.

Miscpref*AudioAlarmText.value: 오디오 알람을 사용 가능 또는 사용 불가능하도록 설정할 수 있습니다. 사용 불가능하도록 설정한 경우, 오디오 알람이 소리가 나지 않게 됩니다.

MiscprVT*AutoLineFeedText.value: 자동 줄 바꾸기를 사용 가능 또는 사용 불가능하도록 설정할 수 있습니다. 자동 줄 바꾸기가 사용 가능하도록 설정한 경우, VT 에뮬레이터는 줄 바꾸기, 세로 탭 또는 용지 넘김 문자를 응용프로그램에서 보내면 줄 바꾸기와 캐리지 리턴도 수행합니다. 또한 새 행을 생성하는 모든 키(Enter 키 등)는 캐리지 리턴과 줄 바꾸기를 응용프로그램으로 보냅니다. 이 기능을 사용 불가능하도록 설정한 경우, 줄 바꾸기, 세로 탭 또는 용지 넘김이 수신되면 줄 바꾸기 기능만 수행됩니다. 이 기능이 사용 불가능할 때 Enter 키를 누르면 줄 바꾸기만 응용프로그램으로 보내집니다.

MiscprVT*AutoResizeText.value: 자동 크기 조정을 사용 가능 또는 사용 불가능하도록 설정할 수 있습니다.

MiscprVT*AutoWrapAroundText.value: 자동 랩을 사용 가능 또는 사용 불가능하도록 설정할 수 있습니다. 사용 가능하도록 설정한 경우, 커서가 화면 경계에 도달한 후 입력된 문자는 자동으로 다음 행에 표시됩니다. 자동 랩이 사용 불가능하도록 설정한 경우, 커서가 경계에 도달한 후 입력된 문자는 행 끝에 있는 문자를 대체합니다.

MiscprVT*ClearScreenWithBlanksText.value: 원할 경우 화면을 공백으로 지울 수 있습니다.

MiscprVT*ExitOnDisconnectText.value: 호스트와 연결이 끊어지면 종료되도록 단말기를 구성할 수 있습니다.

MiscprVT*JumpScrollText.value: 점프 화면이동이 되도록 단말기를 구성할 수 있습니다. 점프 화면이동하면 화면이 한 번에 두 행 이상 화면이동됩니다. 그러면 여러 행의 텍스트가 단말기로 보내졌을 때 화면 갱신이 더 빨리 수행됩니다. 점프 화면이동될 수 있는 최대 행 수는 VT 에뮬레이터 창의 행 수로 제한됩니다.

MiscprVT*MarginBellText.value: 사용자가 오른쪽 여백에서 입력하면 벨소리가 울리도록 단말기를 구성할 수 있습니다.

MiscprVT*MarginBellColumnText.value: 여백 벨이 울리는 열을 지정하십시오.

MiscprVT*ReverseWrapAroundText.value: 역방향 랩을 사용 가능 또는 사용 불가능하도록 설정할 수 있습니다. 역방향 랩을 사용하면 커서를 행의 첫 번째 위치에서 이전 행의 마지막 열로 랩핑하여 사용자가 이전 행으로 Bacspace로 이동하도록 할 수 있습니다. 역방향 랩이 작동하려면 자동 랩 또한 사용 가능해야 합니다.

MiscprVT*VisibleStatusLineText.value: 상태 표시줄을 표시하거나 숨길 수 있습니다. 상태 표시줄이 표시되면, VT 에뮬레이터 창의 맨 아래에서 25번째 행이 표시됩니다. 이 행은 응용프로그램에서 상태 정보를 표시하는 데 사용될 수 있습니다. 응용프로그램에서 사용하지 않을 경우, 커서 행/열 표시기가 표시됩니다.

MiscprVT*VisualBellText.value: 비주얼 벨(화면 플래시)은 오디오 벨로 대체할 수 있습니다.

!*************************************************************
!**     Preference Text Area Resources (Options area)       **
!**							    **
!*************************************************************

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton1.labelString: 밑줄 커서

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton2.labelString: 블록 커서

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton3.labelString: 블록 삽입 커서, 밑줄 바꾸기 커서

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton4.labelString: 밑줄 삽입 커서, 블록 바꾸기 커서

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton1.labelString: 기본 Enter 및 오른쪽 Ctrl 키 맵핑 사용

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton2.labelString: Enter 키 = 입력, 오른쪽 Ctrl = 줄 바꾸기

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton3.labelString: Enter 키 = 줄 바꾸기, 오른쪽 Ctrl = 입력

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton4.labelString: Enter 키 = 입력, 오른쪽 Ctrl = 필드 종료/줄 바꾸기

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton5.labelString: Enter 키 = 필드 종료/줄 바꾸기, 오른쪽 Ctrl = 입력

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton1.labelString: 조작자 오류에 대한 자동 도움말 키 사용 가능

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton2.labelString: 조작자 오류에 대한 자동 도움말 키 사용 불가능

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton1.labelString: 파란색 밑줄 사용 가능

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton2.labelString: 파란색 밑줄 사용 불가능

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton1.labelString: 행 열 표시기를 표시함

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton2.labelString: 행 열 표시기를 표시하지 않음

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton1.labelString: 소거 기능의 백스페이스 사용 가능

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton2.labelString: 소거 기능의 백스페이스 사용 불가능

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton1.labelString: 눈금선 사용 불가능

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton2.labelString: 항상 커서 위치에 눈금선 표시

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton3.labelString: 눈금선 키 사용 가능(커서를 따라가지 않음)

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton4.labelString: 눈금선 키 사용 가능(커서를 따라감)

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton1.labelString: 가로 및 세로 눈금선

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton2.labelString: 가로 눈금선만

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton3.labelString: 세로 눈금선만

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton1.labelString: 커서 위치에 붙여넣기

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton2.labelString: 마우스 포인터 위치에 붙여넣기

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: 커서 깜박임 사용 불가능

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: 커서 깜박임 사용 가능

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton1.labelString: 창을 이동하거나 글꼴 크기를 줄이지 않음

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton2.labelString: 창을 이동하고, 필요한 경우 글꼴 크기를 줄임

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton3.labelString: 글꼴 크기만 줄임

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton4.labelString: 큰 화면 글꼴 사용/기억

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton5.labelString: 글꼴 크기를 줄이고, 필요한 경우 창을 이동

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: 인쇄 키에 기본 맵핑 사용

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString: 인쇄 = 시스템 인쇄, Shift + 인쇄 = 로컬 인쇄

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString: 인쇄 = 로컬 인쇄, Shift + 인쇄 = 시스템 인쇄

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: 인쇄 키에 기본 맵핑 사용

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString: 인쇄 = pa1, Shift + 인쇄 = 로컬 인쇄

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString: 인쇄 = 로컬 인쇄, Shift + 인쇄 = pa1

Miscpr32*PreferenceTextFormForBracket*ToggleButton1.labelString: 대괄호 변환 사용 불가능

Miscpr32*PreferenceTextFormForBracket*ToggleButton2.labelString: 대괄호 변환 사용 가능

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton1.labelString: 로그오프 후 창 제거

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton2.labelString: 로그오프 후 창 유지

Miscpref*PreferenceTextFormForHotspots*ToggleButton1.labelString: 핫스팟 사용 불가능

Miscpref*PreferenceTextFormForHotspots*ToggleButton2.labelString: 기본 단추 한 번 클릭 시 핫스팟 사용 가능

Miscpref*PreferenceTextFormForHotspots*ToggleButton3.labelString: 기본 단추 두 번 클릭 시 핫스팟 사용 가능

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton1.labelString: 키보드 버퍼링 사용 불가능

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton2.labelString: 키보드 버퍼링 사용 가능

Miscpr52*PreferenceTextFormForTypeAhead*ToggleButton3.labelString: i5/OS 호스트 설정 사용

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton1.labelString: 오류 행에서만 다시 설정 키 또는 마우스 왼쪽 단추 사용

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton2.labelString: 추가적으로 커서 이동 키 및 모든 마우스 단추

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton3.labelString: 대부분의 키 및 모든 마우스 단추

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton1.labelString: 핫스팟 강조표시 사용 불가능

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton2.labelString: 핫스팟 강조표시 사용 가능

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton1.labelString: 선형 복사

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton2.labelString: 블록 복사

Miscpref*PreferenceTextFormForTextType*ToggleButton1.labelString:         논리 텍스트

Miscpref*PreferenceTextFormForTextType*ToggleButton2.labelString:         시각적 텍스트

Miscpref*PreferenceTextFormForTextOrientation*ToggleButton1.labelString:  왼쪽에서 오른쪽으로

Miscpref*PreferenceTextFormForTextOrientation*ToggleButton2.labelString:  오른쪽에서 왼쪽으로

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton1.labelString:     공칭

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton2.labelString:     국가별

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton3.labelString:     문맥

Miscpref*PreferenceTextFormForInsertMode*ToggleButton1.labelString: 자동 다시 설정이 사용 가능할 때 삽입 모드가 기본적으로 해제되어 있음

Miscpref*PreferenceTextFormForInsertMode*ToggleButton2.labelString: 자동 다시 설정이 사용 불가능할 때 삽입 모드가 기본적으로 해제되어 있음

Miscpref*PreferenceTextFormForInsertMode*ToggleButton3.labelString: 자동 다시 설정이 사용 가능할 때 삽입 모드가 기본적으로 설정되어 있음

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton1.labelString: 입력 전용 커서 이동 사용 불가능

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton2.labelString: 입력 전용 커서 이동 사용 가능

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton1.labelString: 오디오 알람 사용 불가능

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton2.labelString: 오디오 알람 사용 가능

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: 커서 깜박임 사용 불가능

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: 커서 깜박임 사용 가능

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton1.labelString: 응용프로그램 커서 모드 사용 불가능

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton2.labelString: 응용프로그램 커서 모드 사용 가능

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton1.labelString: 응용프로그램 키패드 모드 사용 불가능

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton2.labelString: 응용프로그램 키패드 모드 사용 가능

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton1.labelString: 자동 줄 바꾸기 사용 불가능

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton2.labelString: 자동 줄 바꾸기 사용 가능

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton1.labelString: 자동 크기 조정 사용 불가능

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton2.labelString: 자동 크기 조정 사용 가능

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton1.labelString: 자동 랩 사용 불가능

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton2.labelString: 자동 랩 사용 가능

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton1.labelString: 공백으로 화면 지우기 사용 불가능

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton2.labelString: 공백으로 화면 지우기 사용 가능

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton1.labelString: 연결끊기 시 종료 사용 불가능

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton2.labelString: 연결끊기 시 종료 사용 가능

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton1.labelString: 점프 화면이동 사용 불가능

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton2.labelString: 점프 화면이동 사용 가능

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton1.labelString: 여백 벨 사용 불가능

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton2.labelString: 여백 벨 사용 가능

MiscprVT*PreferenceTextFormForMarginBellColumn*textFieldLabel.labelString: 행 끝에서 열

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton1.labelString: 역방향 랩 사용 불가능

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton2.labelString: 역방향 랩 사용 가능

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton1.labelString: 상태 표시줄 사용 불가능

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton2.labelString: 상태 표시줄 사용 가능

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton1.labelString: 비주얼 벨 사용 불가능

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton2.labelString: 비주얼 벨 사용 가능



!**************************************
!**   Messages at bottom of window   **
!**************************************

Miscpr52*MiscprefMsgHelpRequested:     5250 세션에서 도움말이 요청되었습니다.

Miscpr32*MiscprefMsgHelpRequested:     3270 세션에서 도움말이 요청되었습니다.

MiscprVT*MiscprefMsgHelpRequested:     VT 에뮬레이터 세션에서 도움말이 요청되었습니다.

Miscpref*MiscprefMsgPreferenceApplied: 환경 설정이 임시로 적용되었습니다.

Miscpref*MiscprefMsgPreferencesSaved:  환경 설정이 저장되었습니다.

Miscpref*MiscprefMsgDefaultsApplied:   기본 환경 설정이 임시로 적용되었습니다.

Miscpref*MiscprefMsgDefaultsNotSet:    기본 환경 설정이 설정되지 않았습니다.

Miscpref*MiscprefMsgNoAccess:          디렉토리에 액세스할 수 없습니다.


Miscpref*MiscprefMsgNoMake:            디렉토리를 만들 수 없습니다.

Miscpref*MiscprefMsgFileOpenError:     저장 중 오류: 파일을 열 수 없습니다.

Miscpref*MiscprefMsgFileWriteError:    저장 중 오류: 파일에 쓸 수 없습니다.



!********************************
!**  Dialog Box Resources      **
!********************************
Miscpref*exitDialog.dialogTitle:              종료 경고

Miscpref*exitDialog.okLabelString:            저장

Miscpref*exitDialog.cancelLabelString:        저장하지 않음

! this cannot be much longer
Miscpref*exitDialog.messageString:            기타 환경 설정에서 저장되지 않은 변경사항이 있습니다.

Miscpref*setDefaultsDialog.dialogTitle:       기본값 설정 경고

Miscpref*setDefaultsDialog.okLabelString:      예
Miscpref*setDefaultsDialog.cancelLabelString: 아니오

! this cannot be much longer
Miscpref*setDefaultsDialog.messageString:     모든 환경 설정을 기본값으로 설정하시겠습니까?
/*******************************************************************************
**  saveDialog resource
*******************************************************************************/
MiscprVT*saveDialog.dialogTitle: 저장 옵션

MiscprVT*saveDialog*saveDialogTitle.labelString: 저장 옵션을 선택하십시오.

MiscprVT*saveDialog*saveChangedOnly.labelString: 변경된 환경 설정만 저장

MiscprVT*saveDialog*saveAll.labelString: 모든 환경 설정 저장

MiscprVT*saveDialog*saveButton.labelString: 저장

MiscprVT*saveDialog*cancelButton.labelString: 취소
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
