!
!
!
! This file contains the resource text strings for the IBM 3270 and IBM 5250 Emulator 
! Setup programs

! This resource file is stored in locale specific ASCII (code page 819 for Latin1 languages).

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with one of the following strings:
!      SetupXXXX* : for the combined setup program resources
!      Setup3270* : for the 3270 setup program resources
!      Setup5250* : for the 5250 setup program resources  
!      AllShare* : for resources shared by the 5250, 3270 and combined setup programs.
!    - Each string is followed by a resource name and a ":".  
!		Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.


!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*largeFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Setup5250*smallFontList:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN )   ****************
!**************************************************************************
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN )     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS ( zh_TW )   ****************
!**************************************************************************
!**** For  zh_TW
!Setup5250*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*largeFontList:       -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Setup5250*mediumFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Setup5250*smallFontList:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS ( zh_TW )     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************


! ********************************************************************************
! Setup Program Resources
! ********************************************************************************
!
! In general, the following buttons should not be made much longer during translation.
! Buttons have one to four words. Note: Testing is the only way to know for sure if all
! buttons fit on the screen ok.  The emulators have a testing document that will be used
! during testing; this will point out a problem if button text is too long. In many 
! cases, buttons are presented side by side, where the total button text length cannot
! increase significantly.
! Note: \n causes a new line and should not be translated.
! You can move, add, or remove \n within text strings.
!
! Password prompt panel 
Setup5250*passwordPromptDialogWidth:            60
Setup5250*passwordPromptDialogHeight:           10
Setup5250*passwordPanelTitle.labelString:       암호
Setup5250*passwordPanelInstructions.labelString: 요청한 조작에는 \n암호가 필요합니다. 암호를 입력하십시오.

! Password change panel 
Setup5250*passwordChangeDialogWidth:            60
Setup5250*passwordChangeDialogHeight:           21
Setup5250*passwordChangeDialog2Width:           60
Setup5250*passwordChangeDialog2Height:          17
Setup5250*passwordChangePanelTitle.labelString:       암호 변경
Setup5250*passwordChangePanelInstructions.labelString: 암호를 변경하려면 현재 암호와\n새 암호를 입력하십시오.
Setup5250*passwordChangePanelInstructions2.labelString: 암호를 설정하려면 새 암호를 입력하십시오.
Setup5250*currentPassword.labelString:          현재 암호:
Setup5250*newPassword.labelString:              새 암호:
Setup5250*newPassword2.labelString:             새 암호 확인:

! menu bar
Setup5250*ConnectionCascade.labelString:        연결
SetupXXXX*NewConnectionCascade.labelString:     새로 작성...
SetupXXXX*New3270ConnectionButton.labelString:     3270...
SetupXXXX*New5250ConnectionButton.labelString:     5250...
Setup5250*NewConnectionButton.labelString:      새로 작성...
Setup5250*NewConnectionCascade.mnemonic:        N
Setup5250*EditConnectionButton.labelString:     편집(E)...
Setup5250*EditConnectionButton.mnemonic:        E
Setup5250*BrowseConnectionButton.labelString:   찾아보기(B)...
Setup5250*BrowseConnectionButton.mnemonic:      B
Setup5250*CopyConnectionButton.labelString:     복사(C)...
Setup5250*CopyConnectionButton.mnemonic:        C
Setup5250*Copy:                                 복사
Setup5250*ConnectButton.labelString:            연결
Setup5250*RemoveConnectionButton.labelString:   제거(R)...
Setup5250*RemoveConnectionButton.mnemonic:      R
Setup5250*ExitButton.labelString:               종료(X)
Setup5250*ExitButton.mnemonic:                  X
Setup5250*PreferencesCascade.labelString:       환경 설정(P)
Setup5250*PreferencesCascade.mnemonic:          P
Setup5250*Prefs3270Button.labelString:          3270...
Setup5250*Prefs3270Button.mnemonic:             3
Setup5250*Prefs5250Button.labelString:          5250...
Setup5250*Prefs5250Button.mnemonic:             5
Setup5250*OptionsCascade.labelString:           옵션(O)
Setup5250*OptionsCascade.mnemonic:              O
Setup5250*PasswordButton.labelString:           암호...
Setup5250*HelpCascade.labelString:              도움말
Setup5250*HelpCascade.mnemonic:                 H
Setup5250*HelpAboutButton.labelString:          정보...
Setup5250*HelpContentsButton.labelString:       내용...
Setup5250*Help3270ContentsButton.labelString:   3270 설정 내용...
Setup5250*Help5250ContentsButton.labelString:   5250 설정 내용...
Setup5250*Help3270EmulatorContentsButton.labelString: 3270 에뮬레이터 내용...
Setup5250*Help5250EmulatorContentsButton.labelString: 5250 에뮬레이터 내용...
Setup5250*UserConnectionsListlabel.labelString:     사용자 연결
Setup5250*DefaultConnectionsListlabel.labelString:  기본 연결
Setup5250*ProfileConnectionsListlabel.labelString:  프로파일 연결
	
! Command lines
Setup5250*GeometryTitle.labelString:            픽셀 단위의 창 크기 및 위치(선택적)
Setup5250*GeometryTitle2.labelString:           창 크기 및 위치(선택적)
Setup5250*GeometryTitle3.labelString:           화면 크기(선택적)
Setup5250*GeometryFullScreenLabel.labelString:  전체\n화면
Setup5250*GeometryFullScreenCheckBox.labelString:
Setup5250*GeometryWidthLabel.labelString:       너비
Setup5250*GeometryHeightLabel.labelString:      높이
Setup5250*GeometryColsLabel.labelString:        열
Setup5250*GeometryRowsLabel.labelString:        행
Setup5250*GeometryHorizontalOffsetLabel.labelString: 가로\n오프셋
Setup5250*GeometryVerticalOffsetLabel.labelString:   세로\n오프셋
Setup5250*GeometryCornerLabel.labelString:      오프셋할\n모서리
Setup5250*cornerButton1.labelString:            왼쪽 상단
Setup5250*cornerButton2.labelString:            오른쪽 상단
Setup5250*cornerButton3.labelString:            왼쪽 하단
Setup5250*cornerButton4.labelString:            오른쪽 하단

! 3270 and 5250 Command Line Editing 
Setup5250*CommandLine5250EditTitle.labelString: 5250 에뮬레이터 연결
Setup5250*Advanced5250EditTitle.labelString:    고급 5250 에뮬레이터 연결
Setup5250*AS400.labelString:                    i5/OS 호스트 이름 또는\n\
IP 주소(선택적)
Setup5250*CommandLine3270EditTitle.labelString: 3270 에뮬레이터 연결
Setup5250*Advanced3270EditTitle.labelString:    고급 3270 에뮬레이터 연결
Setup5250*s390.labelString:                     S/390 호스트 이름 또는\nIP 주소(선택적)
Setup5250*ConnectionDescription.labelString:    연결 설명

Setup5250*sessionTitle.labelString:             세션 제목(선택적)
Setup5250*userid.labelString:                   에뮬레이터 사용자 ID(선택적)
Setup5250*password.labelString:                 에뮬레이터 암호(선택적)
Setup5250*displayName.labelString:              표시 이름(선택적)
Setup5250*port_string.labelString:              Telnet 포트(공백=기본값=23)
Setup5250*otherParameters.labelString:          기타 매개변수(선택적)

Setup5250*OKButton.labelString:                 확인
Setup5250*cancelButton.labelString:             취소
Setup5250*SetToDefaultsButton.labelString:      기본값으로 설정
Setup5250*helpButton.labelString:               도움말

Setup5250*advancedButton.labelString:           고급...
Setup5250*advanced5250Button.labelString:       고급 5250 연결...
Setup5250*5250PreferencesButton.labelString:    글로벌 5250 환경 설정...
Setup5250*advanced3270Button.labelString:       고급 3270 연결...
Setup5250*3270PreferencesButton.labelString:    글로벌 3270 환경 설정...
Setup5250*screenSizeLabel.labelString:          화면 크기:
Setup5250*24x80.labelString:                    24x80(Mod 2, 그래픽 없음)
Setup5250*32x80.labelString:                    32x80(Mod 3)
Setup5250*43x80.labelString:                    43x80(Mod 4, 그래픽 없음)
Setup5250*27x132.labelString:                   27x132(Mod 5, 그래픽 없음)
Setup5250*graphicsLabel.labelString:            그래픽:
Setup5250*customSize.labelString:               사용자 정의(그래픽 없음)
Setup5250*tn3270eLabel.labelString:             TN3270E:

! 3270 and 5250 Application Preferences 
Setup5250*panel5250PrefsTitle.labelString: 5250 환경 설정
Setup5250*panel5250ProfilePrefsTitle.labelString: 5250 프로파일 환경 설정
Setup5250*5250AppPrefsPanelInstructions.labelString: 5250 환경 설정은 모든 5250 연결에 적용됩니다.
Setup5250*panel3270PrefsTitle.labelString: 3270 환경 설정
Setup5250*panel3270ProfilePrefsTitle.labelString: 3270 프로파일 환경 설정
Setup5250*3270AppPrefsPanelInstructions.labelString: 3270 환경 설정은 모든 3270 연결에 적용됩니다.

Setup5250*keymapAreaLabel.labelString: 키보드 맵핑:
Setup5250*keymapLabel.labelString: 키 재맵핑\n성능:

Setup5250*keypadAreaLabel.labelString: 키패드:
Setup5250*keypadLabel.labelString: 키패드 성능:

Setup5250*recplayAreaLabel.labelString: 레코드/재생:
Setup5250*recplayLabel.labelString: 레코드/재생\n성능:

Setup5250*colorsAreaLabel.labelString: 색상:
Setup5250*colorsLabel.labelString: 색상\n사용자 정의\n성능:

Setup5250*appearanceAreaLabel.labelString: 모양:
Setup5250*wideScreenLabel.labelString: 132열:
Setup5250*columnSepLabel.labelString: 열 분리 문자:
Setup5250*enterKeyLabel.labelString: Enter 기능용\n키:

Setup5250*allowUseAreaLabel.labelString: 사용 허용:
Setup5250*commandMenuLabel.labelString: 명령 메뉴:
Setup5250*editLabel.labelString: 편집 메뉴:
Setup5250*optionLabel.labelString: 옵션 메뉴:
Setup5250*printLabel.labelString: 인쇄 메뉴:
Setup5250*helpLabel.labelString: 도움말 메뉴:
Setup5250*controlLabel.labelString: 제어 메뉴:
Setup5250*graphicsLabel.labelString: 그래픽:
Setup5250*miscPrefLabel.labelString: 기타\n환경 설정:
Setup5250*fontMenuLabel.labelString: 글꼴 메뉴 목록:
Setup5250*newSessionLabel.labelString: 새 세션\n창:
Setup5250*browserLabel.labelString: 브라우저 핫스팟:
Setup5250*desktopLabel.labelString: 데스크탑 파일:

Setup5250*authenticationParameters.labelString: 인증 매개변수:
Setup5250*additionalParameters.labelString: 추가 매개변수:

! preference choice values.
Setup5250*prefdefault.labelString: 기본
Setup5250*prefEnabled.labelString: 사용 가능
Setup5250*prefDisabled.labelString: 사용 불가능
Setup5250*prefHidden.labelString: 숨김
Setup5250*prefBasic.labelString: 기본
Setup5250*prefAdvanced.labelString: 고급
Setup5250*prefPlaybackOnly.labelString: 재생 전용
Setup5250*prefNoResizeOrMove.labelString: 아니오, 크기 조정 또는 이동 없음
Setup5250*prefFixedFontsOnly.labelString: 고정 글꼴 전용
Setup5250*prefKeypadOnly.labelString: 키패드 전용
Setup5250*prefKeyboardPrintOnly.labelString: 메뉴 없음, 키보드 인쇄 전용
Setup5250*prefYes.labelString:  예
Setup5250*prefNo.labelString: 아니오
Setup5250*prefEnterKey.labelString: Enter 키
Setup5250*prefControlKey.labelString: Ctrl 키
Setup5250*pref24x80.labelString: 24x80(그래픽 없음)
Setup5250*pref32x80.labelString: 32x80
Setup5250*pref43x80.labelString: 43x80(그래픽 없음)
Setup5250*pref27x132.labelString: 27x132(그래픽 없음)
Setup5250*prefNoAllowWMClose.labelString: 아니오, 그러나 창 닫기 허용
Setup5250*prefYesReadOnly.labelString: 예, 그러나 읽기 전용

! 3270 scrolled window sizes.
Setup5250*CommandLine3270SizeWidth:                26
Setup5250*CommandLine3270SizeHeight:               22
Setup5250*CommandLine3270AdvSizeWidth:             68  
Setup5250*CommandLine3270AdvSizeHeight:            33 
Setup5250*AppPrefs3270SizeWidth:                   56 
Setup5250*AppPrefs3270SizeHeight:                  30 

! 5250 scrolled window sizes.
Setup5250*CommandLine5250SizeWidth:             36
Setup5250*CommandLine5250SizeHeight:            22
Setup5250*CommandLine5250AdvSizeWidth:          75
Setup5250*CommandLine5250AdvSizeHeight:         29 
Setup5250*AppPrefs5250SizeWidth:                65 
Setup5250*AppPrefs5250SizeHeight:               30 

! messages
Setup5250*SetNonKioskPrefsDialog.okLabelString:       예
Setup5250*SetNonKioskPrefsDialog.cancelLabelString:  아니오
Setup5250*SetKioskPrefsDialog.okLabelString:       예
Setup5250*SetKioskPrefsDialog.cancelLabelString:  아니오
Setup5250*SetKioskPrefsDialog.messageString: 단일 에뮬레이터 모드의 모든 에뮬레이터 환경 설정을\n기본값으로 설정하시겠습니까?
Setup5250*SetNonKioskPrefsDialog.messageString: 다중 응용프로그램 모드의 모든 에뮬레이터 환경 설정을\n기본값으로 설정하시겠습니까?
Setup5250*removeConnectionConfirmation.messageString: 선택한 연결을 제거하시겠습니까?
Setup5250*Emulator5250Starting: 5250 에뮬레이터가 시작 중입니다.  기다리십시오.
Setup5250*Emulator3270Starting: 3270 에뮬레이터가 시작 중입니다.  기다리십시오.
Setup5250*3270PreferencesChanged: 변경된 환경 설정이 적용되려면 현재의 모든\n3270 에뮬레이터 세션을 닫아야 합니다.
Setup5250*Current3270SessionIsNotForConfiguration.messageString: 프로파일을 수정하기 위해 3270 세션을 시작하기 전에\n먼저 모든 정규 3270 에뮬레이터 세션이 종료됩니다.
Setup5250*Current3270SessionIsForConfiguration.messageString: 정규 3270 세션을 시작하기 전에 먼저 모든 프로파일을\n수정하기 위해 3270 에뮬레이터 세션이 종료됩니다.
Setup5250*5250PreferencesChanged: 변경된 환경 설정이 적용되려면 현재의 모든\n5250 에뮬레이터 세션을 닫아야 합니다.
Setup5250*Current5250SessionIsNotForConfiguration.messageString: 프로파일을 수정하기 위해 5250 세션을 시작하기 전에\n먼저 모든 정규 5250 에뮬레이터 세션이 종료됩니다.
Setup5250*Current5250SessionIsForConfiguration.messageString: 정규 5250 세션을 시작하기 전에 먼저 모든 프로파일을\n수정하기 위해 5250 에뮬레이터 세션이 종료됩니다.
! error messages
Setup5250*ErrorPasswordIncorrect:               입력한 암호가 올바르지 않습니다.
Setup5250*ErrorCurrentPasswordIncorrect:        현재 암호가 올바르지 않습니다.
Setup5250*ErrorNewPasswordsDontMatch:           새 암호 확인이 새 암호와 일치하지 않습니다.
Setup5250*ErrorCantRemoveDefaultPWOnlyOverrideIt:  기본 암호를 제거할 수 없습니다.\n사용자 암호와 바뀔 뿐입니다.
Setup5250*ErrorNoConnectionDescription:         연결 설명을 지정해야 합니다.
Setup5250*ErrorConnectionDescriptionExistsAlready:  입력한 연결 설명이 이미 존재합니다.
Setup5250*ErrorUseUserIDInvalidDisplayName:     표시 이름 USE_USER_ID가 지원되지 않습니다.
Setup5250*ErrorNonNumericDataNotAllowed:        숫자가 아닌 데이터는 허용되지 않습니다.

! misc
Setup5250*okLabelString:                        확인
Setup5250*cancelLabelString:                    취소
SetupXXXX*title:                                에뮬레이터 설정
SetupXXXX*iconName:                             에뮬레이터 설정
Setup3270*title:                                3270 설정
Setup3270*iconName:                             3270 설정
Setup5250*title:                                5250 설정
Setup5250*iconName:                             5250 설정
Setup5250*keymapFilename.labelString:           키맵 파일 이름(선택적)
Setup5250*keypadFilename.labelString:           키패드 파일 이름(선택적)	
Setup5250*sslFilename.labelString:              SSL 파일 이름(선택적)

! help dialog.
SetupXXXX*helpAboutTextTitle.labelString: IBM 에뮬레이터 설정 정보
SetupXXXX*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n이 설치 프로그램은 IBM 에뮬레이터를 구성하고 시작하는 데 사용됩니다.
Setup5250*helpAboutTextTitle.labelString: IBM 에뮬레이터 설정 정보
Setup5250*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n이 설치 프로그램은 IBM 5250 에뮬레이터를 구성하고 시작하는 데 사용됩니다.
Setup3270*helpAboutTextTitle.labelString: IBM 3270 에뮬레이터 설정 정보
Setup3270*helpAboutText.value: (C) Copyright 2001, 2005 IBM Corporation, All rights reserved.\n\
\n이 설치 프로그램은 IBM 3270 에뮬레이터를 구성하고 시작하는 데 사용됩니다.

!arabic parameters
Setup5250*arabicParametersLabel.labelString: 아라비아 매개변수
Setup5250*allocateLamAlefLabel.labelString: LamAlef용 공간을\n\
 할당합니다.
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
