Package: smartcard-lite
Version: 2.0-1
Architecture: i386
Maintainer: Steffen Hoenig <s.hoenig@openthinclient.com>
Installed-Size: 29
Depends: base
Conflicts: smartcard
Section: unknown
Priority: optional
Description: automates the invocation of pcscd
