########################################################################################################
#
# iSeries Access for Linux SSL (Secure Sockets Layer) stunnel sample configuration.
# See stunnel man pages for more info on stunnel.
#
# This stunnel configuration will allow iSeries Access for Linux to use SSL/encrypted connections
# to one or more iSeries.  You must first setup your iSeries and iSeries Access servers for SSL
# using the steps outlined in the IBM iSeries Information Center.
# http://publib.boulder.ibm.com/infocenter/iseries/v5r3/ic2924/index.htm
#
# How To:
#
# 1. Modify all instances of "iSeriesSystemName" below with your iSeries system name
#
# 2. As root or sudo run: "stunnel iSeriesAccess.stunnel.config"  This will start the SSL tunnels.
#
# 3. Use iSeries Access functions specifying "localhost" as the iSeries system name.
#    The connections will be mapped through SSL tunnels to the iSeries.
#    You can also map your host names with your /etc/hosts file.
#    For example in /etc/hosts:
#    127.0.0.1 SSLiSeries
#
# Optionals steps...
#
# 4. If you want server certificate validataion, use the steps outlined below in the Verify section.
#    By default, no server certificate validation is done.
#
# 5. If you want to connect to multiple iSeries, duplicate the entire "Services" section below.
#    Modify each service name ([...]) with your iSeries system name to make it unique.
#    Modify each accept= line to contain a unique local address (127.0.0.2, 127.0.0.3, ...)
#    Modify each connect= line with your next iSeries system name.
#    For example:
#      [Telnet-AnotheriSeries]
#      accept = 127.0.0.2:23
#      connect = AnotheriSeries:992
#    Then make your iSeries Access connections use the 127.0.0.2 or add a new SSL iSeries system name
#    alias to your /etc/hosts file.
#    For example in /etc/hosts:
#    127.0.0.2 SSLAnotheriSeries
#
########################################################################################################

# Enable client mode
client = yes

# Debug and Foreground are for testing
# Uncomment for debugging stunnel problems
##debug = 5
##foreground = yes

# Verify is for server certificate validation.
#
# CAFile is the Certificate Authority (CA) that signed your iSeries server certificate
# that assigned to the iSeries Access servers.
#
# If you created the CA on the iSeries, you can download it from the iSeries file system:
# > smbclient //iSeriesSystemName/qibm
#   smb: >cd  \userdata\icss\cert\certauth
#   smb: >get ca.txt
#   smb: >quit
# This ca.txt file needs to be converted from ebcdic using iconv:
# > iconv -f IBM037 -t IBM437 ca.txt -o ca.txt
# The ca.txt file contents will then look like the following:
# -----BEGIN CERTIFICATE-----
#  ....
# -----END CERTIFICATE-----
#
# Uncomment and modify the CAFile to point to your ca.txt file
##CAFile = /ca.txt
# Uncomment and modify the verify to enable CA validation
##verify = 2

########################################################################################################
# Services: The following sections contain the port maps for iSeries Access connections.

# Used for 5250 Telnet emulation (ibm5250)
[telnet]
accept = 23
connect = iSeriesSystemName:992

# Used for license and conversion tables (ibm5250, cwbnltbl)
[as-central]
accept = 8470
connect = iSeriesSystemName:9470

# Used for ODBC (rmtodbc, cwbrunsql, isql, DataManager, ...)
[as-database]
accept = 8471
connect = iSeriesSystemName:9471

# Used for Remote commands (rmtcmd)
[as-rmtcmd]
accept = 8475
connect = iSeriesSystemName:9475

########################################################################################################

