! ENGLISH_SOURCE_VERSION= 1.4.1.2 
!
!
!
! This file contains the resource text strings for the IBM Network Station 3270 and 5250
! emulators, in particular the color mapping program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. Resource format: 
!    - A resource line starts with ColorMap* followed by a resource name
!      and a ":".  Do NOT make any changes to the text to the left of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
ColorMap*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
ColorMap*largeFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
ColorMap*mediumFontList:     -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
ColorMap*smallFontList:      -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!ColorMap*largeFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!ColorMap*smallFontList:      -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*
!ColorMap*largeFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal--16-*-*-*-c-*
!ColorMap*smallFontList:      -*-*-medium-r-normal--16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************
!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!ColorMap*extraLargeFontList: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!ColorMap*largeFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!ColorMap*mediumFontList:     -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!ColorMap*smallFontList:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************

ColorMap*title: 			Farbzuordnung

! icons
ColorMap*iname3270:                     3270 Farbzuordnungstabelle
ColorMap*iname5250:                     5250 Farbzuordnungstabelle


ColorMap*corrupt:               Die Farbdatei wurde beschädigt.

ColorMap*lowMemMsgDialog.messageString:  Der Speicher reicht zum Starten der Hilfeanzeige nicht aus.

ColorMap*okLabelString: OK

ColorMap*cancelLabelString: Abbrechen

!*******************************************************************************
!**     Preferences area resources (top of window)                            **
!*******************************************************************************
ColorMap*modeInstructions.labelString:  Wählen Sie die gewünschte Farbzuordnungsfunktion aus:

ColorMap*Basic.labelString:             Standard

ColorMap*Advanced.labelString:          Erweitert


!*************************************************************
!**   Basic and advanced action bar area resources          **
!*************************************************************
ColorMap*actionForm.saveButton.labelString:  	Speichern

ColorMap*actionForm.deleteButton.labelString:   Löschen

ColorMap*actionForm.applyButton.labelString:    Änderungen auf Sitzung anwenden

ColorMap*actionForm.quitButton.labelString:     Verlassen

ColorMap*actionForm.helpButton.labelString:     Hilfe


!************************************************
!**  Basic and advanced color savebox          **
!************************************************
ColorMap*saveBoxLabel.labelString:         Wählen Sie eine Speicherungsoption aus:

ColorMap*saveBoxToggle1.labelString:       Als Standardeinstellung für alle Sitzungen speichern

ColorMap*saveBoxToggle2.labelString:       Nur für diese Sitzung speichern

ColorMap*saveBoxSaveBtn.labelString:  	   Speichern

ColorMap*saveBoxCancelBtn.labelString:     Abbrechen

ColorMap*advancedSaveBoxLabel.labelString: Geben Sie den Namen einer erweiterten Farbdatei ein:

! Characters in file names must be 819 (ISO8859-1)
ColorMap*invalidFileName.value:            Das eingegebene Zeichen darf nicht in einem Dateinamen verwendet werden.

ColorMap*invalidFileNameOkbutton.labelString:  OK

!****************************************
!**  Overwrite existing file dialog    **
!****************************************
ColorMap*fileWarningDialog.dialogTitle:        Warnung zur Farbzuordnung

ColorMap*fileWarningDialog.messageString:      Die Datei ist bereits vorhanden. Soll die Datei überschrieben werden?

ColorMap*fileWarningDialog.okLabelString:      Ja

ColorMap*fileWarningDialog.cancelLabelString:  Nein



!***************************************
!**  Basic color work area            **
!***************************************
ColorMap*basicListLabel.labelString:        Wählen Sie ein Farbschema aus:

! The following two resource lines are a late addition to the color mapping resource file (March 12, 1998).  These indicate color map files that came from a system level or user created color map files.
ColorMap*systemLabel:                       System:

ColorMap*userLabel:                         Benutzer:

ColorMap*ibmBlack:                          IBM: Schwarzer Hintergrund

ColorMap*ibmDarkGrey:                       IBM: Dunkelgrauer Hintergrund

ColorMap*ibmLightGrey:                      IBM: Hellgrauer Hintergrund

ColorMap*ibmLight:                          IBM: Heller Hintergrund

ColorMap*ibmLightBlue:                      IBM: Hellblauer Hintergrund



!******************************************
!**  Advanced color work area            **
!******************************************
ColorMap*advancedListLabel.labelString:     Wählen Sie ein Konstrukt aus, das Sie ändern möchten:

! The following 22 *adv type resources are limited in size; they should not exceed 28 characters.
ColorMap*advMenuBarBack:                    Hintergrund für Menüleiste

ColorMap*advMenuBarFore:                    Vordergrund für Menüleiste

ColorMap*advMainSess:                       Hintergrund der Hauptsitzung

ColorMap*advPushbut:                        Hintergrund für den Druckknopf

ColorMap*advBlue:                           Blauer Text

ColorMap*advGreen:                          Grüner Text

ColorMap*advPink:                           Rosafarbener Text

ColorMap*advRed:                            Roter Text

ColorMap*advTurq:                           Türkisfarbener Text

ColorMap*advWhite:                          Weißer Text

ColorMap*advYellow:                         Gelber Text

ColorMap*advCursor:                         Cursor

ColorMap*advMouse:                          Mauszeiger

ColorMap*advRule:                           Lineal

ColorMap*advStatLineBack:                   Hintergrund der Statuszeile

ColorMap*advStatLineFore:                   Vordergrund der Statuszeile

ColorMap*advMonoImageBack:                  Hintergrund des Schwarzweißimages

ColorMap*advMonoImageFore:                  Vordergrund des Schwarzweißimages

! Note: foreground color used for assist program windows
ColorMap*advAssistFore:                     Vordergrund des Hilfsprogramms

! Note: button background for assist program windows
ColorMap*advAssistForm:                     Schaltfläche des Hilfsprogramms

! Note: main background color for assist program windows
ColorMap*advAssistPrimary:                  Hauptfarbe für Hilfsprogramm

! Note: entry area background color for assist program windows
ColorMap*advAssistEntry:                    Eingabebereich für Hilfsprogramm


ColorMap*red.titleString:                   ROT 

ColorMap*green.titleString:                 GRÜN

ColorMap*blue.titleString:                  BLAU 

ColorMap*currentColorLabel.labelString:     Aktuelle Farbe

ColorMap*applyCurrentColor.labelString:     Aktuelle Farbe anwenden


!************************************
!**  Delete file dialog            **
!************************************
ColorMap*deleteDialog.deleteBoxDeleteBtn.labelString:  Löschen

ColorMap*deleteDialog.deleteBoxCancelBtn.labelString:  Abbrechen

! title of delete dialog
ColorMap*deleteDialog.dialogTitle:                     Farbzuordnungsdatei löschen

ColorMap*deleteDialog.deleteBoxLabel.labelString:      Wählen Sie die Datei(en) aus, die Sie löschen möchten:

ColorMap*deleteDialog.deleteBoxLabelAlt.labelString:   Es sind keine Dateien zum Löschen vorhanden.

! message at bottom of primary window
ColorMap*selectedDeleted:                              Die ausgewählte(n) Farbzuordnungsdatei(en) wurde(n) gelöscht.


!*****************************************************
!**  Delete file verification dialog box            **
!*****************************************************
ColorMap*deleteVerifyDialog.dialogTitle:        Löschen bestätigen

ColorMap*deleteVerifyDialog.okLabelString:      OK

ColorMap*deleteVerifyDialog.cancelLabelString:  Abbrechen

! this cannot be much longer
ColorMap*noUndoDelete:                          Das Löschen von Dateien kann nicht rückgängig gemacht werden.Möchten Sie mit dem Löschen fortfahren?

ColorMap*noFilesDelete:                         Es wurden keine Dateien ausgewählt.Der Löschvorgang ist ungültig.


!****************************************************
!**  Emulator preference in construct list         **
!**						   **
!**  MAX:  text should be less than 15 characters  **
!****************************************************
ColorMap*emuPrefMenuLabel.labelString:       Menüleiste

ColorMap*emuPrefBlueText.labelString:        Blauer Text

ColorMap*emuPrefGreenText.labelString:       Grüner Text

ColorMap*emuPrefPinkText.labelString:        Rosafarbener Text

ColorMap*emuPrefRedText.labelString:         Roter Text

ColorMap*emuPrefTurquoiseText.labelString:   Türkisfarbener Text

ColorMap*emuPrefWhiteText.labelString:       Weißer Text

ColorMap*emuPrefYellowText.labelString:      Gelber Text

ColorMap*emuPrefPbBackground.labelString:    Druckknopf

ColorMap*emuPrefStatusLine.labelString:      Statuszeile

ColorMap*groupBoxLabel.labelString:          Hilfsprogramm

ColorMap*entryAreaLabel.labelString:         Eingabebereich

ColorMap*helperFormLabel.labelString:        Schaltfläche


!**************************
!**  Error dialog boxes  **
!**************************
ColorMap*noColorCellsMsgText.value: Die zum Starten des Farbzuordnungsprogramms notwendigen Farbressourcen konnten nicht zugeordnet werden.Schließen Sie eine Anwendung, für die viele Farben benötigt werden, und versuchen Sie es erneut.

ColorMap*setColorMsgText.value:      Es wurden nicht alle Farben auf die Emulationssitzung angewendet.Die richtigen Farben werden gespeichert, wenn Sie die Option 'Speichern' auswählen.

ColorMap*setColorFailureCancelBtn.labelString:        Abbrechen

ColorMap*invalidColor:   Die folgenden Vorder- und Hintergrundfarben liegen zu dicht beieinander: 


!**********************************
!**  General Error dialog boxes  **
!**********************************
ColorMap*noAdvanced.value:            Die Farbressourcen für eine voll funktionsfähige Farbzuordnung konnten nicht zugeordnet werden.

ColorMap*noAdvancedOkbutton.labelString:  OK


!*******************************************************************************
!**  quitDialog resources                                                     **
!*******************************************************************************
ColorMap*quitDialog.dialogTitle:           Warnung zum Verlassen

ColorMap*quitDialog1:                      Die Farben im Emulator wurden geändert, aber nicht angewendet oder gespeichert.

ColorMap*quitDialog2:                      Die Farben im Emulator wurden geändert und angewendet, aber nicht gespeichert.

ColorMap*quitDialog3:                      Die Farben im Emulator wurden geändert und gespeichert, aber nicht angewendet.

ColorMap*quitDialog*exitBox.labelString:   Verlassen

ColorMap*quitDialog*cancelBox.labelString: Abbrechen

ColorMap*quit1Tog1:                        Verlassen, ohne die Änderungen anzuwenden oder zu speichern.

ColorMap*quit2Tog1:                        Verlassen, ohne die Änderungen zu speichern.

ColorMap*quitDialog*quitTog2.labelString:  Änderungen vor dem Verlassen anwenden und speichern.

ColorMap*quit3Tog1:                        Verlassen, ohne die Änderungen anzuwenden.

ColorMap*quitTog3.labelString:             Änderungen vor dem Verlassen auf diese Sitzung anwenden.

ColorMap*quitDialog*quitTog4.labelString:  Änderungen vor dem Verlassen speichern.


!*******************************************************************************
!**  Informational Messages                                                   **
!*******************************************************************************
ColorMap*InfoMsgColorsSaved:    Die Farben wurden in folgender Datei gespeichert: 

ColorMap*tempApp:               Vorübergehend auf die Emulationssitzung angewendete Farben.

ColorMap*notLoaded:             Die Farbdatei konnte nicht geladen werden.Überprüfen Sie, ob die Datei noch vorhanden ist.

ColorMap*errorLoad:             Das Format der Farbdatei ist ungültig.


! this resource should contain one black space character; do not translate.
ColorMap*blank:  

ColorMap*chooseApply:           Wählen Sie die Option 'Anwenden' aus, damit die Farben auf diese Sitzung angewendet werden.

ColorMap*noAccessDir:           Auf das Verzeichnis konnte nicht zugegriffen werden.

! this cannot be made any longer during translation
ColorMap*noOpenFile:            Die Farbzuordnungsdatei konnte nicht geöffnet werden: 

ColorMap*noMakeDir:             Das Verzeichnis konnte nicht erstellt werden.

ColorMap*noDeterminePath:       Der Dateipfad konnte nicht bestimmt werden.
