#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1




CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif


####### debian/deschd/deschd-module/

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

#	# Add here commands to compile the package.
#	# $(MAKE)
#	#docbook-to-man debian/remote-connect.sgml > remote-connect.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

#	# Add here commands to clean up after the build process.
#	# -$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 

# 	# copy the things we need inside a temporary copy 
#	# we use hardlinks to save time and discspace


	rm -rf debian/tempcopy debian/remote-connect 
	mkdir -p debian/tempcopy debian/remote-connect/sfs/package && \
	cp -al package-rootfs debian/tempcopy/ && \
	cp -al tcos debian/tempcopy/package-rootfs/opt/remote-connect/ 

	cd debian/tempcopy/package-rootfs && mksquashfs . ../../remote-connect/sfs/package/remote-connect.sfs -noappend -always-use-fragments -comp xz
#	# schema is not a part of the sfs-file 
	cp -al schema debian/remote-connect/

install_local: build
	dh_testdir
	dh_testroot
	dh_clean -k 

# 	# copy the things we need inside a temporary copy 
#	# we use hardlinks to save time and discspace

	rm -rf debian/tempcopy debian/remote-connect 
	mkdir -p debian/tempcopy debian/remote-connect/sfs/package && \
	cp -al package-rootfs debian/tempcopy/ && \
	cp -al tcos debian/tempcopy/package-rootfs/opt/remote-connect/ 

	cd debian/tempcopy/package-rootfs && mksquashfs . ../../remote-connect/sfs/package/remote-connect.sfs -noappend -always-use-fragments -comp xz
	cp -lf debian/remote-connect/sfs/package/remote-connect.sfs  /opt/openthinclient/server/default/data/nfs/root/sfs/package/
	cp -lf schema/application/remote-connect.xml /opt/openthinclient/server/default/data/nfs/root/schema/application/

#	# schema is not a part of the sfs-file 
#	cp -al schema debian/remote-connect/



# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installchangelogs 
#	dh_installdocs
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
