#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[de]=iceweasel
Name[de]=Browser
Exec=iceweasel %U
Comment[de_DE]=Im Internet surfen
Name=Browser
Comment=browse the Internet
Icon=iceweasel
