Source: tcos-branding
Section: unknown
Priority: optional
Maintainer: Steffen Hoenig <s.hoenig@openthinclient.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: tcos-branding
Architecture: any
Depends:
Description: openthinclient look and feel
 Have background images and other stuff to get a different look.
