!
!
!
! This file contains the resource text strings for the IBM Network Station 3270, 5250, and
! VTxxx emulators, in particular the miscellaneous preferences program.

! This resource file will be stored on all servers in locale specific ASCII (819 for Latin1
! languages). 

! Resource file format:
! 1. Standard ASCII text file.
! 2. Comment lines are preceded by a "!" character in column 1 (these lines not translated).
! 3. This resource file contains text strings for the 3270 and 5250 emulators.  Much of
!    the resource text is common to all emulators. Some is specific to one emulator.
!    Miscpref = Resources used by both 3270 and 5250 emulators.
!    Miscpr32 = Resources used by the 3270 emulator.
!    Miscpr52 = Resources used by the 5250 emulator.
!    MiscprVT = Resources used by the VT emulator.
! 4. Resource format: 
!    - A resource line starts with Miscpref*, Miscpr32*, Miscpr52*,or MiscprVT*, followed by 
!      a resource name and a ":".  Do NOT make any changes to the text to the left
!      of the first ":"
!    - Text to the right of the first ":" on a line is translated.

!******************************************************************************
!************************ BEGIN DO NOT TRANSLATE ******************************
!******************************************************************************
!*   The first section of resources are are locale specific but               *
!*   DO NOT REQUIRE TRANSLATION.                                              *
!*                                                                            *
!* This source file enables the resource section for Latin1 and Latin2.       *
!*                                                                            *
!* For ru_RU or Latin5 locales and DBCS locales                               *
!*      1. Place a '!' as the first character in each line in the Latin1      *
!*      and Latin2 section                                                    *
!*      2. Remove the '!' character for each resource line in the apropriate  *
!*      section that matches your locale.                                     *
!*                                                                            *
!* For example, ru_RU should place ! in front of all lines in the LATIN1      *
!* section remove the ! from all lines in the LATIN5 section.                 *      
!******************************************************************************

!**************************************************************************
!****************   BEGIN LATIN1 and LATIN2                ****************
!**************************************************************************
Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-*-*-*-*-m-110-*-*
Miscpref*large_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-m-90-*-*
Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-*-*-*-*-m-70-*-*
Miscpref*small_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-m-60-*-*
!**************************************************************************
!****************   END LATIN1 and LATIN2                  ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN LATIN5                           ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-*-*-*-*-c-100-*-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-c-90-*-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-*-*-*-*-c-70-*-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal-*-*-*-*-*-c-60-*-*
!**************************************************************************
!****************   END   LATIN5                           ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (ja_JP ko_KR zh_CN)   ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal-*-24-*-*-*-c-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal-*-16-*-*-*-c-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal-*-16-*-*-*-c-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal-*-16-*-*-*-c-*
!**************************************************************************
!****************   END DBCS (ja_JP ko_KR zh_CN)     ****************
!**************************************************************************

!**************************************************************************
!****************   BEGIN DBCS (zh_TW)   ****************
!**************************************************************************
!Miscpref*extra_Large_Font_List: -*-*-medium-r-normal--24-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--24-240-0-0-c-*
!Miscpref*large_Font_List:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Miscpref*medium_Font_List:      -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!Miscpref*small_Font_List:       -*-*-medium-r-normal--16-*-*-*-c-*,-arphic-ar pl mingti2l big5-medium-r-normal--16-160-0-0-c-*
!**************************************************************************
!****************   END DBCS (zh_TW)     ****************
!**************************************************************************

!**************************************************************************
!****************   END DO NOT TRANSLATE                   ****************
!**************************************************************************

!*******************************************************************
!*******   Miscellaneous Preferences Resources           ***********
!*******************************************************************
Miscpr52*title:     5250 雜項喜好設定

Miscpr32*title:     3270 雜項喜好設定

MiscprVT*title:     VT 模擬器雜項喜好設定

Miscpref*iconName:  雜項喜好設定

Miscpref*okLabelString: 確定

Miscpref*cancelLabelString: 取消


!***********************************************
!**     Action Bar Area Resources             **
!***********************************************
Miscpref*saveButton.labelString: 儲存

Miscpref*exitButton.labelString: 結束

Miscpref*setDefaultsButton.labelString: 設定預設值

Miscpref*helpButton.labelString: 說明


!*********************************************************
!**     Preference Buttons Area Resources               **
!**							**
!*********************************************************
Miscpref*preferencesListInstructions.labelString: 選取喜好設定

Miscpref*CursorStyleItem:                         游標樣式

Miscpr52*EnterKeyLocationItem:                    Enter 鍵/欄位結束鍵

Miscpr32*EnterKeyLocationItem:                    Enter 鍵
	
Miscpr52*AutomaticHelpItem:                       自動說明

Miscpr52*BlueUnderscoreItem:                      藍色底線

Miscpref*RowColumnIndicatorItem:                  列直欄指示器

Miscpref*DestructiveBackspaceItem:                刪除性倒退鍵

Miscpref*RuleLineEnableItem:                      尺規啟用

Miscpref*RuleLineStyleItem:                       尺規樣式

Miscpref*PasteStartLocationItem:                  貼上開始位置

Miscpref*CursorBlinkItem:                         游標閃爍

Miscpr52*LargeScreenBehaviorItem:                 大畫面行為

Miscpref*PrintKeyLocationItem:                    列印鍵

Miscpr32*BracketItem:                             方括弧

Miscpr32*AutomaticReconnectItem:                  自動重新連線

Miscpref*HotspotsItem:                            熱點

Miscpref*TypeAheadItem:                           鍵盤緩衝

Miscpr52*ErrorResetKeys:                          錯誤重設鍵

Miscpref*HotspotHighlight:                        熱點強調顯示

Miscpref*DefaultCopyType:                         預設複製類型

Miscpref*TextType:                                文字類型

Miscpref*TextOrientation:                         文字定向

Miscpref*NumeralShape:                            數字外形

Miscpref*InsertMode:                              插入模式

Miscpref*InputOnlyCursorMovement:                 僅限輸入的游標移動

Miscpref*AudioAlarm:                              音效警告聲

MiscprVT*CursorBlinkItem:           游標閃爍

MiscprVT*ApplicationCursor:         應用程式游標模式

MiscprVT*ApplicationKeypad:         應用程式小鍵盤模式

MiscprVT*AutoLineFeed:              自動換行

MiscprVT*AutoResize:                自動調整大小

MiscprVT*AutoWrapAround:            自動換行

MiscprVT*ClearScreenWithBlanks:     清除含有空白的畫面

MiscprVT*ExitOnDisconnect:          斷線時結束

MiscprVT*JumpScroll:                跳躍捲動

MiscprVT*MarginBell:                邊距鈴聲

MiscprVT*MarginBellColumn:          邊距鈴聲直欄

MiscprVT*ReverseWrapAround:         反向換行

MiscprVT*VisibleStatusLine:         可見的狀態行

MiscprVT*VisualBell:                視覺化鈴聲
	
!*************************************************************
!**     Preference Text Area Resources (Explanation Box)    **
!*************************************************************
Miscpref*CursorStyleText.value: 可能的游標樣式包括底線和區塊游標。根據是否設定插入模式，游標樣式可以設為一律底線、一律區塊或底線與區塊的組合。

MiscprVT*CursorStyleText.value: 游標樣式可以設為一律底線或一律區塊。

MiscprVT*CursorBlinkText.value: 可以啟用或停用游標閃爍。如果啟用閃爍游標，只有當視窗取得焦點時，游標才會閃爍。

MiscprVT*ApplicationCursorText.value: 游標鍵最初可以處於應用程式模式或游標模式。在應用程式模式下，使用方向鍵時會產生 ANSI ESC 序列，而非標準游標移動。

MiscprVT*ApplicationKeypadText.value: 數字鍵最初可以處於應用程式模式或數字模式。在應用程式模式下，使用數字鍵時會產生控制功能而非數值字元。

Miscpr52*EnterKeyLocationText.value: 輸入、新增一行及欄位文字結束功能的按鍵可以從下面的預設對映來加以變更。Enter 鍵和右 Ctrl 鍵提供這些功能不同的組合。

Miscpr32*EnterKeyLocationText.value: 輸入和新增一行功能的按鍵可以從下面的預設對映來加以變更。Enter 鍵和右 Ctrl 鍵提供這些功能不同的組合。

Miscpr52*AutomaticHelpText.value: 由於鍵盤操作員錯誤，會自動按下「說明」鍵。自動「說明」鍵通常會顯示第一層說明本文的第一行來解釋操作員錯誤。停用自動「說明」鍵會顯示 4 位數字的操作員錯誤。如果出現這種情況，使用者仍然可以手動按下「說明」鍵以取得第一層說明本文。

Miscpr52*BlueUnderscoreText.value: 預設的底線顏色可以變更為藍色。

Miscpref*RowColumnIndicatorText.value: 列直欄指示器是顯示在狀態行右側的游標位置之列及直欄。可以顯示或不顯示列直欄指示器。請注意，如果未顯示游標，則不管此設定為何，都不會顯示列直欄指示器。

Miscpref*DestructiveBackspaceText.value: 倒退功能可以是刪除性或非刪除性。如果是刪除性，倒退功能會在游標往回移經輸入欄位時將資料消除。如果是非刪除性，倒退功能就不會在游標往回移經輸入欄位時將資料消除。

Miscpref*RuleLineEnableText.value: 尺規幫助顯示游標的位置或先前的位置。可以完全停用它、一直啟用它，或由尺規鍵控制它。由尺規鍵控制時，尺規可以保持不動或跟隨游標。

Miscpref*RuleLineStyleText.value: 顯示尺規時，可以採用下列三種格式的其中一種：水平線、垂直線或水平線與垂直線。

Miscpref*PasteStartLocationText.value: 可以定義要在游標位置或在滑鼠指標位置處發生與按下移位的次要滑鼠按鈕相關聯的貼上操作。請注意，此喜好設定不影響從下拉功能表貼上。一律在游標位置處執行下拉功能表貼上。

Miscpr52*CursorBlinkText.value: 可以啟用或停用游標閃爍。當啟用時，游標閃爍受到應用程式控制。當停用時，游標不會閃爍。

Miscpr32*CursorBlinkText.value: 可以啟用或停用游標閃爍。當啟用時，游標一直閃爍。當停用時，游標不會閃爍。

Miscpr52*LargeScreenBehaviorText.value: 當輸入大畫面大小時，可以配置 5250 模擬器來自動移動視窗及/或減少字型大小 (必要的話)。當新的視窗不符合畫面大小時，會在現行位置處移動視窗及/或減少字型大小。

Miscpr52*PrintKeyLocationText.value: 除非利用鍵盤重新對映來置換，否則「列印」鍵的預設對映是系統列印功能，而「移位式列印」鍵是提供本端畫面列印功能。有些使用者可能喜歡用「列印」鍵來提供本端畫面列印功能，並使用「移位式列印」鍵來提供系統列印功能。

Miscpr32*PrintKeyLocationText.value: 除非利用鍵盤重新對映來置換，否則「列印」鍵的預設對映是 pa1 功能，而「移位式列印」鍵是提供本端畫面列印功能。有些使用者可能喜歡用「列印」鍵來提供本端畫面列印功能，並使用「移位式列印」鍵來提供 pa1 功能。

Miscpr32*BracketText.value: 啟用「方括弧」選項可讓您正確轉換方括弧字元。

Miscpr32*AutomaticReconnectText.value: 當使用者登出時，可以自畫面移除 3270 模擬器視窗或讓此視窗留在畫面上。如果留在畫面上，模擬器會自動嘗試重新連線到主機系統。

Miscpref*HotspotsText.value: 熱點是畫面位置，在熱點上按一下滑鼠指標時會執行動作。例如，若滑鼠指標停留在 PF1 或 F1，並且啟用熱點，則按一下的效果會與按下 F1 鍵相同。您可以停用熱點、按一下主要按鈕來啟用熱點，或連按兩下主要按鈕來啟用熱點。\
按一下主要按鈕停用或啟用熱點時，按兩下主要按鈕的效果會與按下 Enter 鍵相同。

Miscpref*TypeAheadText.value: 當鍵盤被鎖定後 (禁止輸入)，鍵盤緩衝會儲存鍵入的按鍵值。鍵盤解除鎖定後，就會處理這些按鍵。啟用鍵盤緩衝一律會強制開啟它。停用鍵盤緩衝一律會強制關閉它。

Miscpr52*ErrorResetKeysText.value: 可以在下面配置要重設錯誤的 5250 模擬器鍵。重設鍵和在錯誤行上按一下左滑鼠按鈕一律會重設錯誤。使用者也可以選擇使用游標移動鍵 (Tab 鍵、換行鍵、方向鍵、倒退鍵) 以及其他按下滑鼠動作也能重設錯誤。

Miscpref*HotspotHighlightText.value: 可以配置模擬器來強調顯示熱點。如果熱點和熱點強調顯示都已啟用，則會強調顯示畫面上的任何熱點。

Miscpref*DefaultCopyTypeText.value: 預設複製類型是與在主要滑鼠按鈕上按一下及拖曳操作相關聯的複製區域類型。它也是與鍵盤複製區域標示相關聯的複製類型。

Miscpref*TextTypeText.value:                                複製及貼上的文字類型

Miscpref*TextOrientationText.value: 複製及貼上的文字定向。選取您要複製至其中或從其中貼上之外部應用程式的文字定向或段落定向。

Miscpref*NumeralShapeText.value: 複製及貼上的數字外形。如果您要複製至其中或從其中貼上的外部應用程式只使用歐洲數字，請選取「表面」。如果應用程式會永遠使用印阿數字，請選取「國家」。如果數字的外觀視數字出現的區段而定，請選取「環境定義」模式。

Miscpr52*InsertModeText.value: 插入模式預設為「關閉」，而且除了插入鍵外，有時候應用程式和重設鍵會自動重設插入模式。可以停用這個插入模式的自動重設，而且可以藉由插入模式預設為「開啟」或預設為「關閉」來完成此工作。

Miscpr32*InsertModeText.value: 插入模式預設為「關閉」，而且除了插入鍵外，會透過與應用程式交談 (就像與 Enter 鍵互動) 有時候則是透過重設鍵，來自動重設插入模式。可以停用這個插入模式的自動重設，而且可以藉由插入模式預設為「開啟」或預設為「關閉」來完成此工作。

Miscpref*InputOnlyCursorMovementText.value: 只能配置方向鍵來移動到可輸入的位置。如果選擇的話，則方向鍵一律會將游標移動到可輸入的位置。如果這種位置不存在，則游標會移動到第一個畫面位置。

Miscpref*AudioAlarmText.value: 可以啟用或停用音效警告聲。當停用時，音效警告聲不會響起。

MiscprVT*AutoLineFeedText.value: 可以啟用或停用自動換行。啟用自動換行時，以應用程式來傳送換行字元、垂直跳格字元或換頁字元後，「VT 模擬器」會執行回車及換行。此外，產生新行的任何按鍵 (例如 Enter 鍵) 會將回車及換行傳送給應用程式。當停用時，在收到換行字元、垂直跳格字元或換頁字元後只會執行換行功能。當停用並按下 Enter 鍵後，只會將換行字元傳送給應用程式。

MiscprVT*AutoResizeText.value: 可以啟用或停用自動調整大小。

MiscprVT*AutoWrapAroundText.value: 可以啟用或停用自動換行模式。當啟用時，在游標到達畫面邊框之後，鍵入的字元會自動出現在下一行。若停用自動換行，則在游標到達邊框之後，鍵入的字元會取代位於行尾的字元。

MiscprVT*ClearScreenWithBlanksText.value: 可以選擇性地清除含有空白的畫面。

MiscprVT*ExitOnDisconnectText.value: 可以配置終端機在與主機中斷連線時結束。

MiscprVT*JumpScrollText.value: 可以配置終端機來執行跳躍捲動。藉由跳躍捲動，一次可以對畫面捲動數行。當傳送多行文字給終端機時，這樣可提供更快的畫面更新。可以跳躍捲動的行數上限為「VT 模擬器」視窗中的行數。

MiscprVT*MarginBellText.value: 可以配置終端機在使用者於右邊距處鍵入時響起鈴聲。

MiscprVT*MarginBellColumnText.value: 指定邊距鈴聲的直欄。

MiscprVT*ReverseWrapAroundText.value: 可以啟用或停用反向換行。反向換行允許游標從行的第一個位置折返到上一行的最後一個直欄，讓使用者倒退到上一行。也必須啟用自動換行才能使反向折返生效。

MiscprVT*VisibleStatusLineText.value: 可以使狀態行出現或隱藏。如果使狀態行出現，則會顯示在 VT 模擬器視窗底端的第 25 行。應用程式可以使用此行來顯示狀態資訊。當應用程式沒有使用此行時，會顯示游標列/直欄指示器。

MiscprVT*VisualBellText.value: 視覺化鈴聲 (畫面閃動) 可以替代聽得見的鈴聲。

!*************************************************************
!**     Preference Text Area Resources (Options area)       **
!**							    **
!*************************************************************

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton1.labelString: 底線游標

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton2.labelString: 區塊游標

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton3.labelString: 區塊插入游標，以底線取代游標

Miscpref*PreferenceTextFormForCursorStyle*ToggleButton4.labelString: 底線插入游標，以區塊取代游標

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton1.labelString: 使用預設的 Enter 鍵及右 Ctrl 鍵對映

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton2.labelString: Enter 鍵 = 輸入，右 Ctrl 鍵 = 新增一行

Miscpref*PreferenceTextFormForEnterKeyLocation*ToggleButton3.labelString: Enter 鍵 = 新增一行，右 Ctrl 鍵 = 輸入

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton4.labelString: Enter 鍵 = 輸入，右 Ctrl 鍵 = 欄位結束/新增一行

Miscpr52*PreferenceTextFormForEnterKeyLocation*ToggleButton5.labelString: Enter 鍵 = 欄位結束/新增一行，右 Ctrl 鍵 = 輸入

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton1.labelString: 啟用操作員錯誤的自動說明鍵

Miscpr52*PreferenceTextFormForAutomaticHelp*ToggleButton2.labelString: 停用操作員錯誤的自動說明鍵

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton1.labelString: 啟用藍色底線

Miscpr52*PreferenceTextFormForBlueUnderscore*ToggleButton2.labelString: 停用藍色底線

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton1.labelString: 顯示列直欄指示器

Miscpref*PreferenceTextFormForRowColumnIndicator*ToggleButton2.labelString: 不顯示列直欄指示器

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton1.labelString: 啟用刪除性倒退鍵

Miscpref*PreferenceTextFormForDestructiveBackspace*ToggleButton2.labelString: 停用刪除性倒退鍵

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton1.labelString: 停用尺規

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton2.labelString: 一律在游標處顯示尺規

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton3.labelString: 啟用尺規鍵 (不跟隨游標)

Miscpref*PreferenceTextFormForRuleLineEnable*ToggleButton4.labelString: 啟用尺規鍵 (跟隨游標)

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton1.labelString: 水平尺規與垂直尺規

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton2.labelString: 僅水平尺規

Miscpref*PreferenceTextFormForRuleLineStyle*ToggleButton3.labelString: 僅垂直尺規

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton1.labelString: 在游標處貼上

Miscpref*PreferenceTextFormForPasteStartLocation*ToggleButton2.labelString: 在滑鼠指標處貼上

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: 停用游標閃爍

Miscpref*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: 啟用游標閃爍

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton1.labelString: 不移動視窗或減少字型大小

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton2.labelString: 移動視窗並減少字型大小 (必要的話)

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton3.labelString: 只減少字型大小

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton4.labelString: 使用/記住大畫面字型

Miscpr52*PreferenceTextFormForLargeScreenBehavior*ToggleButton5.labelString: 減少字型大小並移動視窗 (必要的話)

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: 使用「列印」鍵的預設對映

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString: 列印 = 系統列印、移位式列印 = 本端列印

Miscpr52*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString: 列印 = 本端列印、移位式列印 = 系統列印

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton1.labelString: 使用「列印」鍵的預設對映

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton2.labelString: 列印 = pa1、移位式列印 = 本端列印

Miscpr32*PreferenceTextFormForPrintKeyLocation*ToggleButton3.labelString: 列印 = 本端列印、移位式列印 = pa1

Miscpr32*PreferenceTextFormForBracket*ToggleButton1.labelString: 停用方括弧轉換

Miscpr32*PreferenceTextFormForBracket*ToggleButton2.labelString: 啟用方括弧轉換

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton1.labelString: 登出後移除視窗

Miscpr32*PreferenceTextFormForAutomaticReconnect*ToggleButton2.labelString: 登出後保留視窗

Miscpref*PreferenceTextFormForHotspots*ToggleButton1.labelString: 停用熱點

Miscpref*PreferenceTextFormForHotspots*ToggleButton2.labelString: 按一下主要按鈕來啟用熱點

Miscpref*PreferenceTextFormForHotspots*ToggleButton3.labelString: 連按兩下主要按鈕來啟用熱點

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton1.labelString: 停用鍵盤緩衝

Miscpref*PreferenceTextFormForTypeAhead*ToggleButton2.labelString: 啟用鍵盤緩衝

Miscpr52*PreferenceTextFormForTypeAhead*ToggleButton3.labelString: 使用 i5/OS 主機設定

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton1.labelString: 僅在錯誤行上重設鍵或左滑鼠按鈕

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton2.labelString: 此外，還加上游標移動鍵和所有滑鼠按鈕

Miscpr52*PreferenceTextFormForErrorResetKeys*ToggleButton3.labelString: 大部份的按鍵和所有滑鼠按鈕

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton1.labelString: 停用熱點強調顯示

Miscpref*PreferenceTextFormForHotspotHighlight*ToggleButton2.labelString: 啟用熱點強調顯示

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton1.labelString: 線性複製

Miscpref*PreferenceTextFormForDefaultCopyType*ToggleButton2.labelString: 區塊複製

Miscpref*PreferenceTextFormForTextType*ToggleButton1.labelString:         邏輯文字

Miscpref*PreferenceTextFormForTextType*ToggleButton2.labelString:         視覺化文字

Miscpref*PreferenceTextFormForTextOrientation*ToggleButton1.labelString:  由左至右

Miscpref*PreferenceTextFormForTextOrientation*ToggleButton2.labelString:  由右至左

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton1.labelString:     表面

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton2.labelString:     國家

Miscpref*PreferenceTextFormForNumeralShape*ToggleButton3.labelString:     環境定義

Miscpref*PreferenceTextFormForInsertMode*ToggleButton1.labelString: 啟用自動重設的插入模式預設為「關閉」

Miscpref*PreferenceTextFormForInsertMode*ToggleButton2.labelString: 停用自動重設的插入模式預設為「關閉」

Miscpref*PreferenceTextFormForInsertMode*ToggleButton3.labelString: 停用自動重設的插入模式預設為「開啟」

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton1.labelString: 停用僅限輸入的游標移動

Miscpref*PreferenceTextFormForInputOnlyCursorMovement*ToggleButton2.labelString: 啟用僅限輸入的游標移動

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton1.labelString: 停用音效警告聲

Miscpref*PreferenceTextFormForAudioAlarm*ToggleButton2.labelString: 啟用音效警告聲

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton1.labelString: 停用游標閃爍

MiscprVT*PreferenceTextFormForCursorBlink*ToggleButton2.labelString: 啟用游標閃爍

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton1.labelString: 停用應用程式游標模式

MiscprVT*PreferenceTextFormForApplicationCursor*ToggleButton2.labelString: 啟用應用程式游標模式

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton1.labelString: 停用應用程式小鍵盤模式

MiscprVT*PreferenceTextFormForApplicationKeypad*ToggleButton2.labelString: 啟用應用程式小鍵盤模式

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton1.labelString: 停用自動換行

MiscprVT*PreferenceTextFormForAutoLineFeed*ToggleButton2.labelString: 啟用自動換行

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton1.labelString: 停用自動調整大小

MiscprVT*PreferenceTextFormForAutoResize*ToggleButton2.labelString: 啟用自動調整大小

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton1.labelString: 停用自動換行

MiscprVT*PreferenceTextFormForAutoWrapAround*ToggleButton2.labelString: 啟用自動換行

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton1.labelString: 停用清除含有空白的畫面

MiscprVT*PreferenceTextFormForClearScreenWithBlanks*ToggleButton2.labelString: 啟用清除含有空白的畫面

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton1.labelString: 停用在斷線時結束

MiscprVT*PreferenceTextFormForExitOnDisconnect*ToggleButton2.labelString: 啟用在斷線時結束

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton1.labelString: 停用跳躍捲動

MiscprVT*PreferenceTextFormForJumpScroll*ToggleButton2.labelString: 啟用跳躍捲動

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton1.labelString: 停用邊距鈴聲

MiscprVT*PreferenceTextFormForMarginBell*ToggleButton2.labelString: 啟用邊距鈴聲

MiscprVT*PreferenceTextFormForMarginBellColumn*textFieldLabel.labelString: 列尾的直欄

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton1.labelString: 停用反向換行

MiscprVT*PreferenceTextFormForReverseWrapAround*ToggleButton2.labelString: 啟用反向換行

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton1.labelString: 停用狀態行

MiscprVT*PreferenceTextFormForVisibleStatusLine*ToggleButton2.labelString: 啟用狀態行

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton1.labelString: 停用視覺化鈴聲

MiscprVT*PreferenceTextFormForVisualBell*ToggleButton2.labelString: 啟用視覺化鈴聲



!**************************************
!**   Messages at bottom of window   **
!**************************************

Miscpr52*MiscprefMsgHelpRequested:     5250 階段作業要求的說明。

Miscpr32*MiscprefMsgHelpRequested:     3270 階段作業要求的說明。

MiscprVT*MiscprefMsgHelpRequested:     「VT 模擬器」階段作業要求的說明。

Miscpref*MiscprefMsgPreferenceApplied: 暫時套用喜好設定。

Miscpref*MiscprefMsgPreferencesSaved:  已儲存喜好設定。

Miscpref*MiscprefMsgDefaultsApplied:   暫時套用預設喜好設定。

Miscpref*MiscprefMsgDefaultsNotSet:    未設定預設喜好設定。

Miscpref*MiscprefMsgNoAccess:          無法存取目錄。


Miscpref*MiscprefMsgNoMake:            無法建立目錄。

Miscpref*MiscprefMsgFileOpenError:     儲存時發生錯誤：無法開啟檔案。

Miscpref*MiscprefMsgFileWriteError:    儲存時發生錯誤：無法寫入檔案。



!********************************
!**  Dialog Box Resources      **
!********************************
Miscpref*exitDialog.dialogTitle:              結束警告

Miscpref*exitDialog.okLabelString:            儲存

Miscpref*exitDialog.cancelLabelString:        不儲存

! this cannot be much longer
Miscpref*exitDialog.messageString:            雜項喜好設定中有未儲存的變更。

Miscpref*setDefaultsDialog.dialogTitle:       設定預設警告

Miscpref*setDefaultsDialog.okLabelString:     是

Miscpref*setDefaultsDialog.cancelLabelString: 否

! this cannot be much longer
Miscpref*setDefaultsDialog.messageString:     確定要將所有喜好設定設為它們的預設值嗎？
/*******************************************************************************
**  saveDialog resource
*******************************************************************************/
MiscprVT*saveDialog.dialogTitle: 儲存選項

MiscprVT*saveDialog*saveDialogTitle.labelString: 選擇儲存選項。

MiscprVT*saveDialog*saveChangedOnly.labelString: 僅儲存變更的喜好設定

MiscprVT*saveDialog*saveAll.labelString: 儲存所有喜好設定

MiscprVT*saveDialog*saveButton.labelString: 儲存

MiscprVT*saveDialog*cancelButton.labelString: 取消
! ENGL1SH_VERS10N 1.4.2.1 DO NOT REMOVE OR CHANGE THIS LINE
