Package: cmdline
Version: 2.1-1
Architecture: i386
Maintainer: Joern Frenzel <j.frenzel@openthinclient.com>
Installed-Size: 10
Depends: base (>= 2.0)
Section: unknown
Priority: optional
Description: General commandline application for TCOS
 General commandline wrapper
